<template>
  <masterLayout>
    <section>
      <div class="pageintro">
        <div class="pageintro-bg">
          <picture>
            <source srcset="/frontend/images/bg-page_01_m.jpg" media="(max-width: 640px)">
            <Img src="/frontend/images/bg-page_03.jpg" alt="About Us" />
          </picture>
        </div>
        <div class="pageintro-body">
          <h1 class="pageintro-title">聯絡我們</h1>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="contact-info-wrapper d-none d-lg-block">
          <div class="contact-info">
            <div class="contact-item">
              <div class="contact-icon">
                <Img src="/frontend/images/icon/contact_location.png" />
              </div>
              <div class="contact-text">
                台中市南屯區五權西路二段929號
              </div>
            </div>
            <div class="contact-item">
              <div class="contact-icon">
                <Img src="/frontend/images/icon/contact_phone.png" />
              </div>
              <div class="contact-text">
                0800-263-896
              </div>
            </div>
            <div class="contact-item">
              <div class="contact-icon">
                <Img src="/frontend/images/icon/contact_email.png" />
              </div>
              <div class="contact-text">
                info@thatinventions.com
              </div>
            </div>

          </div>
        </div>

      </div>
    </section>
    <section class="contact-page">
      <div class="container p-b-50">
        <div class="port-title">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-12">

                <p class="title-detail">想進一步瞭解奇想生活的產品或服務，
                  或是對奇想生活有任何寶貴意見，都歡迎您與我們聯繫，我們將竭誠為您服務！</p>

              </div>
            </div>
          </div>
        </div>
        <div class="port-body">
          <div class="contact-form">
            <div class="messages" id="status"></div>
            <form id="contact-form">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group au-form">
                    <div class="help-block with-errors"></div>
                    <input type="text" id="name" name="name" placeholder="姓名 *" required data-error="Name is required.">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group au-form">
                    <div class="help-block with-errors"></div>
                    <input type="email" id="email" name="email" placeholder="電子信箱 *" required
                      data-error="Please, enter a valid email.">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group au-form">
                    <div class="help-block with-errors"></div>
                    <input type="text" id="address" name="address" placeholder="電話 *" required
                      data-error="Address is required">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group au-form">
                    <div class="help-block with-errors"></div>
                    <input type="text" id="phone" name="phone" placeholder="主旨 *" required
                      data-error="Phone is required">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group au-form">
                    <div class="help-block with-errors"></div>
                    <textarea rows="9" placeholder="Your Message" id="msg" name="msg" required
                      data-error="內容"></textarea>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group au-form">
                    <button type="submit" id="contactBtn" class="mx-auto">送出</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </masterLayout>
</template>