<template>
  <tr class="cart_table_item">
    <td class="product-name">
      <div class="pro-item">
        <label>
          <input name="form-field-radio" type="checkbox" class="ace input-lg" v-model="form.isSelect">
          <span class="lbl">
            <Img :src="datas.photo" class="item-thumbs" />
          </span>
        </label>
        <div class="item-info">
          <strong v-rHtml:text="datas.name">手工訂製美甲 優惠現貨特價款 不退不換</strong>
          <div class="spec" v-rHtml:text="datas.spec">經典款 <small>/</small> XL</div>
        </div>
      </div>
    </td>
    <td data-th="數量" class="product-quantity">
      <div class="quantity">
        <span class="sub" @click.prevent="changeAmount('-')">
          <i class="fa fa-angle-down"></i>
        </span>
        <input type="number" class="form-control" v-model="form.amount">
        <span class="add" @click.prevent="changeAmount('+')">
          <i class="fa fa-angle-up"></i>
        </span>
      </div>
    </td>
    <td data-th="單價" class="product-subtotal" v-rHtml:text="'$' + datas.price">$1,980</td>
  </tr>
  <tr class="cart_table_item table_form">
    <td colspan="3">
      <div class="row">
        <div class="col-md-10">
          <div class="form-row">
            <label class="col-sm-3 col-form-label"><small>*</small>原因：</label>
            <div class="col-sm-9 controls">
              <select v-model="form.reason" class="form-control">
                <option value="請選擇退貨原因">請選擇退貨原因</option>
                <option value="尺寸版型不合/顏色不喜歡">尺寸版型不合/顏色不喜歡</option>
                <option value="比價後價格偏高">比價後價格偏高</option>
                <option value="出貨錯誤">出貨錯誤</option>
                <option value="對商品有疑慮">對商品有疑慮</option>
                <option value="商品狀態不良">商品狀態不良</option>
                <option value="無法依照指定時間到貨">無法依照指定時間到貨</option>
                <option value="操作錯誤">操作錯誤</option>
                <option value="其他">其他</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <div class="form-row">
            <label class="col-sm-3 col-form-label"><small>*</small>備註：</label>
            <div class="col-sm-9 controls">
              <textarea class="form-control" v-model="form.note" rows="3" placeholder="請輸入備註"></textarea>
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <div class="form-row">
            <label class="col-sm-3 col-form-label"><small>*</small>圖片：</label>
            <div class="col-sm-9 controls">
              <div class="product-upload">
                <div class="row">
                  <div class="col-sm-6 col-12" v-for="(item, key) in form.files">
                    <div class="item">
                      <readImg :file="item" />
                      <a href="#" class="close" @click.prevent="delImg(key)"><i class="fa fa-times"></i></a>
                    </div>
                  </div><!-- img item end -->
                </div>
                <label for="f">
                  <span class="btn btn-sm">上傳檔案</span>
                  <input id="f" type="file" style="display: none;" multiple="multiple" @change="uploadImg">
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </td>
  </tr>
</template>
<script>
import { watchEffect, reactive, computed } from 'vue'
import readImg from './readImg'
export default {
  emits: ["val"],
  setup(props, context) {
    const form = reactive({
      reason: '請選擇退貨原因',
      note: '',
      amount: 0,
      maxAmount: 0,
      files: [],
      id: '',
      isSelect: false
    })

    let datas = computed(() => {
      let data = props.data
      form.id = data.id
      form.maxAmount = data.amount
      return data
    })

    const uploadImg = el => {
      el = el.currentTarget
      if (typeof el.files == 'undefined') return false;
      form.files = Array.from(el.files)
    }

    const delImg = (key) => {
      const newFiles = Object.assign([], form.files)
      form.files = newFiles.filter((i, k) => k !== key)
    }

    watchEffect(() => {
      let newForm = Object.assign({}, form)
      if (typeof datas == 'undefined') return false
      context.emit('val', newForm)
    })
    
    const changeAmount = (type = '-') => {
      if (type == '-' && form.amount > 0) form.amount--
      else if (type == '+' && form.maxAmount > form.amount) form.amount++
    }

    return {
      datas, form,
      uploadImg, delImg,
      changeAmount
    }
  },
  props: {
    data: {
      type: Object,
      default: {}
    }
  },
  components: {
    readImg
  }
}
</script>