<template>
  <span ref="ele"></span>
</template>
<script>
import { ref, onMounted, watchEffect, computed } from 'vue'
export default {
  setup(props, context) {
    const ele = ref(null)

    function rs () {
      const files = props.file
      const el = ele.value
      if(typeof el === 'undefined') return false
      let reader = new FileReader();
      reader.onload = r => {
        $(el).html(`<img src="${r.target.result}" />`)
      }
      reader.readAsDataURL(files)
    }

    watchEffect(() => {
      rs()
    })

    return {
      ele
    }
  },
  props: {
    file: {}
  }
}
</script>