<template>
  <AppLayout>
    <template #header>
      <h2 class="content-header-title mb-0">新增商品</h2>
      <div class="breadcrumb-wrapper">
        <ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">平台首頁</a></li>
          <li class="breadcrumb-item"><a href="#">商品管理</a></li>
          <li class="breadcrumb-item active">新增商品</li>
        </ol>
      </div>
    </template>

    <template #default>
      <div class="content-body">
        <form class="form form-horizontal">

          <InfoSection/>
          <ShippingSection/>
          <SaleSection/>
          <CategorySection/>
          <SettingSection/>

          <div class="card card-action card-fix">
            <div class="card-body">
              <a class="btn btn-primary btn-lg"
                @click="submit"
              >儲存</a>
              <button type="reset" class="btn btn-secondary btn-lg">取消</button>
            </div>
          </div>
        </form>
      </div>
    </template>
  </AppLayout>
</template>

<script>
import AppLayout from "@/Supplier/Layouts/AppLayout"
import InfoSection from "./Components/InfoSection"
import ShippingSection from "./Components/ShippingSection"
import SaleSection from "./Components/SaleSection"
import CategorySection from "./Components/CategorySection"
import SettingSection from "./Components/SettingSection"
import useVuelidate from '@vuelidate/core'
import { provide, reactive, readonly } from "vue"

export default {
  setup () {
    const uuid = nanoid()
    const form = reactive({
      name: '',
      intro: '',
      description: '',
      profitSharingId: '',
      photo: {
        files: [],
        items: []
      },
      spec: {
        type: 'none',
        list: [
          {
            id: null,
            name: '無',
            action: 'added',
            options: [
              { id: null, uuid: uuid, name: '無', sort: 1, action: 'added' },
            ]
          }
        ]
      },
      models: [
        {
          id: null,
          names: ['無'],
          uuids: [uuid],
          sku: '',
          price: {
            original: 0,
            special: 0
          },
          stock: {
            setup: 0,
            surplus: 0,
            safety: 0
          },
          action: 'added'
        }
      ],
      preservationWay: 'normal',
      active: true,
      keywords: [],
      publishDate: {
        start: new Date(2020, 9, 12),
        end: new Date(2020, 9, 16),
      },
      shippingMethods: []
    })

    provide("product", form)

    return { v$: useVuelidate(), form }
  },

  components: {
    AppLayout,
    InfoSection,
    ShippingSection,
    SaleSection,
    CategorySection,
    SettingSection
  },

  methods: {
    submit () {
      this.v$.$touch()
      if (! this.v$.$invalid) {
        this.$inertia
          .form(this.form)
          .transform((data) => ({
            ...data,
            profit_sharing_id: this.form.profitSharingId,
            preservation_way: this.form.preservationWay,
            keywords: this.form.keywords.join(','),
            publish_date_start_at: this.form.publishDate.start,
            publish_date_end_at: this.form.publishDate.end,
            spec_type: this.form.spec.type
          }))
          .post(this.route('supplier.products'), {
            preserveScroll: true,
            onSuccess: () => window.location = this.route('supplier.products')
          })
      }
    },
  },
}
</script>
