<template>
  <AppLayout>
    <template #header>
      <h2 class="content-header-title mb-0">編輯商品</h2>
      <div class="breadcrumb-wrapper">
        <ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">平台首頁</a></li>
          <li class="breadcrumb-item"><a href="#">商品管理</a></li>
          <li class="breadcrumb-item active">編輯商品</li>
        </ol>
      </div>
    </template>

    <template #default>
      <div class="content-body">
        <form class="form form-horizontal">

          <InfoSection/>
          <ShippingSection/>
          <SaleSection/>
          <CategorySection/>
          <SettingSection/>

          <div class="card card-action card-fix">
            <div class="card-body">
              <a class="btn btn-primary btn-lg"
                @click="submit"
              >儲存</a>
              <button type="reset" class="btn btn-secondary btn-lg">取消</button>
            </div>
          </div>
        </form>
      </div>
    </template>
  </AppLayout>
</template>

<script>
import _ from "lodash"
import AppLayout from "@/Supplier/Layouts/AppLayout"
import InfoSection from "./Components/InfoSection"
import ShippingSection from "./Components/ShippingSection"
import SaleSection from "./Components/SaleSection"
import CategorySection from "./Components/CategorySection"
import SettingSection from "./Components/SettingSection"
import useVuelidate from '@vuelidate/core'
import { provide, reactive, readonly } from "vue"

export default {
  props: {
    product: Object
  },

  setup (props) {
    const form = reactive(props.product.data)

    provide("product", form)

    return { v$: useVuelidate(), form }
  },

  components: {
    AppLayout,
    InfoSection,
    ShippingSection,
    SaleSection,
    CategorySection,
    SettingSection
  },

  methods: {
    submit () {
      this.v$.$touch()
      if (! this.v$.$invalid) {
        this.$inertia
          .form(this.form)
          .transform((data) => ({
            ...data,
            profit_sharing_id: this.form.profitSharingId,
            preservation_way: this.form.preservationWay,
            keywords: this.form.keywords.join(','),
            publish_date_start_at: this.form.publishDate.start,
            publish_date_end_at: this.form.publishDate.end,
            spec_type: this.form.spec.type,
            categories: this.form.categories,
            categorySpecOptions: this.form.categorySpecOptions
          }))
          .put(this.route('supplier.products.update', this.product.data.id), {
            preserveScroll: true,
            onSuccess: () => window.location = this.route('supplier.products')
          })
      }
    },
  },
}
</script>
