<template>
  <AppLayout>
    <template #header>
      <h2 class="content-header-title mb-0">商品列表</h2>
      <div class="breadcrumb-wrapper">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">平台首頁</a></li>
          <li class="breadcrumb-item active">商品列表</li>
        </ol>
      </div>
    </template>

    <template #default>
      <SearchSection
        :url="route('supplier.products')"
      >
        <div class="col-lg-7 col-md-7 col-12">
          <FilterTextInputMultiple
            useClass="form-control"
            placeholder="關鍵字"
            fields="name:商品名稱,no:商品貨號"
          />
        </div>
        <div class="col-lg-5 col-md-5 col-12">
          <div class="form-group">
            <label for="itemname">平台分類</label>

              <div class="controls">
                  <div class="form-control">
                  <a data-toggle="modal" data-target="#selectCategoriesModal">請選擇分類</a>
                  </div>
                  <div class="category-selected">
                      <ul class="tag-list">
                        <li
                          v-for="(category, index) in searchData.categories"
                          :key="index"
                          @click="$refs.selectCategoryModalRef.removeCheckedCategory(index)"
                        ><span>{{category.name}}</span><a><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></a></li>
                    </ul>
                  </div>
              </div>
          </div>
        </div>
        <div class="col-lg-7 col-md-7 col-12">
          <div class="form-group">
            <label for="itemname">發佈狀態</label>
            <div class="controls">
              <FilterSelectInput
                useClass="form-control"
                fields="active"
              >
                <option value="">請選擇狀態</option>
                <option value="1">發佈</option>
                <option value="0">未發佈</option>
              </FilterSelectInput>
            </div>
          </div>
        </div>
      </SearchSection>
      <TableSection
        :pagination="pagination"
      >
        <template #head>
          <div class="col-lg-7 col-12 button-group-l mb-1 hidden-xs">
            <inertia-link class="btn btn-primary"
              :href="route('supplier.products.create')"
            ><VueFeather type="plus"></VueFeather><span>新增商品</span></inertia-link>
            <button type="submit" class="btn btn-primary"
              @click="replicate()"
            ><VueFeather type="copy"></VueFeather><span>複製</span></button>
            <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#impportProductModal"><i class="fas fa-file-import"></i><span>商品匯入</span></button>
            <button type="submit" class="btn btn-primary"><VueFeather type="info"></VueFeather><span>匯入說明</span></button>
            <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#editSpecsModal"
              @click="quickEditor()"
            ><VueFeather type="edit-3"></VueFeather><span>快速編輯</span></button>
          </div>
          <div class="col-lg-5 col-12 button-group-r mb-1 hidden-xs">
            <button type="button" class="btn btn-outline-primary"
              @click="action('published')"
            ><VueFeather type="check"></VueFeather><span>開啟發佈</span></button>
            <button type="button" class="btn btn-outline-primary"
              @click="action('unpublished')"
            ><VueFeather type="x"></VueFeather><span>停止發佈</span></button>
            <button type="button" class="btn btn-outline-primary"
              @click="action('delete')"
            ><VueFeather type="trash-2"></VueFeather><span>刪除</span></button>
          </div>
          <div class="col-12 dropdown d-none mb-1 show-xs">
            <button class="btn btn-primary btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><VueFeather type="settings"></VueFeather></button>
            <div class="dropdown-menu dropdown-menu-left">
              <inertia-link class="dropdown-item btn btn-primary"
                :href="route('supplier.products.create')"
              ><VueFeather type="plus"></VueFeather><span>新增商品</span></inertia-link>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item btn btn-primary" href="#" data-toggle="modal" data-target="#impportProductModal"><i class="fas fa-file-import"></i><span>商品匯入</span></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item btn btn-primary" href="#"><VueFeather type="info"></VueFeather><span>匯入說明</span></a>
            </div>
          </div>
        </template>
        <template #thead>
          <tr>
            <th class="dt-checkboxes-cell dt-checkboxes-select-all sorting_disabled hidden-xs" aria-label="">
              <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" id="checkboxSelectAll"
                  :checked="picked"
                  @click="pickAll"
                >
                <label class="custom-control-label" for="checkboxSelectAll"></label>
              </div>
            </th>
            <th class="number"> 序號 </th>
            <th class="product-img"> 圖片 </th>
            <th class="product-name sorting"> 商品名稱 </th>
            <th class="cate-tree"> 平台分類 </th>
            <th> 發佈狀態 </th>
            <th> 規格 / <small>$</small> 優惠價 / <small><i class="fas fa-archive"></i></small> 庫存 </th>
            <th class="rwd-action"> 操作 </th>
          </tr>
        </template>
        <template #tbody>
          <ProductListingSection
            v-for="(product, index) in products"
            :ref="setItemRef"
            :key="index"
            :index="index"
            :product="product"
            :currentPage="pagination.meta.current_page"
            :perPage="pagination.meta.per_page"
            :categories="categories"
          ></ProductListingSection>
        </template>
      </TableSection>
    </template>

    <template #models>
      <QuickEditor></QuickEditor>
      <ImportProductModal></ImportProductModal>
      <SelectCategoriesModal
        :categories="categories"
        ref="selectCategoryModalRef"
      ></SelectCategoriesModal>
    </template>
  </AppLayout>
</template>

<script>
import AppLayout from "@/Supplier/Layouts/AppLayout";
import SearchSection from "@/Supplier/Shared/SearchSection";
import TableSection from "@/Supplier/Shared/TableSection";
import FilterTextInputMultiple from "@/Utils/filters/components/TextInputMultiple";
import FilterSelectInput from "@/Utils/filters/components/SelectInput";
import ProductListingSection from "./Components/ProductListingSection";
import QuickEditor from "./Components/QuickEditor";
import ImportProductModal from "./Components/ImportProductModal";
import SelectCategoriesModal from "./Components/SelectCategoriesModal"
import { mapMutations } from "vuex";
import categoryData from "@/Utils/Composables/categoryData"
import { provide, reactive, readonly } from "vue"

export default {

  setup () {
    const searchData = reactive({})

    provide("searchData", searchData)

    return { searchData }
  },

  components: {
    AppLayout,
    SearchSection,
    TableSection,
    ProductListingSection,
    FilterTextInputMultiple,
    FilterSelectInput,
    QuickEditor,
    ImportProductModal,
    SelectCategoriesModal
  },

  data() {
    return {
      picked: false,
      itemRefs: [],
      categories: [],
    }
  },

  computed: {
    products: function () {
      return this.$page.props.products.data
    },
    pagination: function () {
      return {
        'url': this.route('supplier.products'),
        'meta': this.$page.props.products.meta,
        'links': this.$page.props.products.links,
      }
    }
  },

  async created() {
    await this.initCategories()
  },

  watch: {
    picked(value) {
      this.itemRefs.forEach((item, index) => {
        item.pickMe(value)
      })
    },
  },

  methods: {
    pickAll () {
			this.picked = !this.picked
    },
    setItemRef (el) {
      if (el) {
        this.itemRefs.push(el)
      }
    },
    action (action) {
      const picked = this.$store.state.pickup.picked
      const values = picked.flatMap(item => [item.id])

      this.$inertia.patch(this.route('supplier.products.batch'), {
        action,
        ids: values
      }, {
        preserveScroll: true,
        preserveState: false
      })
    },
    replicate () {
      const picked = this.$store.state.pickup.picked
      if (picked.length) {
        const values = picked.flatMap(item => [item.id])

        this.$inertia.post(this.route('supplier.products.replicate'), {
          ids: values
        }, {
          preserveScroll: true,
          preserveState: false,
          onFinish: () => {
            this.$inertia.reload({ only: ['products'] })
          }
        })
      } else {
        this.$swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: '請選擇要複製的商品',
        })
      }
    },
    quickEditor () {
      const picked = this.$store.state.pickup.picked
      const values = picked.flatMap(item => [item.id])

      this.$inertia.get(this.route('supplier.products.models.edit'), {
        ids: values
      }, {
        preserveScroll: true,
        preserveState: true
      })
    },
    initCategories() {
      return categoryData.getAll().then((response) => {
        this.categories = response.data.data
      })
    },
    ...mapMutations('pickup', [
      'pick',
      'clearPicked'
    ]),
  },

  beforeUpdate() {
    this.itemRefs = []
  },
}
</script>
