<template>
  <Modal
    @hideModal="hideModal()"
  >
    <template #title>新增管理者帳號</template>
    <template #body>
      <form class="form form-horizontal">
        <div class="row">
          <div class="col-12">
            <div class="form-group row">
              <div class="col-sm-3 col-form-label">
                <label for="account">帳號<span class="required">*</span></label>
              </div>
              <div class="col-sm-9 controls">
                <input type="text" class="form-control" name="account" placeholder=""
                  v-model.trim="v$.form.account.$model"
                  :class="{ 'is-invalid': v$.form.account.$error || v$.checking.$invalid }"
                >
                <div class="invalid-tooltip" v-if="invalid(v$.form.account, 'required')">請輸入帳號</div>
                <div class="invalid-tooltip" v-if="invalid(v$.form.account, 'minLength')">帳號的格式錯誤</div>
                <div class="invalid-tooltip" v-if="invalid(v$.form.account, 'maxLength')">帳號的格式錯誤</div>
                <div class="invalid-tooltip" v-if="invalid(v$.form.account, 'alphaNum')">帳號的格式錯誤</div>
                <div class="invalid-tooltip" v-if="invalid(v$.form.account, 'lowerCase')">帳號的格式錯誤</div>
                <div class="invalid-tooltip" v-if="v$.checking.$invalid">帳號已存在</div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group row">
              <div class="col-sm-3 col-form-label">
                <label for="password">密碼<span class="required">*</span></label>
              </div>
              <div class="col-sm-9 controls">
                <CovertPassword class="form-control"
                  v-model.trim="v$.form.password.$model"
                  :class="{ 'is-invalid': v$.form.password.$error }"
                ></CovertPassword>
                <div class="invalid-tooltip" v-if="invalid(v$.form.password, 'required')">請輸入密碼</div>
                <div class="invalid-tooltip" v-if="invalid(v$.form.password, 'passwordValidate')">密碼的格式錯誤</div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group row">
              <div class="col-sm-3 col-form-label">
                <label for="name">姓名<span class="required">*</span></label>
              </div>
              <div class="col-sm-9 controls">
                <input type="text" class="form-control" name="name" placeholder=""
                  v-model.trim="v$.form.name.$model"
                  :class="{ 'is-invalid': v$.form.name.$error }"
                >
                <div class="invalid-tooltip" v-if="invalid(v$.form.name, 'required')">請輸入姓名</div>
                <div class="invalid-tooltip" v-if="invalid(v$.form.name, 'minLength')">姓名的格式錯誤</div>
                <div class="invalid-tooltip" v-if="invalid(v$.form.name, 'maxLength')">姓名的格式錯誤</div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group row">
              <div class="col-sm-3 col-form-label">
                <label for="email-id">Email<span class="required">*</span></label>
              </div>
              <div class="col-sm-9 controls">
                <input type="email" class="form-control" name="email" placeholder=""
                  v-model.trim="v$.form.email.$model"
                  :class="{ 'is-invalid': v$.form.email.$error }"
                >
                <div class="invalid-tooltip" v-if="invalid(v$.form.email, 'required')">請輸入E-mail</div>
                <div class="invalid-tooltip" v-if="invalid(v$.form.email, 'minLength')">E-mail格式錯誤</div>
                <div class="invalid-tooltip" v-if="invalid(v$.form.email, 'maxLength')">E-mail格式錯誤</div>
                <div class="invalid-tooltip" v-if="invalid(v$.form.email, 'email')">E-mail格式錯誤</div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group row">
              <div class="col-sm-3 col-form-label">
                <label for="email-id">啟用狀態</label>
              </div>
              <div class="col-sm-9 controls">
                <div class="custom-control custom-control-primary custom-switch"
                  @click="form.active = !form.active"
                >
                  <input type="checkbox" class="custom-control-input"
                    :checked="form.active"
                  />
                  <label class="custom-control-label" for="Switch5"></label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </template>
    <template #footer>
      <button type="button" class="btn btn-primary"
        @click="submit"
        :disabled="processing"
      >確定新增</button>
      <button type="button" class="btn btn-secondary"
        @click="hideModal()"
      >取消</button>
    </template>
  </Modal>
</template>

<script>
import useVuelidate from '@vuelidate/core'
import Modal from "@/Utils/Components/Modal/Modal"
import CovertPassword from "@/Utils/Components/CovertPassword"
import { mixinModal } from "@/Utils/Components/Modal/mixin"
import { helpers, required, requiredIf, email,between, minLength, maxLength, numeric, alphaNum } from '@vuelidate/validators'
import { invalid } from '@/Utils/validate'

export default {
  mixins: [mixinModal],

  setup () { return { v$: useVuelidate(), invalid } },

  components: {
    Modal,
    CovertPassword
  },

  data () {
    return {
      form: this.$inertia.form({
        account: '',
        name: '',
        email: '',
        password: '',
        active: true
      }),
      checking: '',
      processing: false,
      existed: false,
      lowerCase: helpers.regex(/^[a-z0-9]*$/),
      passwordValidate: helpers.regex(/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[\t\n ./<>?;:"'`!@#$%^&*()\[\]{}_+=|\\-]).{6,16}$/)
    }
  },

  created: function () {
    this.debouncedCheckAccount = _.debounce(this.checkAccount, 500)
  },

  watch: {
    "form.account": function () {
      this.debouncedCheckAccount()
    },
  },

  methods: {
    submit () {
      this.v$.$touch()
      if (!this.v$.$invalid) {
        this.form
          .post(this.route('admin.accounts'), {
            preserveScroll: true,
            preserveState: false,
            onSuccess: () => {
              this.hideModal()
              this.resetData()
            }
          })
      }
    },
    checkAccount () {
      if (this.form.account && !this.v$.form.account.$error) {
        this.$inertia.post(this.route('admin.accounts.checking'), {
          'account': this.form.account
        }, {
          preserveScroll: true,
          onStart: () => this.processing = true,
          onFinish: () => {
            this.processing = false
            if (this.$page.props.data?.exists) {
              this.existed = true
            } else {
              this.existed = false
            }
          }
        })
      }
    },
    reset () {
      this.form.reset()
      this.v$.$reset()
    }
  },

  validations () {
    return {
      form: {
        account: {
          required,
          minLength: minLength(6),
          maxLength: maxLength(16),
          alphaNum,
          lowerCase: this.lowerCase
        },
        name: {
          required
        },
        email: {
          required,
          minLength: minLength(6),
          maxLength: maxLength(30),
          email
        },
        password: {
          required,
          passwordValidate: this.passwordValidate
        }
      },
      checking: {
        nonexistence (value) {
          if (this.existed) {
            return false
          }
          return true
        }
      }
    }
  }
}
</script>
