<template>
  <Modal
    @hideModal="hideModal"
  >
    <template #title>編輯管理者帳號</template>
    <template #body>
      <form class="form form-horizontal">
        <div class="row">
          <div class="col-12">
            <div class="form-group row">
              <div class="col-sm-3 col-form-label">
                <label for="account">帳號<span class="required">*</span></label>
              </div>
              <div class="col-sm-9 controls">
                <span class="value">{{ data.account }}</span>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group row">
              <div class="col-sm-3 col-form-label">
                <label for="password">修改密碼</label>
              </div>
              <div class="col-sm-9 controls">
                <div class="custom-control custom-control-primary custom-switch mb-50">
                  <input type="checkbox" class="custom-control-input"
                    :checked="beChanged"
                  />
                  <label class="custom-control-label"
                    @click="beChanged = !beChanged"
                  ></label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12"
            v-if="beChanged"
          >
            <div class="form-group row">
              <div class="col-sm-3 col-form-label">
                <label for="password">密碼<span class="required">*</span></label>
              </div>
              <div class="col-sm-9 controls">
                <input type="password" class="form-control" placeholder=""
                  v-model.trim="v$.form.password.$model"
                  :class="{ 'is-invalid': v$.form.password.$error }"
                >
              <div class="invalid-tooltip" v-if="invalid(v$.form.password, 'required')">請輸入密碼</div>
              <div class="invalid-tooltip" v-if="invalid(v$.form.password, 'passwordValidate')">密碼的格式錯誤</div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group row">
              <div class="col-sm-3 col-form-label">
                <label for="name">姓名<span class="required">*</span></label>
              </div>
              <div class="col-sm-9 controls">
                <input type="text" class="form-control" name="name" placeholder=""
                  v-model.trim="v$.form.name.$model"
                  :class="{ 'is-invalid': v$.form.name.$error }"
                >
                <div class="invalid-tooltip" v-if="invalid(v$.form.name, 'required')">請輸入姓名</div>
                <div class="invalid-tooltip" v-if="invalid(v$.form.name, 'minLength')">姓名的格式錯誤</div>
                <div class="invalid-tooltip" v-if="invalid(v$.form.name, 'maxLength')">姓名的格式錯誤</div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group row">
              <div class="col-sm-3 col-form-label">
                <label for="email-id">Email<span class="required">*</span></label>
              </div>
              <div class="col-sm-9 controls">
                <input type="email" class="form-control" name="email" placeholder=""
                  v-model.trim="v$.form.email.$model"
                  :class="{ 'is-invalid': v$.form.email.$error }"
                >
                <div class="invalid-tooltip" v-if="invalid(v$.form.email, 'required')">請輸入E-mail</div>
                <div class="invalid-tooltip" v-if="invalid(v$.form.email, 'minLength')">E-mail格式錯誤</div>
                <div class="invalid-tooltip" v-if="invalid(v$.form.email, 'maxLength')">E-mail格式錯誤</div>
                <div class="invalid-tooltip" v-if="invalid(v$.form.email, 'email')">E-mail格式錯誤</div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group row">
              <div class="col-sm-3 col-form-label">
                <label for="switchActive">啟用狀態</label>
              </div>
              <div class="col-sm-9 controls">
                <div class="custom-control custom-control-primary custom-switch">
                  <input type="checkbox" class="custom-control-input"
                    :checked="form.active"
                  />
                  <label class="custom-control-label"
                    @click="form.active = !form.active"
                  ></label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </template>
    <template #footer>
      <button class="btn btn-primary"
        @click="submit"
      >確定</button>
      <button class="btn btn-secondary"
        @click="hideModal()"
      >取消</button>
    </template>
  </Modal>
</template>

<script>
import useVuelidate from '@vuelidate/core'
import Modal from "@/Utils/Components/Modal/Modal"
import { mixinModal } from "@/Utils/Components/Modal/mixin"
import { helpers, required, requiredIf, sameAs, email,between, minLength, maxLength, numeric, alphaNum } from '@vuelidate/validators'
import { invalid } from '@/Utils/validate'

export default {
  mixins: [mixinModal],

  setup () { return { v$: useVuelidate(), invalid } },

  components: {
    Modal
  },

  props: {
    data: [Object, String],
  },

  data() {
    return {
      beChanged: false,
      form: {},
      passwordValidate: helpers.regex(/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[\t\n ./<>?;:"'`!@#$%^&*()\[\]{}_+=|\\-]).{6,16}$/)
    }
  },

  watch: {
    data: {
      handler: function () {
        this.form = this.$inertia.form({
          account: this.data.account,
          name: this.data.name,
          email: this.data.email,
          password: '',
          active: this.data.active
        })
      },
      deep: true,
    },
  },

  methods: {
    submit () {
      this.v$.$touch()
      if (!this.v$.$invalid) {
        this.form
          .transform((data) => ({
            ...data,
            password_change: this.beChanged
          })).put(this.route('admin.accounts.update', this.data.id), {
            preserveScroll: true,
            onSuccess: () => {
              this.hideModal()
              this.form.reset()
            }
          })
      }
    },
    changePassword () {
      this.beChange = !this.beChange
    },
    reset () {
      this.beChanged = false
      this.v$.$reset()
    }
  },

  validations () {
    return {
      form: {
        name: {
          required
        },
        email: {
          required,
          minLength: minLength(6),
          maxLength: maxLength(30),
          email
        },
        password: {
          required: requiredIf(function(){
            return this.beChanged
          }),
          passwordValidate: this.passwordValidate
        }
      }
    }
  }
}
</script>
