<template>
  <masterLayout>
    <section class="page-content">
      <div class="container">
        <Navigation :data="nav" />
        <div class="product-detail">
          <div class="shop-product">
            <div class="row">
              <div class="col-md-5">
                <div class="single-r-wrapper">
                  <Slide :datas="productData.photo" />
                </div>
              </div>
              <div class="col-md-7">
                <div class="product-body">
                  <h3 class="name" v-rHtml:text="productData.name">
                    懶惰貓星人 防摔IPAD保護套 附筆槽位
                  </h3>
                  <div class="price" v-rHtml="tPrice(productData.price)">
                    <span class="old-price">$1080</span>
                    <span class="new-price">
                      <small>$</small> 3,690
                    </span>
                  </div>
                  <div class="description" v-rHtml="productData.intro">
                    <p>下雨天也能擁有好心情<br>
                      趕緊入手一雙時尚雨靴就對了!<br>
                      PVC防水橡膠材質雨天不怕水<br>
                      一體成型的結構完美打造鞋身<br>
                      簡單的素面造型具有高度的搭配性<br>
                      防滑耐磨橡膠鞋底，有效降低打滑危機<br>
                      絕對是鞋櫃內不能缺少的時尚單品!</p>
                  </div>
                  <div class="pro-payment">
                    <ul>
                      <li v-for="(item) in productData.paymentMethods">
                        付款方式：<Img src="/frontend/images/icon/family-logo.png" alt="" /> {{item.name}}
                      </li>
                      <li v-for="(item) in productData.shippingMethods">
                        運送方式：<Img src="/frontend/images/icon/family-logo.png" alt="" /> {{item.name}}
                      </li>
                    </ul>
                  </div>
                  <ProductSpec :data="productData.specData" @form="f => getForms(f, productData)" />
                  <div class="product-button d-none d-lg-flex">
                    <h6>數量 :</h6>
                    <numInput v-model="t" max="10" />
                    <div class="storehouse">
                      <i class="fa fa-archive"></i>
                      庫存量 <span>&gt; {{productData.forms.stock}}</span>
                    </div>
                  </div>
                  <div class="shop-btn d-none d-lg-block">
                    <a href="#" class="add-to-cart" @click.prevent="addCart($event, productData.forms)" data-target="#tips">加入購物車</a>
                    <a href="cart.html" class="add-to-cart buy-now">立即購買</a>
                    <!-- <a href="#"  class="add-to-cart empty">已售完</a> -->
                  </div>
                  <div class="product-share">
                    <span class="text-black">分享 :</span>
                    <ul class="social-media style-3">
                      <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#" class="line"><i class="fa fa-line"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="au-tabs">
            <ul class="nav nav-tabs">
              <li class="active">
                <a href="javascript:;" @click="selectTab = 'share'" :class="selectTab == 'share' ? 'show active' : ''">
                  推薦分享
                </a>
              </li>
              <li>
                <a href="javascript:;" @click="selectTab = 'product'" :class="selectTab == 'product' ? 'show active' : ''">
                  產品介紹
                </a>
              </li>

            </ul>
            <div class="tab-content">
              <div id="additional-tab" class="tab-pane" :class="selectTab == 'share' ? 'active' : ''">
                <div class="edit-block" v-rHtml="productData.recommended">
                  <ul>
                    <li>日本KINTO 2020年春夏保溫系列</li>
                    <li>真空304不鏽鋼，雙層結構保溫保冷6小時</li>
                    <li>撥桿型圓潤壺嘴，移動中單手輕壓即可飲用</li>
                    <li>上蓋附圓環方便持握及攜帶</li>
                    <li>底部高度緩衝材質，減低衝擊及聲音</li>
                  </ul>
                  <p><Img src="/frontend/images/style3/products/detail-1.jpg" /></p>
                  <p>アクティブなスポーツライフに</p>
                  <p>暨推出一系列受好評的保溫瓶系列後，2020春夏KINTO首次針對熱愛戶外運動的人士發表「ACTIVE
                    TUMBLER運動魔法瓶」，推出600ml與800ml兩種大容量，搭配沉穩卻不失質感的配色，為在陽光下揮灑汗水享受運動生活的你，提供補充能量的最佳選擇。</p>
                  <p><Img src="/frontend/images/style3/products/detail-2.jpg" /></p>
                  <p><Img src="/frontend/images/style3/products/detail-3.jpg" /></p>
                  <p>
                    最大特色莫過在靈巧的撥桿型圓潤壺嘴，即時在移動時單手輕壓即可直接傾斜瓶身舒適飲用；寬口設計能輕易放入任何飲品及冰塊，搭以真空雙層結構即可長時間保冷；底部裝有高度緩衝的合成橡膠材質能在放置時減輕瓶身的衝擊及降低聲音，而上蓋附有可勾起的圓環更方便持握，各種貼心的細節讓你在參與大小運動同時或是作為日常隨身攜帶，都能隨時輕鬆補水！
                  </p>
                  <p><Img src="/frontend/images/style3/products/detail-4.jpg" /></p>
                  <p><Img src="/frontend/images/style3/products/detail-5.jpg" /></p>
                  <p>│保冷/溫效果│</p>
                  <p>※保冷6℃以下（6小時）</p>
                  <p>※本商品具保溫功能，為了飲用安全，不建議裝入過燙飲用水</p>
                  <p>
                    -----------------------------------------------------------------------------------------------------
                  </p>
                  <p>※撥桿型壺嘴單手即可輕鬆豎起，壺嘴開口圓潤適中讓飲用更舒適，也無須擔心移動時飲用會濺灑</p>
                </div>
              </div>
              <div id="description-tab" class="tab-pane" :class="selectTab == 'product' ? 'active' : ''">
                <div class="edit-block" v-rHtml="productData.description">
                  <ul>
                    <li>日本KINTO 2020年春夏保溫系列</li>
                    <li>真空304不鏽鋼，雙層結構保溫保冷6小時</li>
                    <li>撥桿型圓潤壺嘴，移動中單手輕壓即可飲用</li>
                    <li>上蓋附圓環方便持握及攜帶</li>
                    <li>底部高度緩衝材質，減低衝擊及聲音</li>
                  </ul>
                  <p>│保冷/溫效果│</p>
                  <p>※保冷6℃以下（6小時）</p>
                  <p>※本商品具保溫功能，為了飲用安全，不建議裝入過燙飲用水</p>
                  <p>
                    -----------------------------------------------------------------------------------------------------
                  </p>
                  <p>※撥桿型壺嘴單手即可輕鬆豎起，壺嘴開口圓潤適中讓飲用更舒適，也無須擔心移動時飲用會濺灑</p>
                </div>
              </div>
            </div>
          </div>
          <div class="port-title text-center">
            <h2 class="title">相關產品</h2>
            <div class="title-border"></div>
          </div>
          <div class="shop-list related-products">
            <relatedProduct :listData="relatedProductData" />
          </div>
        </div>
      </div>
    </section>
  </masterLayout>
  <div class="fixed-button">
    <ul class="button-menu">
      <li class="full">
          <a href="javascript:;" class="btn" @click.prevent="showModalCart($event, productData)" data-target="#addToCart">我要購買</a>
          <!-- <a href="#" class="btn empty">售完補貨中</a>   售完的不須彈跳視窗 -->
      </li>
      <li><a href="cart.html"><i class="fa fa-shopping-cart"></i>購物車 <span class="badge c-bg-red">5</span></a></li>
    </ul>
  </div>

  <!-- Modal1 -->
  <div class="modal fade messagebox" id="tips" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">×</a>
        </div>
        <div class="modal-body">已加入購物車</div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal">確定</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal1 end-->
</template>
<script>
import { inject, reactive, ref, computed, watch, getCurrentInstance } from 'vue'
import Slide from './slot/slide'
import relatedProduct from './slot/relatedProduct'
import ProductSpec from './slot/ProductSpec'
import { getProductDetail, getRelateProduct } from '@/Web/Config/api/product'
export default {
  components: {
    Slide,
    relatedProduct,
    ProductSpec
  },
  setup(props, target) {
    const app = getCurrentInstance()
    const $this = app.appContext.config.globalProperties

    const selectTab = ref('share')
    const productData = computed(() => {
      let data = getProductDetail()
      console.log({'product': data})
      $this.store.state.tempData = data
      return data
    })
    const relatedProductData = computed(() => {
      let data = getRelateProduct()
      if (typeof data.data == 'undefined') return []
      data = (data.data).slice(0, 4)
      return data
    })
    const nav = computed(() => {
      const pData = productData.value
      // console.log({nav: productData.value})
      return [
        {title: pData.name, src: ''},
      ]
    })

    let t = ref(0)

    // 整理 form
    const getForms = (data, modalData) => {
      console.log({emit: data, modal: modalData})
      let stock = typeof data.stock ? data.stock : 0
      let uuid = typeof data.uuid ? data.uuid : 0
      modalData.forms.id = uuid
      modalData.forms.stock = stock
      if (typeof data.price !== 'undefined') modalData.price = data.price
    }

    return {
      selectTab, productData, relatedProductData, 
      nav, getForms, t
    }
  },
  props: {
    id: {
      type: String,
    },
    products: {
      type: Object
    }
  },
  methods: {
    addToCart () {
      this.$inertia.form({
        item: {
          id: item.id,
          qty: item.value
        },
      }).post(this.route('web.shopping.cart.items.store', [this.$page.props.supplier.domain, this.$page.props.shop.code]), {
        preserveScroll: true,
      })
    },
  }
}
</script>
