<template>
  <masterLayout>
    <section class="page-content">
      <div class="container">
        <div class="port-title pt-3">
          <h2 class="title">關鍵字：{{search}}</h2>
          <div class="title-border"></div>
        </div>
        <div class="sort">
          <div class="search-total">
            搜尋結果: 共 <span class="label label-success" v-rHtml:text="productData.length">1</span> 筆搜尋結果
          </div>
        </div>
        <div class="shop-list">
          <listProduct :data="productData" />
          <Panigation :total="panigationData.pageTotal" :per_page="panigationData.perPage" />
        </div>
      </div>
    </section>
  </masterLayout>
</template>
<script>
import { reactive, ref, computed } from 'vue'
import { getProduct } from '@/Web/Config/api/product'
import listProduct from './slot/listProduct'
export default {
  setup(props) {
    let panigationData = reactive({pageTotal: 20, perPage: 5})
    const productData = computed(() => {
      let data = getProduct()
      let meta = typeof data.meta == 'undefined' ? {current_page: 1, total: 0, per_page: 5} : data.meta
      panigationData = {pageTotal: meta.total, perPage: meta.per_page}
      console.log(meta, panigationData)
      return typeof data.data == 'undefined' ? [] : data.data
    })

    return {
      panigationData,
      productData
    }
  },
  props: {
    search: {
      type: String,
      Default: ''
    }
  },
  components: {
    listProduct
  },
}
</script>