<template>
  <CardSection>
    <template #title>
      平台分類設定
    </template>
    <template #default>
      <div class="row">
        <div class="col-12 col-xl-11">
            <div class="form-group row">
                <div class="col-sm-2 col-form-label">
                    <label for="">平台分類 <span class="required">*</span></label>
                </div>
                <div class="col-sm-10 controls">
                    <p class="form-txt">
                      目前已選擇：<span v-html="categoryNames"></span>
                    </p>
                    <p class="form-txt red">提醒: 此分類適用7天鑑賞期規定 <i class="fas fa-question-circle tips" data-toggle="tooltip" data-original-title="" data-trigger="click"></i></p>
                    <div class="Multiselect-group">
                    <select class="form-control" size="9"
                      v-model="bigCategorySelected"
                    >
                        <option
                          v-for="(category, index) in getCategoriesByParentId(0)"
                          :key="index"
                          :value="category"
                          :selected="(index == 0) ? true : false"
                          @click="setNextParentId(category)"
                        >{{category.name}}</option>
                    </select>
                    <select class="form-control" size="9"
                      v-model="mediumCategorySelected"
                    >
                        <option
                          v-for="(category, index) in getCategoriesByParentId(mediumParentId)"
                          :key="index"
                          :value="category"
                          @click="setNextParentId(category)"
                        >{{category.name}}</option>
                    </select>
                    <select class="form-control" size="9"
                      v-model="smallCategorySelected"
                      :class="{ 'is-invalid': v$.smallCategorySelected.$error }"
                    >
                        <option
                          v-for="(category, index) in getCategoriesByParentId(smallParentId)"
                          :key="index"
                          :value="category"
                          @click="setNextParentId(category)"
                        >{{category.name}}</option>
                    </select>

                    <div class="invalid-tooltip w-100 text-center"
                        v-if="invalid(v$.smallCategorySelected, 'required')"
                      >請選擇小分類</div>
                </div>

                <div class="attributes mt-2">
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-12"
                      v-for="(spec, index) in specs"
                      :key="index"
                    >
                        <div class="form-group">
                            <label for="itemname">{{spec.name}}</label>
                            <select class="form-control "
                              v-model="specOptionSelected[index]"
                              @change="changeCategorySpecOptionsToProduct()"
                            >
                              <option
                                value=""
                              >請選擇</option>
                              <option
                                v-for="(option, idx) in spec.options"
                                :key="idx"
                                :value="option"
                              >{{option.name}}</option>
                            </select>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </template>
  </CardSection>
</template>

<script>
import _ from "lodash";
import CardSection from "@/Admin/Shared/CardSection";
import useVuelidate from '@vuelidate/core'
import { required, requiredIf, sameAs, integer } from '@vuelidate/validators'
import { inject, reactive, computed } from "vue"
import { findUpperCategoryNames } from "@/Utils/category"
import categoryData from "@/Utils/Composables/categoryData"
import { invalid } from "@/Utils/validate"

export default {
  data() {
    return {
      categories: [],
      specs: [],
      smallCategorySelected: {},
      categoryNames: '',
      mediumParentId: null,
      smallParentId: null,
      specOptionSelected: []
    }
  },

  setup () {
    const product = inject("product")

    return { v$: useVuelidate(), product, invalid}
  },

  components: {
    CardSection,
  },

  async created() {
    await this.initCategories()
    if (this.product.categories) {
      this.initSelector(this.product.categories[0].id)
    } else {
      this.product.categories = []
      this.product.categorySpecOptions = []
    }
  },

  watch: {
    specs() {
      // 監控點擊子分類後回傳的規格陣列
      // 並透過規格id 嘗試取得該商品曾經存檔的分類規格選項
      this.specs.forEach((spec, index) => {
        let option = this.getOptionFromProductBySpecId(spec.id)
        if (option) {
          delete option.pivot
          this.specOptionSelected[index] = option
        } else {
          this.specOptionSelected[index] = ""
        }
      })
    }
  },

  methods: {
    initCategories() {
      return categoryData.getAll().then((response) => {
        this.categories = response.data.data
      })
    },
    initSelector(id, categories = []) {
      let category = this.getCategoryById(id)
      categories.push(category)

      if(category.parent_id != 0) {
        this.initSelector(category.parent_id, categories)
      } else {
        categories.reverse().forEach(
          category => this.setNextParentId(category)
        )
      }
      return ''
    },
    getCategoryById(id = null) {
      if(id == null) return {}
      return this.categories.filter(item => item['id'] == id)[0]
    },
    getCategoriesByParentId(parentId = null) {
      if(parentId == null) return []
      return this.categories.filter(item => item['parent_id'] == parentId)
    },
    setNextParentId(category) {
      if(category.type == 'big') {
        this.bigCategorySelected = category
        this.mediumParentId = category.id
        this.smallParentId = null
      }

      if(category.type == 'medium') {
        this.mediumCategorySelected = category
        this.smallParentId = category.id
      }

      this.specs = []
      this.product.categories = []
      this.smallCategorySelected = {}
      this.specOptionSelected = []
      if(category.type == 'small') {
        this.smallCategorySelected = category
        this.product.categories.push(category)
        categoryData.getById(category.id).then((response) => {
          this.specs = response.data.specs.data
        })
      }

      this.setCategoryNames(category)
    },
    changeCategorySpecOptionsToProduct() {
      this.product.categorySpecOptions = []
      this.specOptionSelected.forEach(option => {
        this.product.categorySpecOptions.push(option)
      })
    },
    setCategoryNames(category) {
      let upperCategoryNames = findUpperCategoryNames(
        this.categories,
        category.parent_id
      )

      upperCategoryNames.push(category.name)
      this.categoryNames = upperCategoryNames.map(
          name => '<span class="color-blue">' + name + '</span>'
        ).join(' > ')
    },
    getOptionFromProductBySpecId(specId) {
      return this.product.categorySpecOptions.filter(option => option.category_spec_id == specId)[0]
    }
  },
  validations () {
    return {
      smallCategorySelected: {
        required
      }
    }
  }
}
</script>
