<template>
  <Modal
    id="createAccountModal"
  >
    <template #title>新增管理者帳號</template>
    <template #body>
      <form class="form form-horizontal">
        <div class="row">
          <div class="col-12">
            <div class="form-group row">
              <div class="col-sm-3 col-form-label">
                <label for="account">帳號<span class="required">*</span></label>
              </div>
              <div class="col-sm-9 controls">
                <input type="text" class="form-control" name="account" placeholder=""
                  v-model.trim="v$.form.account.$model"
                  :class="{ 'is-invalid': v$.form.account.$error }"
                >
                <div class="invalid-tooltip" v-if="v$.form.account.$error">必填</div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group row">
              <div class="col-sm-3 col-form-label">
                <label for="password">密碼<span class="required">*</span></label>
              </div>
              <div class="col-sm-9 controls">
                <input type="password" class="form-control" placeholder=""
                  v-model.trim="v$.form.password.$model"
                  :class="{ 'is-invalid': v$.form.password.$error }"
                >
                <div class="invalid-tooltip" v-if="v$.form.password.$error">必填</div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group row">
              <div class="col-sm-3 col-form-label">
                <label for="name">姓名<span class="required">*</span></label>
              </div>
              <div class="col-sm-9 controls">
                <input type="text" class="form-control" name="name" placeholder=""
                  v-model.trim="v$.form.name.$model"
                  :class="{ 'is-invalid': v$.form.name.$error }"
                >
                <div class="invalid-tooltip" v-if="v$.form.name.$error">必填</div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group row">
              <div class="col-sm-3 col-form-label">
                <label for="email-id">Email<span class="required">*</span></label>
              </div>
              <div class="col-sm-9 controls">
                <input type="email" class="form-control" name="email" placeholder=""
                  v-model.trim="v$.form.email.$model"
                  :class="{ 'is-invalid': v$.form.email.$error }"
                >
                <div class="invalid-tooltip" v-if="v$.form.email.$error">必填</div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group row">
              <div class="col-sm-3 col-form-label">
                <label for="email-id">啟用狀態</label>
              </div>
              <div class="col-sm-9 controls">
                <div class="custom-control custom-control-primary custom-switch"
                  @click="form.active = !form.active"
                >
                  <input type="checkbox" class="custom-control-input"
                    :checked="form.active"
                  />
                  <label class="custom-control-label" for="Switch5"></label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </template>
    <template #footer>
      <button type="reset" class="btn btn-primary" data-dismiss="modal"
        @click="submit"
      >確定新增</button>
      <button type="reset" class="btn btn-secondary" data-dismiss="modal">取消</button>
    </template>
  </Modal>
</template>

<script>
import Modal from "@/Admin/Shared/Modal";
import useVuelidate from '@vuelidate/core'
import { required, requiredIf, sameAs, email } from '@vuelidate/validators'

export default {
  setup () { return { v$: useVuelidate() } },

  components: {
    Modal
  },

  data() {
    return {
      form: this.$inertia.form({
        account: '',
        name: '',
        email: '',
        password: '',
        active: true
      }),
    }
  },

  methods: {
    submit () {
      this.v$.$touch()
      if (!this.v$.$invalid) {
        this.form
          .post(this.route('admin.accounts'), {
            preserveScroll: true
          })
      }
    },
  },

  validations () {
    return {
      form: {
        account: {
          required
        },
        name: {
          required
        },
        email: {
          required,
          email
        },
        password: {
          required
        }
      }
    }
  }
}
</script>