<template>
  <Modal
    id="impportProductModal"
  >
    <template #title>商品資料匯入</template>
    <template #body>
      <form class="form form-horizontal">
        <div class="row">
          <div class="col-12">
            <div class="form-group row">
              <div class="col-sm-12 col-form-label">
                <input class="form-control" type="file" id="formFile" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                  @input="selectFile($event.target.files[0])"
                  :class="{ 'is-invalid': v$.form.file.$error || v$.data.$error }"
                >
                <div class="invalid-tooltip" v-if="invalid(v$.form.file, 'required')">請選擇檔案</div>
                <div class="invalid-tooltip" v-if="invalid(v$.data, 'maxLengthValue')">檔案筆數超過 1000 筆</div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group row">
              <div class="col-sm-12 col-form-label">
                <a href="#"
                @click.stop="submit"
                >點擊下載 Excel 匯入格式</a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </template>
    <template #footer>
      <button type="reset" class="btn btn-primary" data-dismiss="modal"
        @click.stop="submit"
      >確定匯入</button>
      <button type="reset" class="btn btn-secondary" data-dismiss="modal">取消</button>
    </template>
  </Modal>
</template>

<script>
import Modal from "@/Supplier/Shared/Modal";
import useVuelidate from '@vuelidate/core'
import xlsx from 'xlsx'
import { readXlsx } from '@/Utils/xlsx'
import { required, maxLength } from '@vuelidate/validators'
import { invalid } from '@/Utils/validate'

export default {
  setup () { return { v$: useVuelidate(), invalid } },

  components: {
    Modal
  },

  data() {
    return {
      form: {
        file: null
      },
      data: null
    }
  },

  methods: {
    submit () {
      this.v$.$touch()
      if (!this.v$.$invalid) {
        this.$inertia
          .form(this.form)
          .post(this.route('supplier.products.import'), {
            preserveScroll: true,
          })
      }
    },
    async selectFile (file) {
      this.form.file = file
      let dataBinary = await readXlsx(file)
      let workBook = xlsx.read(dataBinary, {type: 'binary', cellDates: true})
      let workSheet = workBook.Sheets[workBook.SheetNames[0]]
      this.data = xlsx.utils.sheet_to_json(workSheet)
    }
  },

  validations () {
    return {
      form: {
        file: {
          required
        }
      },
      data: {
        maxLengthValue: maxLength(1000 + 3),
      }
    }
  }
}
</script>
