
<template>
  <CardSection>
    <template #title>
      基本資料
    </template>
    <template #default>
      <div class="row">
        <div class="col-12 col-xl-11">
          <div class="form-group row">
            <div class="col-sm-2 col-form-label">
              <label for="">商品圖片</label>
            </div>
            <div class="col-sm-10 controls">
              <PhotoSection />
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-11">
          <div class="form-group row">
            <div class="col-sm-2 col-form-label">
              <label for="">商品名稱<span class="required">*</span></label>
            </div>
            <div class="col-sm-10 controls">
              <input type="text" class="form-control" placeholder=""
                v-model.trim="v$.product.name.$model"
                :class="{ 'is-invalid': v$.product.name.$error }"
              >
              <div class="invalid-tooltip" v-if="v$.product.name.$error">必填</div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-11">
          <div class="form-group row">
            <div class="col-sm-2 col-form-label">
              <label for="">商品簡介<span class="required">*</span></label>
            </div>
            <div class="col-sm-10 controls">
              <textarea class="form-control" rows="8"
                v-model.trim="v$.product.intro.$model"
                :class="{ 'is-invalid': v$.product.intro.$error }"
              ></textarea>
              <span class="text-counter-value"><small>{{ product.intro?.length ?? 0 }}</small> / 100 </span>
              <div class="invalid-tooltip" v-if="v$.product.intro.$error">必填</div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="divider divider-left">
            <div class="divider-text"><h5>商品介紹</h5></div>
          </div>
          <div class="controls">
            <textarea class="form-control" rows="8" placeholder="這邊是編輯器"
              v-model.trim="product.description"
            ></textarea>
            <span class="text-counter-value"><small>{{ product.description?.length ?? 0 }}</small> / 100 </span>
          </div>
        </div>
      </div>
    </template>
  </CardSection>
</template>

<script>
import _ from "lodash";
import CardSection from "@/Admin/Shared/CardSection";
import useVuelidate from '@vuelidate/core'
import PhotoSection from "./PhotoSection";
import { required, requiredIf, integer } from '@vuelidate/validators'
import { inject, reactive, computed } from "vue"

export default {
  setup () {
    const product = inject("product")

    return { v$: useVuelidate(), product }
  },

  components: {
    CardSection,
    PhotoSection
  },

  validations () {
    return {
      product: {
        name: {
          required
        },
        intro: {
          required
        },
      }
    }
  }
}
</script>
