
<template>
  <div class="row" id="card-drag-area">
    <slot />
  </div>
</template>

<script>
import { ContainerMixin } from 'vue-slicksort';

export default {
  mixins: [ContainerMixin],

  components: {},
}
</script>
