
<template>
  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
    <div class="item draggable">
      <img
        :src="src"
        v-handle
      >
      <a href="#"
        @click.stop.prevent="removeAt"
      ><VueFeather type="x"></VueFeather></a>
    </div>
  </div>
</template>

<script>
import { ElementMixin, HandleDirective } from 'vue-slicksort';
import { inject } from "vue";

export default {
  mixins: [ElementMixin],
  directives: { handle: HandleDirective },

  props: {
    index: Number,
    item: Object
  },

  data() {
    return {
      src: this.item.action =='updated' ?route('supplier.medias.show', this.item.id): this.item.src
    }
  },

  methods: {
    removeAt() {
      this.$emit('remove', this.index, this.item.id)
    }
  },
}
</script>
