
<template>
  <div class="product-upload" id="draggable-cards">
    <div class="row" id="card-drag-area">
      <PhotoSortableList
        helperClass=""
        axis="x"
        v-model:list="photos"
        :useDragHandle="true"
      >
        <PhotoSortableItem
          v-for="(item, index) in photos"
          :index="index"
          :key="item"
          :item="item"
          @remove="remove"
        />
      </PhotoSortableList>
    </div>
    <FileUpload class="btn btn-primary is-invalid" extensions="jpg,gif,png,webp"
      ref="upload"
      v-model="files"
      :multiple="true"
      :maximum="maximum"
      :size="(1024*1024)*5"
      @input-file="inputFile"
      @input-filter="inputFilter"
    ><VueFeather type="image"></VueFeather> 新增圖片</FileUpload>
    <div class="invalid-tooltip" v-if="v$.files.$error">請新增圖片</div>
  </div>
  <ul class="form-txt mt-1">
    <li>第一張圖片作為商品封面照</li>
    <li>最多可上傳9張圖片 , 單張圖片大小5MB以下，建議尺寸 640x640(方形) , 超過的圖檔系統會自動縮圖, 圖檔類型建議以jpg為主</li>
  </ul>
</template>

<script>
import _ from 'lodash'
import FileUpload from 'vue-upload-component'
import PhotoSortableList from "./PhotoSortableList";
import PhotoSortableItem from "./PhotoSortableItem";
import { useVuelidate } from '@vuelidate/core'
import { required, requiredIf, integer } from '@vuelidate/validators'
import { inject, reactive, computed } from "vue"

export default {
  setup () {
    const product = inject("product")

    return { v$: useVuelidate(), product }
  },

  components: {
    FileUpload,
    PhotoSortableList,
    PhotoSortableItem,
  },

  data() {
    return {
      files: [],
      photos: _.filter(this.product.photo.items, photo => photo.action !='removed')
    }
  },

  computed: {
    maximum: function () {
      return 9 - Object.keys(this.product.photo.items).length
    }
  },

  watch: {
    photos: {
      handler: function () {
        _.map(this.photos, (photo, idx) => {
          let item = _.find(this.product.photo.items, { 'id': photo.id })
          item.sort = idx +1
        })
      },
      deep: true
    }
  },

  methods: {
    remove (idx, id) {
      this.photos.splice(idx, 1)
      idx = this.product.photo.files.findIndex(item => item.id == id)
      if (idx > -1) {
        this.$refs.upload.remove(this.product.photo.files[idx])
      }
      idx = this.product.photo.items.findIndex(item => item.id == id)
      if (idx > -1) {
        if (this.product.photo.items[idx].action == 'added') {
          this.product.photo.items.splice(idx, 1)
        } else {
          this.product.photo.items[idx].action = 'removed'
        }
      }
    },
    inputFile(newFile) {
      if (newFile) {
        this.photos.push({
          id: newFile.id,
          src: newFile.blob,
          sort: 0,
          action: 'added'
        })
        this.product.photo.files.push({
          id: newFile.id,
          file: newFile.file,
        })
        this.product.photo.items.push({
          id: newFile.id,
          src: newFile.blob,
          sort: 0,
          action: 'added'
        })
      }
    },
    inputFilter: function (newFile, oldFile, prevent) {
      if (newFile && !oldFile) {
        if (!/\.(jpeg|jpe|jpg|gif|png|webp)$/i.test(newFile.name)) {
          return prevent()
        }
      }

      if (newFile) {
        newFile.blob = ''
        let URL = window.URL || window.webkitURL
        if (URL && URL.createObjectURL) {
          newFile.blob = URL.createObjectURL(newFile.file)
        }
      }
    }
  },

  validations () {
    return {
      files: {
        required: requiredIf (this.photos.length == 0)
      }
    }
  }
}
</script>
