
<template>
  <tr>
    <td class="dt-checkboxes-cell hidden-xs">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input dt-checkboxes"
          :id="'checkbox' + product.id"
          :checked="picked"
          @click="pickMe"
        />
        <label class="custom-control-label"
          :for="'checkbox' + product.id"
        ></label>
      </div>
    </td>
    <td class="number" data-th="序號"><span>{{ (index + 1) + (currentPage-1)*perPage }}</span></td>
    <td data-th="圖片">
      <div>
        <img class="img-md"
          :src="getFirstPhoto()"
        >
      </div>
    </td>
    <td data-th="商品名稱">{{ product.name }}</td>
    <td data-th="平台分類"><span v-html="getCategoryNames(product.categories[0])"></span></td>
    <td data-th="發佈狀態">
      <div class="custom-control custom-control-primary custom-switch">
        <input type="checkbox" class="custom-control-input"
          :checked="product.active"
        />
        <label class="custom-control-label"
          @click="switchActive"
        ></label>
      </div>
    </td>
    <td data-th="規格/優惠價/庫存">
      <ul class="spec"
        v-for="(model, index) in product.models"
        :key="index"
      >
        <li>
          {{ getModelName(model.names) }}：
          <span>
            <span class="price">${{ model.price.original }}</span>
            <span class="in-stock low">
              <i class="fas fa-archive"></i>{{ model.stock.surplus }}
            </span>
          </span>
        </li>
      </ul>
    </td>
    <td class="rwd-action">
      <div class="d-flex">
        <inertia-link type="button" as="button" class="btn btn-outline-primary btn-sm"
          :href="route('supplier.products.edit', product.id)"
        >
          <VueFeather type="edit-2"></VueFeather>
          <span>編輯</span>
        </inertia-link>
        <div class="btn-group">
            <a href="#" class="dropdown-toggle hide-arrow btn btn-outline-primary btn-sm" id="dropdownMenu1" data-toggle="dropdown">
              <VueFeather type="settings"></VueFeather>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <inertia-link class="dropdown-item" target="_blank"
                :href="route('supplier.products.show', product.id)"
              >
                <VueFeather type="airplay"></VueFeather>預覽
              </inertia-link>
              <a class="dropdown-item"
                @click.stop.prevent="removeAt"
              >
                <VueFeather type="trash-2"></VueFeather>刪除
              </a>
            </div>
        </div>
      </div>
  </td>
</tr>
</template>

<script>
import _ from "lodash";
import { mapMutations } from "vuex";
import { findUpperCategoryNames } from "@/Utils/category"

export default {
  props: {
    index: Number,
    product: Object,
    currentPage: Number,
    perPage: Number,
    categories: Array
  },

  data() {
    return {
      picked: false,
    }
  },

  watch: {
    picked(value) {
      if (value) {
        this.pick({
          id: this.product.id
        });
      } else {
        this.unpick({
          id: this.product.id,
        });
      }
    }
  },

  methods: {
    switchActive () {
      this.product.active = !this.product.active
      this.$inertia.patch(this.route('supplier.products.patch', this.product.id), {
        active: this.product.active
      }, {
        preserveScroll: true,
        preserveState: false
      })
    },
    removeAt () {
      this.$inertia.delete(this.route('supplier.products.destroy', this.product.id), {
        preserveScroll: true,
        preserveState: false
      });
    },
    getModelName (names) {
      return names.length > 1? `${names[0]} (${names[1]})`: names[0]
    },
    getFirstPhoto () {
      return this.product.photo.items.length > 0? route('supplier.medias.show', this.product.photo.items[0].id): ''
    },
    pickMe (value) {
      if (value === 'undefined') {
        this.picked = !this.picked
      } else {
        this.picked = value
      }
    },
    getCategoryNames(category) {
      if (category) {
        let upperCategoryNames = findUpperCategoryNames(
          this.categories,
          category.parent_id
        )

        upperCategoryNames.push(category.name)
        return upperCategoryNames.join(' > ')
      }
      return ''

    },
    ...mapMutations("pickup", ["pick", "unpick"]),
  }
}
</script>
