<template>
<div class="table-responsive">
    <table class="table inputTable">
      <thead>
        <tr>
          <th> {{ title }} </th>
          <th> 建議售價<span class="required">*</span>
              <i class="fas fa-question-circle tips" data-toggle="tooltip" data-original-title="" data-trigger="click" aria-hidden="true"></i>
          </th>
          <th> 優惠價<span class="required">*</span>
              <i class="fas fa-question-circle tips" data-toggle="tooltip" data-original-title="" data-trigger="click" aria-hidden="true"></i>
          </th>
          <th> 庫存<span class="required">*</span> </th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="(model, index) in models"
          :key="index"
        >
          <td
            :data-th="title"
          >{{ model.names[0] }}</td>
          <QuickEditorModel
            :index="index"
            :model="model"
          />
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import QuickEditorModel from "./QuickEditorModel"

export default {
  props: {
    spec: Object,
    models: Object
  },

  components: {
    QuickEditorModel
  },

  computed: {
    title: function () {
      return this.spec.list[0].name
    }
  }
}
</script>
