<template>
  <div class="table-responsive">
    <table class="table inputTable">
      <thead>
        <tr>
          <th> 建議售價<span class="required">*</span>
            <i class="fas fa-question-circle tips" data-toggle="tooltip" data-original-title="" data-trigger="click" aria-hidden="true"></i>
          </th>
          <th> 優惠價<span class="required">*</span>
            <i class="fas fa-question-circle tips" data-toggle="tooltip" data-original-title="" data-trigger="click" aria-hidden="true"></i>
          </th>
          <th> 庫存<span class="required">*</span> </th>
          <th class="rwd-action"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <QuickEditorModel
            :model="models[0]"
          />
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import QuickEditorModel from "./QuickEditorModel";

export default {
  props: {
    models: Object
  },

  components: {
    QuickEditorModel
  }
}
</script>
