<template>
  <Modal id="editSpecsModal" class="quick-edit" size="lg">
    <template #title>商品快速編輯</template>
    <template #body>
      <form class="form">
        <CardSection
          v-for="(product, index) in form.products"
          :key="index"
        >
          <template #default>
            <div class="pro-item">
              <img alt=""
                v-if="product.photo"
                :src="route('supplier.medias.show', product.photo)"
              >
              <h3>{{ product.name }}<span>規格 : {{ product.spec.typeText }}</span></h3>
            </div>
            <QuickEditorNone
              v-if="product.spec.type =='none'"
              :models="product.models"
            ></QuickEditorNone>
            <QuickEditorMatrixSingle
              v-if="product.spec.type =='single'"
              :spec="product.spec"
              :models="product.models"
            ></QuickEditorMatrixSingle>
            <QuickEditorMatrixDouble
              v-if="product.spec.type =='double'"
              :spec="product.spec"
              :models="product.models"
            ></QuickEditorMatrixDouble>
          </template>
        </CardSection>
      </form>
    </template>
    <template #footer>
      <button type="button" class="btn btn-primary" data-dismiss="modal"
        @click.stop="submit"
      >確定</button>
      <button type="reset" class="btn btn-secondary" data-dismiss="modal">取消</button>
    </template>
  </Modal>
</template>

<script>
import Modal from "@/Supplier/Shared/Modal"
import CardSection from "@/Supplier/Shared/CardSection"
import useVuelidate from '@vuelidate/core'
import QuickEditorNone from "./QuickEditorNone"
import QuickEditorMatrixSingle from "./QuickEditorMatrixSingle"
import QuickEditorMatrixDouble from "./QuickEditorMatrixDouble"
import { required, requiredIf, sameAs, email } from '@vuelidate/validators'

export default {
  setup () { return { v$: useVuelidate() } },

  components: {
    Modal,
    CardSection,
    QuickEditorNone,
    QuickEditorMatrixSingle,
    QuickEditorMatrixDouble
  },

  data() {
    return {
      form: {
        products: []
      },
    }
  },

  watch: {
    '$page.props.data': {
      handler: function (data) {
        this.form.products = data?.products.data
      },
      deep: true
    }
  },

  methods: {
    submit () {
      this.v$.$touch()
      if (! this.v$.$invalid) {
        this.$inertia
          .form(this.form)
          .put(this.route('supplier.products.models.update'), {
            preserveScroll: true,
          })
      }
    },
  },
}
</script>
