<template>
  <td data-th="建議售價 *">
    <input type="number" class="form-control"
      v-model.trim="v$.model.price.original.$model"
      :class="{ 'is-invalid': v$.model.price.original.$error }"
    >
    <div class="invalid-tooltip" v-if="invalid(v$.model.price.original, 'required')">必填</div>
    <div class="invalid-tooltip" v-if="invalid(v$.model.price.original, 'integer')">必須是數字</div>
  </td>
  <td data-th="優惠價 *">
    <input type="number" class="form-control"
      v-model.trim="v$.model.price.special.$model"
      :class="{ 'is-invalid': v$.model.price.special.$error }"
    >
    <div class="invalid-tooltip" v-if="invalid(v$.model.price.special, 'required')">必填</div>
    <div class="invalid-tooltip" v-if="invalid(v$.model.price.special, 'integer')">必須是數字</div>
  </td>
  <td data-th="庫存 *">
    <input type="number" class="form-control"
      v-model.trim="v$.model.stock.setup.$model"
      :class="{ 'is-invalid': v$.model.stock.setup.$error }"
    >
    <div class="invalid-tooltip" v-if="invalid(v$.model.stock.setup, 'required')">必填</div>
    <div class="invalid-tooltip" v-if="invalid(v$.model.stock.setup, 'integer')">必須是數字</div>
  </td>
</template>

<script>
import { useVuelidate } from '@vuelidate/core'
import { required, requiredIf, integer } from '@vuelidate/validators'
import { invalid } from '@/Utils/validate'

export default {
  setup () {
    return { v$: useVuelidate(), invalid }
  },

  props: {
    model: Object
  },

  validations () {
    return {
      model: {
        price: {
          original: {
            required,
            integer
          },
          special: {
            required,
            integer
          }
        },
        stock: {
          setup: {
            required,
            integer
          }
        }
      }
    }
  }
}
</script>
