
<template>
  <CardSection>
    <template #title>
      銷售資訊
    </template>
    <template #default>
      <div class="row">
        <div class="col-12 col-xl-11">
          <div class="form-group row">
            <div class="col-sm-2 col-form-label">
              <label for="">平台分潤<span class="required">*</span></label>
            </div>
            <div class="col-sm-10 controls">
              <select class="form-control"
                v-model="v$.product.profitSharingId.$model"
                :class="{ 'is-invalid': v$.product.profitSharingId.$error }"
              >
                <option value="">請選擇</option>
                <option
                  v-for="(sharing, index) in profitSharings"
                  :key="index"
                  :value="sharing.id"
                >{{ sharing.name }}, {{ sharing.percent }}%</option>
              </select>
              <div class="invalid-tooltip" v-if="invalid(v$.product.profitSharingId, 'required')">必填</div>
            </div>
          </div>
        </div>
        <SpecSwitchSection
          v-if="isUrl('create')"
        />
        <SpecSection/>
      </div>
    </template>
  </CardSection>
</template>

<script>
import _ from "lodash"
import CardSection from "@/Admin/Shared/CardSection"
import useVuelidate from '@vuelidate/core'
import SpecSwitchSection from "./SpecSwitchSection"
import SpecSection from "./SpecSection"
import Swal from 'sweetalert2'
import { required, requiredIf, sameAs, integer } from '@vuelidate/validators'
import { inject, provide } from "vue"
import { invalid } from '@/Utils/validate'

export default {
  setup () {
    const product = inject("product")
    const cartesian = (...a) => {
      return a.reduce((a, b) => a.flatMap(d => b.map(e => [d, e].flat())))
    }
    const trasferModel = (val) => {
      return {
        id: null,
        names: _.map(val, item => item.name),
        uuids: _.map(val, item => item.uuid),
        sku: '',
        price: {
          original: 0,
          special: 0
        },
        stock: {
          setup: 0,
          surplus: 0,
          safety: 0
        },
        action: 'added'
      }
    }

    const refreshModels = () => {
      let models = _.cloneDeep(product.models)
      generateModels()
      modelMerge(models)
      actionSync()
    }

    const generateModels = () => {
      const options = _.map(product.spec.list, item => item.options)
      const matrix = cartesian(...options)
      product.models = _.map(matrix, val => trasferModel(_.castArray(val)))
    }

    const modelMerge = (models) => {
      _.map(models, model => {
        const idx = _.findIndex(product.models, item => _.isEqual(item.uuids, model.uuids))
        if (idx > -1) {
          product.models[idx].id = model.id
          product.models[idx].sku = model.sku
          product.models[idx].price = model.price
          product.models[idx].stock = model.stock
          product.models[idx].action = model.action
        }
      })
    }

    const actionSync = () => {
      const options = _.map(product.spec.list, item => _.filter(item.options, option => option.action == 'removed'))
      _.map(_.flatten(options), option => {
        _.map(product.models, model => {
          if (_.includes(model.uuids, option.uuid)) {
            model.action = 'removed'
          }
        })
      })
    }

    const deleteModel = (uuids) => {
      const models = _.filter(product.models, model => { return model.action == 'added' || model.action == 'updated' })
      if (models.length > 1) {
        Swal.fire({
          title: '是否確定刪除此規格？',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#1171b9',
          cancelButtonColor: '#82868b',
          confirmButtonText: '確定',
          cancelButtonText: '取消',
        }).then((result) => {
          if (result.isConfirmed) {
            const idx = _.findIndex(product.models, model => _.isEqual(model.uuids, uuids))
            if (idx > -1) {
              product.models[idx].action = 'hidden'
            }
            refreshModels()
          }
        })
      } else {
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: '規格無法全部刪除，必須保留一個',
        })
      }
    }

    provide("modelHandler", { refreshModels, generateModels, modelMerge, deleteModel })

    return { v$: useVuelidate(), product, invalid }
  },

  components: {
    CardSection,
    SpecSwitchSection,
    SpecSection
  },

  data() {
    return {
      profitSharings: this.$page.props.profitSharings.data,
      url: null
    }
  },

  methods: {
    isUrl(...urls) {
      let currentUrl = this.$page.url.substr(1);

      if (urls[0] === "") {
        return currentUrl === "";
      }
      return urls.filter((url) => currentUrl.endsWith(url)).length;
    },
  },

  validations () {
    return {
      product: {
        profitSharingId: {
          required
        }
      }
    }
  }
}
</script>
