<template>
  <Modal
    id="selectCategoriesModal"
    size="lg"
  >
    <template #title>分類篩選</template>
    <template #body>
      <div class="category-selected">
          <h5>已選擇：</h5>
          <ul class="tag-list">
              <li
                v-for="(checkedCategory, index) in searchData.categories"
                :key="index"
                @click="removeCheckedCategory(index)"
              ><span>{{checkedCategory.name}}</span><a><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></a></li>
          </ul>
      </div>
      <div class="category-filter">
        <div class="row">
            <div class="col-sm-6 col-12">
                    <!-- pill tabs navigation -->
                    <!-- 主分類群  -->
                    <ul class="nav nav-pills nav-left flex-column" role="tablist">
                        <li class="nav-item"
                          v-for="(category, index) in getCategoriesByParentId(0)"
                          :key="index"
                        >
                            <a class="nav-link" data-toggle="pill" aria-expanded="false" role="tab" aria-selected="false"
                              :href="'#MainCate' + index"
                            >
                              {{category.name}}
                              <span class="number"
                                v-if="checkedCount[category.id]"
                              > {{ checkedCount[category.id] }} </span>
                            </a>
                        </li>
                    </ul>
            </div>
            <div class="col-sm-6 col-12">
                <!-- pill tabs tab content -->
                <div class="tab-content">
                    <!-- 主分類1  -->
                    <div role="tabpanel" class="tab-pane" aria-expanded="false"
                      v-for="(categoryB, indexB) in getCategoriesByParentId(0)"
                      :key="indexB"
                      :id="'MainCate' + indexB"
                    >
                      <div class="collapse-margin collapse-icon"
                        v-for="(categoryM, indexM) in getCategoriesByParentId(categoryB.id)"
                        :key="indexM"
                      >
                           <!-- 次分類1  -->
                           <div class="card">
                              <div class="card-header collapsed" data-toggle="collapse" role="button" aria-expanded="false"
                                :data-target="'#SubCate' + indexB + indexM"
                              >
                                      <span class="custom-control custom-checkbox">
                                          <input class="custom-control-input" type="checkbox" value=""
                                           :id="'AllSubCate' + indexB + indexM">
                                          <label class="custom-control-label"
                                           :for="'AllSubCate' + indexB + indexM"></label>
                                      </span>
                                      <span class="lead collapse-title">{{categoryM.name}}</span>
                              </div>
                              <!-- 細分類群  -->
                              <div class="collapse" style=""
                                :id="'SubCate' + indexB + indexM"
                                :data-parent="'#MainCate' + indexB"
                              >
                                  <div class="card-body">
                                      <ul class="select-cate">
                                        <li class="custom-control custom-checkbox"
                                          v-for="(categoryS, indexS) in getCategoriesByParentId(categoryM.id)"
                                          :key="indexS"
                                        >
                                            <input class="custom-control-input" type="checkbox"
                                              :id="'SmallCate' + indexB + indexM + indexS"
                                              :value="categoryS"
                                              v-model="searchData.categories"
                                            >
                                            <label class="custom-control-label"
                                              :for="'SmallCate' + indexB + indexM + indexS"
                                            >{{categoryS.name}}</label>
                                        </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </template>
    <template #footer>
      <button type="reset" class="btn btn-primary" data-dismiss="modal">確定</button>
      <button type="reset" class="btn btn-secondary" data-dismiss="modal">取消</button>
    </template>
  </Modal>
</template>

<script>
import Modal from "@/Supplier/Shared/Modal";
import useVuelidate from '@vuelidate/core'
import { required, maxLength } from '@vuelidate/validators'
import { invalid } from '@/Utils/validate'
import { inject, reactive, computed } from "vue"
import { mapMutations } from 'vuex'
import _ from "lodash";

export default {
  props: {
    categories: Array,
  },

  setup () {
    const searchData = inject("searchData")
    return { v$: useVuelidate(), invalid, searchData }
  },

  components: {
    Modal
  },

  data() {
    return {
      checkedCount: {},
    }
  },

  created() {
    this.searchData.categories = []
  },

  watch: {
    "searchData.categories": function () {
      this.setValue({
        name: 'categories.id',
        value: _.map(this.searchData.categories, 'id').join('|')
      })
      this.countChecked()
    },
  },

  methods: {
    getCategoriesByParentId(parentId = null) {
      if(parentId == null) return []
      return this.categories.filter(item => item['parent_id'] == parentId)
    },
    countChecked() {
      this.checkedCount = {}
      this.searchData.categories.forEach(categoryS => {
        let categoryM = this.categories.filter(item => item['id'] == categoryS.parent_id)[0]
        let categoryB = this.categories.filter(item => item['id'] == categoryM.parent_id)[0]
        if (this.checkedCount[categoryB.id]) {
          this.checkedCount[categoryB.id] = 1 + this.checkedCount[categoryB.id]
        } else {
          this.checkedCount[categoryB.id] = 1
        }
      });
    },
    removeCheckedCategory(index) {
      let categories = _.cloneDeep(this.searchData.categories)
      categories.splice(index, 1)
      this.searchData.categories = []

      categories.forEach(category => {
        this.searchData.categories.push(category)
      })
    },
    ...mapMutations('filters', [
      'setValue',
      'destroy'
    ]),
  },

  validations () {
    return {
    }
  }
}
</script>
