
<template>
  <CardSection>
    <template #title>
      其他
    </template>
    <template #default>
      <div class="row">
        <div class="col-12 col-xl-11">
          <div class="form-group row">
            <div class="col-sm-2 col-form-label">
              <label for="">發佈狀態</label>
            </div>
            <div class="col-sm-10 controls">
              <div class="custom-control custom-control-primary custom-switch">
                <input type="checkbox" class="custom-control-input" id="switchActive"
                  @click="switchActive"
                  :checked="product.active"
                />
                <label class="custom-control-label" for="switchActive"></label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-11">
            <div class="form-group row">
                <div class="col-sm-2 col-form-label">
                  <label for="">發佈起訖日<span class="required">*</span></label>
                </div>
                <div class="col-sm-10 controls">
                  <DatePicker class="input-group input-group-merge"
                    is-range
                    v-model="product.publishDate"
                    :class="{ 'is-invalid': v$.product.publishDate.start.$error || v$.product.publishDate.end.$error }"
                  >
                    <template v-slot="{ inputValue, inputEvents }">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                      </div>
                      <input class="form-control" placeholder="時間-起"
                        v-on="inputEvents.start"
                        :value="inputValue.start"
                      />
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                      </div>
                      <input class="form-control pickergroup-r" placeholder="時間-訖"
                        v-on="inputEvents.end"
                        :value="inputValue.end"
                      />
                    </template>
                  </DatePicker>
                  <div class="invalid-tooltip" v-if="invalid(v$.product.publishDate.start, 'required')">必填</div>
                  <div class="invalid-tooltip" v-if="invalid(v$.product.publishDate.end, 'required')">必填</div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-11">
          <div class="form-group row">
            <div class="col-sm-2 col-form-label">
              <label for="">關鍵字</label>
            </div>
            <div class="col-sm-10 controls">
              <Multiselect
                mode="tags"
                v-model="product.keywords"
                :options="product.keywords"
                :searchable="true"
                :createTag="true"
              >
              </Multiselect>
            </div>
          </div>
        </div>
      </div>
    </template>
  </CardSection>
</template>

<script>
import _ from "lodash";
import CardSection from "@/Admin/Shared/CardSection"
import useVuelidate from '@vuelidate/core'
import Multiselect from '@vueform/multiselect'
import { DatePicker } from 'v-calendar';
import { required, requiredIf, sameAs, integer } from '@vuelidate/validators'
import { inject, reactive, computed } from "vue"
import { invalid } from '@/Utils/validate'
import "@vueform/multiselect/themes/default.css"

export default {
  setup () {
    const product = inject("product")
    return { v$: useVuelidate(), product, invalid }
  },

  components: {
    CardSection,
    Multiselect,
    DatePicker
  },

  data() {
    return {
      range: {
        start: new Date(2020, 9, 12),
        end: new Date(2020, 9, 16),
      },
    }
  },

  methods: {
    switchActive () {
      this.product.active = !this.product.active
    },
  },

  validations () {
    return {
      product: {
        publishDate: {
          start: {
            required
          },
          end: {
            required
          },
        },
      }
    }
  }
}
</script>
