
<template>
  <CardSection>
    <template #title>
      運送資訊
    </template>
    <template #default>
      <div class="row">
        <div class="col-12 col-xl-11">
          <div class="form-group row">
            <div class="col-sm-2 col-form-label">
              <label for="">溫層設定<span class="required">*</span></label>
            </div>
            <div class="col-sm-10 controls">
              <div class="control-group">
                <div class="custom-control custom-radio mr-1">
                  <input class="custom-control-input" type="radio" id="Radio1" name="preservationWay" value="normal"
                    v-model="product.preservationWay"
                  />
                  <label class="custom-control-label" for="Radio1">常溫</label>
                </div>
                <div class="custom-control custom-radio">
                  <input class="custom-control-input" type="radio" id="Radio2" name="preservationWay" value="freezer"
                    v-model="product.preservationWay"
                  />
                  <label class="custom-control-label" for="Radio2">冷凍</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-11">
          <div class="form-group row">
            <div class="col-sm-2 col-form-label">
              <label for="">適用運送方式<span class="required">*</span></label>
            </div>
            <div class="col-sm-10 controls">
              <div class="custom-control custom-checkbox"
                v-for="(method, index) in shippingMethods"
                :key="index"
              >
                <input class="custom-control-input" type="checkbox" name="shippingMethod"
                  :id="'shippingMethod' + method.id"
                  :value="method.id"
                  v-model="product.shippingMethods"
                >
                <label class="custom-control-label"
                  :for="'shippingMethod' + method.id"
                >{{ method.title }}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </template>
  </CardSection>
</template>

<script>
import _ from "lodash";
import CardSection from "@/Admin/Shared/CardSection"
import useVuelidate from '@vuelidate/core'
import { required, requiredIf, sameAs, integer } from '@vuelidate/validators'
import { inject, reactive, computed } from "vue"

export default {
  setup () {
    const product = inject("product")
    return { v$: useVuelidate(), product }
  },

  components: {
    CardSection
  },

  data() {
    return {
      shippingMethods: this.$page.props.shippingMethods.data
    }
  }
}
</script>
