<template>
  <div class="control-group">
    <div class="input-group input-group-merge">
      <input type="text" class="form-control" aria-label="" aria-describedby=""
        v-model.trim="name"
        :class="{ 'is-invalid': v$.name.$error }"
        :placeholder="type =='main'? '輸入規格選項，例如 : L、M': '輸入規格選項，例如 : 藍色、綠色'"
      />
      <div class="input-group-append">
        <span class="input-group-text"><small>{{ name.length }}</small> / 100</span>
      </div>
      <div class="invalid-tooltip" v-if="invalid(v$.name, 'required')">必填</div>
      <div class="invalid-tooltip" v-if="invalid(v$.name, 'maxLength')">字數不能大於 100</div>
    </div>
    <a href="#" class="btn btn-outline-primary btn-sm"
       v-handle
    ><VueFeather type="move"></VueFeather></a>
    <a href="#" class="btn btn-outline-primary btn-sm"
      @click.stop.prevent="removeAt"
    ><VueFeather type="trash-2"></VueFeather></a>
  </div>
</template>

<script>
import { useVuelidate } from '@vuelidate/core'
import { required, maxLength } from '@vuelidate/validators';
import { ElementMixin, HandleDirective } from 'vue-slicksort';
import { invalid } from '@/Utils/validate'
import { inject } from "vue";

export default {
  setup () {
    const { refreshModels } = inject("modelHandler")
    return { v$: useVuelidate(), refreshModels, invalid }
  },

  mixins: [ElementMixin],
  directives: { handle: HandleDirective },

  props: {
    type: String,
    index: Number,
    item: Object
  },

  data() {
    return {
      name: this.item.name
    }
  },

  watch: {
    name: {
      handler: function (val) {
        this.item.name = val
        this.refreshModels()
      }
    }
  },

  methods: {
    removeAt() {
      this.$emit('remove', this.index, this.item.uuid)
    }
  },

  validations () {
    return {
      name: {
        required,
        maxLength: maxLength(100)
      }
    }
  }
}
</script>
