
<template>
  <div class="col-12 col-xl-11">
    <div class="form-group row">
      <div class="col-sm-2 col-form-label"></div>
      <div class="col-sm-10 controls">
          <div class="table-responsive">
            <table class="table inputTable rwd-table">
              <thead>
                <tr>
                  <th> 商品貨號<span class="required">*</span> </th>
                  <th> 建議售價<span class="required">*</span>
                    <i class="fas fa-question-circle tips" data-toggle="tooltip" data-original-title="" data-trigger="click" aria-hidden="true"></i>
                  </th>
                  <th> 優惠價<span class="required">*</span>
                    <i class="fas fa-question-circle tips" data-toggle="tooltip" data-original-title="" data-trigger="click" aria-hidden="true"></i>
                  </th>
                  <th> 庫存<span class="required">*</span> </th>
                  <th> 安全庫存 </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <SpecModelEditor
                    :model="product.models[0]"
                  />
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
import _ from "lodash"
import SpecModelEditor from "./SpecModelEditor";
import { inject } from "vue"
import { useVuelidate } from '@vuelidate/core'
import { required, requiredIf, integer } from '@vuelidate/validators'
import { invalid } from '@/Utils/validate'

export default {
  setup () {
    const product = inject("product")
    const { generateModels, modelMerge } = inject("modelHandler")

    return { v$: useVuelidate(), product, generateModels, modelMerge, invalid }
  },

  components: {
    SpecModelEditor
  }
}
</script>
