
<template>
  <div class="col-12 col-xl-11">
    <div class="form-group row">
      <div class="col-sm-2 col-form-label">
        <label for="">主規格</label>
      </div>
      <div class="col-sm-10 controls">
        <SpecAndOptionEditor
          type="main"
          :spec="product.spec.list[0]"
        ></SpecAndOptionEditor>
      </div>
    </div>
  </div>
  <div class="col-12 col-xl-11"
    v-if="product.spec.type == 'double'"
  >
    <div class="form-group row">
      <div class="col-sm-2 col-form-label">
        <label for="">次規格</label>
      </div>
      <div class="col-sm-10 controls">
        <SpecAndOptionEditor
          type="second"
          :spec="product.spec.list[1]"
        ></SpecAndOptionEditor>
      </div>
    </div>
  </div>
  <div class="col-12 col-xl-11">
    <div class="form-group row">
      <div class="col-sm-2 col-form-label">
        <label for="">規格表</label>
      </div>
      <div class="col-sm-10 controls">
        <div class="control-group spec">
          <input type="text" class="form-control" placeholder="建議售價"
            v-model="form.price.original"
          >
          <input type="text" class="form-control" placeholder="優惠價"
            v-model="form.price.special"
          >
          <input type="text" class="form-control" placeholder="庫存"
            v-model="form.stock.setup"
          >
          <input type="text" class="form-control" placeholder="安全庫存"
            v-model="form.stock.safety"
          >
          <input type="text" class="form-control" placeholder="商品貨號"
            v-model="form.sku"
          >
          <button type="button" class="btn btn-primary"
            @click.stop.prevent="apply"
          >套用</button>
        </div>
        <p class="form-txt">批次套用下方表格資訊，如不須套用欄位請留空白</p>
          <SpecMatrixSingle
            v-if="product.spec.type == 'single'"
          ></SpecMatrixSingle>
          <SpecMatrixDouble
            v-else
          ></SpecMatrixDouble>
      </div>
    </div>
</div>
</template>

<script>
import _ from "lodash"
import SpecAndOptionEditor from "./SpecAndOptionEditor"
import SpecMatrixSingle from "./SpecMatrixSingle"
import SpecMatrixDouble from "./SpecMatrixDouble"
import useVuelidate from '@vuelidate/core'
import { inject } from "vue"

export default {
  setup () {
    const product = inject("product")
    return { v$: useVuelidate(), product }
  },

  components: {
    SpecAndOptionEditor,
    SpecMatrixSingle,
    SpecMatrixDouble
  },

  data () {
    return {
      form: {
        sku: '',
        price: {
          original: 0,
          special: 0
        },
        stock: {
          setup: 0,
          safety: 0
        }
      }
    }
  },

  methods: {
    apply () {
      this.$swal({
        title: '是否確定套用至所有規格？',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#1171b9',
        cancelButtonColor: '#82868b',
        confirmButtonText: '確定',
        cancelButtonText: '取消',
      }).then((result) => {
        if (result.isConfirmed) {
          this.product.models = _.map(this.product.models, model => {
            return { ...model, ...this.form }
          })
        }
      })
    }
  },
}
</script>
