<template>
  <td data-th="商品貨號 *">
    <input type="txt" class="form-control"
      v-model.trim="v$.model.sku.$model"
      :class="{ 'is-invalid': v$.model.sku.$error }"
    >
    <div class="invalid-tooltip" v-if="invalid(v$.model.sku, 'required')">必填</div>
  </td>
  <td data-th="建議售價 *">
    <input type="number" class="form-control"
      v-model.trim="v$.model.price.original.$model"
      :class="{ 'is-invalid': v$.model.price.original.$error }"
    >
    <div class="invalid-tooltip" v-if="invalid(v$.model.price.original, 'required')">必填</div>
    <div class="invalid-tooltip" v-if="invalid(v$.model.price.original, 'integer')">必須是數字</div>
  </td>
  <td data-th="優惠價 *">
    <input type="number" class="form-control"
      v-model.trim="v$.model.price.special.$model"
      :class="{ 'is-invalid': v$.model.price.special.$error }"
    >
    <div class="invalid-tooltip" v-if="invalid(v$.model.price.special, 'required')">必填</div>
    <div class="invalid-tooltip" v-if="invalid(v$.model.price.special, 'integer')">必須是數字</div>
  </td>
  <td data-th="庫存 *">
    <input type="number" class="form-control"
      v-model.trim="v$.model.stock.setup.$model"
      :class="{ 'is-invalid': v$.model.stock.setup.$error }"
    >
    <div class="invalid-tooltip" v-if="invalid(v$.model.stock.setup, 'required')">必填</div>
    <div class="invalid-tooltip" v-if="invalid(v$.model.stock.setup, 'integer')">必須是數字</div>
  </td>
  <td data-th="安全庫存">
    <input type="number" class="form-control"
      v-model.trim="v$.model.stock.safety.$model"
      :class="{ 'is-invalid': v$.model.stock.safety.$error }"
    >
    <div class="invalid-tooltip" v-if="invalid(v$.model.stock.safety, 'integer')">必須是數字</div>
  </td>
  <td class="rwd-action"
    v-if="product.spec.type !='none'"
  >
    <a href="#" class="btn btn-outline-primary btn-sm"
      @click.stop.prevent="removeAt"
    ><VueFeather type="trash-2"></VueFeather></a>
  </td>
</template>

<script>
import _ from "lodash"
import { useVuelidate } from '@vuelidate/core'
import { required, requiredIf, integer } from '@vuelidate/validators'
import { invalid } from '@/Utils/validate'
import { inject } from "vue"

export default {
  setup () {
    const product = inject("product")
    const { deleteModel } = inject("modelHandler")
    return { v$: useVuelidate(), product, invalid, deleteModel }
  },

  props: {
    index: Number,
    model: Object
  },

  methods: {
    removeAt () {
      this.deleteModel(this.model.uuids)
    }
  },

  validations () {
    return {
      model: {
        sku: {
          required
        },
        price: {
          original: {
            required,
            integer
          },
          special: {
            required,
            integer
          }
        },
        stock: {
          setup: {
            required,
            integer
          },
          safety: {
            integer
          }
        }
      }
    }
  }
}
</script>
