
<template>
  <div class="text-center">
    <button type="button" class="btn btn-primary"
      @click.stop.prevent="open = true"
    ><VueFeather type="plus"></VueFeather><span>新增款式</span></button>
  </div>
  <template
    v-if="open"
  >
    <div class="control-group my-2 spec">
      <input type="text" class="form-control"
        v-model.trim="v$.form.names.main.$model"
        :class="{ 'is-invalid': v$.form.names.main.$error }"
        :placeholder="names.main + ' *'"
      >
      <div class="invalid-tooltip" v-if="invalid(v$.form.names.main, 'required')">必填</div>

      <input type="text" class="form-control"
        v-if="product.spec.type =='double'"
        v-model.trim="v$.form.names.second.$model"
        :class="{ 'is-invalid': v$.form.names.second.$error }"
        :placeholder="names.second + ' *'"
      >
      <div class="invalid-tooltip" v-if="invalid(v$.form.names.second, 'required')">必填</div>

      <input type="text" class="form-control" placeholder="商品貨號 *"
        v-model.trim="v$.form.sku.$model"
        :class="{ 'is-invalid': v$.form.sku.$error }"
      >
      <div class="invalid-tooltip" v-if="invalid(v$.form.sku, 'required')">必填</div>

      <input type="text" class="form-control" placeholder="建議售價 *"
        v-model.trim="v$.form.price.original.$model"
        :class="{ 'is-invalid': v$.form.price.original.$error }"
      >
      <div class="invalid-tooltip" v-if="invalid(v$.form.sku, 'integer')">必須是數字</div>

      <input type="text" class="form-control" placeholder="優惠價 *"
        v-model.trim="v$.form.price.special.$model"
        :class="{ 'is-invalid': v$.form.price.special.$error }"
      >
      <div class="invalid-tooltip" v-if="invalid(v$.form.sku, 'integer')">必須是數字</div>

      <input type="text" class="form-control" placeholder="庫存 *"
        v-model.trim="v$.form.stock.setup.$model"
        :class="{ 'is-invalid': v$.form.stock.setup.$error }"
      >
      <div class="invalid-tooltip" v-if="invalid(v$.form.sku, 'integer')">必須是數字</div>

      <input type="text" class="form-control" placeholder="安全庫存"
        v-model.trim="v$.form.stock.setup.$model"
        :class="{ 'is-invalid': v$.form.stock.setup.$error }"
      >
      <div class="invalid-tooltip" v-if="invalid(v$.form.sku, 'integer')">必須是數字</div>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-primary"
        @click="added"
      >確定新增</button>
      <button type="button" class="btn btn-secondary"
        @click.stop.prevent="open = false"
      >取消</button>
    </div>
  </template>
</template>

<script>
import _ from "lodash"
import { useVuelidate } from '@vuelidate/core'
import { required, requiredIf, integer } from '@vuelidate/validators'
import { inject, reactive, computed } from "vue"
import { invalid } from '@/Utils/validate'

export default {
  setup () {
    const product = inject("product")
    const form = reactive({})
    const state = {}
    const validations = computed(() => ({
      form: {
        names: {
          main: {
            required
          },
          second: {
            required: requiredIf (function() {
              return product.spec.type == 'double'
            })
          }
        },
        sku: {
          required
        },
        price: {
          original: {
            integer
          },
          special: {
            integer
          },
        },
        stock: {
          setup: {
            integer
          }
        }
      }
    }))
    return { v$: useVuelidate(validations, state, { $scope: false }), product, invalid }
  },

  data () {
    return {
      open: false,
      // names: {
      //   main: !_.isEmpty(this.product.spec.list[0].name) ? this.product.spec.list[0].name: '主規格',
      //   second: !_.isEmpty(this.product.spec.list[1]?.name) ? this.product.spec.list[1]?.name: '次規格',
      // }
    }
  },

  computed: {
    names: function () {
      return {
        main: !_.isEmpty(this.product.spec.list[0].name) ? this.product.spec.list[0].name: '主規格',
        second: !_.isEmpty(this.product.spec.list[1]?.name) ? this.product.spec.list[1]?.name: '次規格',
      }
    }
  },

  methods: {
    added () {
      this.v$.$touch()
      if (! this.v$.$invalid) {
        //
      }
    },
  },
}
</script>
