
<template>
  <div class="table-responsive">
    <table class="table inputTable rwd-table">
      <thead>
        <tr>
          <th> {{ title }} </th>
          <th> 商品貨號<span class="required">*</span> </th>
          <th> 建議售價<span class="required">*</span>
            <i class="fas fa-question-circle tips" data-toggle="tooltip" data-original-title="" data-trigger="click" aria-hidden="true"></i>
          </th>
          <th> 優惠價<span class="required">*</span>
            <i class="fas fa-question-circle tips" data-toggle="tooltip" data-original-title="" data-trigger="click" aria-hidden="true"></i>
          </th>
          <th> 庫存<span class="required">*</span> </th>
          <th> 安全庫存 </th>
          <th class="rwd-action"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="(model, index) in models"
          :key="index"
        >
          <td
            :data-th="title"
          >{{ model.names[0] }}</td>
          <SpecModelEditor
            :index="index"
            :model="model"
          />
        </tr>
      </tbody>
    </table>
  </div>
  <SpecModelAdditional/>
</template>

<script>
import _ from "lodash"
import SpecModelEditor from "./SpecModelEditor"
import SpecModelAdditional from "./SpecModelAdditional"
import { inject } from "vue"

export default {
  setup () {
    const product = inject("product")
    return { product }
  },

  components: {
    SpecModelEditor,
    SpecModelAdditional
  },

  computed: {
    title: function () {
      return this.product.spec.list[0].name
    },
    models: function () {
      return _.filter(this.product.models, model => model.action !='hidden')
    },
  }
}
</script>
