
<template>
  <SpecNoneSection
    v-if="product.spec.type =='none'"
  />
  <SpecSettingsSection
    v-else
  />
</template>

<script>
import SpecNoneSection from "./SpecNoneSection"
import SpecSettingsSection from "./SpecSettingsSection"
import { inject } from "vue"

export default {
  setup () {
    const product = inject("product")

    return { product }
  },

  components: {
    SpecNoneSection,
    SpecSettingsSection
  },
}
</script>
