<template>
  <div class="form-group">
    <label class="form-label" for="">{{ type =='main'? '主規格': '次規格' }}名稱<span class="required">*</span></label>
    <div class="input-group input-group-merge">
      <input type="text" class="form-control" aria-label="" aria-describedby=""
        v-model="name"
        :class="{ 'is-invalid': v$.name.$error }"
        :placeholder="type =='main'? '輸入規格名稱，例如 : 尺寸': '輸入規格名稱，例如 : 顏色'"
      />
      <div class="input-group-append">
        <span class="input-group-text"><small>{{ name.length }}</small> / 100</span>
      </div>
      <div class="invalid-tooltip" v-if="invalid(v$.name, 'required')">必填</div>
      <div class="invalid-tooltip" v-if="invalid(v$.name, 'maxLength')">字數不能大於 100</div>
    </div>
  </div>
  <div class="form-group">
    <label class="form-label" for="">{{ type =='main'? '主規格': '次規格' }}選項<span class="required">*</span></label>
    <SpecOptionSortableList
      helperClass=""
      axis="y"
      v-model:list="options"
      :useDragHandle="true"
    >
      <SpecOptionSortableItem
        v-for="(item, index) in options"
        :index="index"
        :key="item"
        :item="item"
        :type="type"
        @remove="remove"
      />
    </SpecOptionSortableList>
    <div class="text-center mt-50">
      <button type="button" class="btn btn-primary"
       @click="add"
      ><VueFeather type="plus"></VueFeather><span>新增選項 <small>( {{ Object.keys(this.spec.options).length }} / 50 )</small></span></button>
    </div>
  </div>
</template>

<script>
import _ from "lodash";
import { useVuelidate } from '@vuelidate/core'
import { required, maxLength } from '@vuelidate/validators';
import SpecOptionSortableList from "./SpecOptionSortableList";
import SpecOptionSortableItem from "./SpecOptionSortableItem";
import { invalid } from '@/Utils/validate'
import { inject } from "vue"

export default {
  setup () {
    const { refreshModels } = inject("modelHandler")
    return { v$: useVuelidate(), refreshModels, invalid}
  },

  components: {
    SpecOptionSortableList,
    SpecOptionSortableItem,
  },

  props: {
    type: String,
    index: Number,
    spec: Object,
  },

  data () {
    return {
      name: this.spec.name,
      options: _.filter(this.spec.options, option => option.action !='removed')
    }
  },

  watch: {
    name: {
      handler: function (val) {
        this.spec.name = val
        this.refreshModels()
      }
    },
    options: {
      handler: function (val) {
        _.map(this.options, (option, idx) => {
          let item = _.find(this.spec.options, { 'uuid': option.uuid })
          item.sort = idx +1
        })
      }
    }
  },

  methods: {
    add () {
      if (Object.keys(this.options).length <= 50) {
        const data = {
          id: '',
          uuid: nanoid(),
          name: '',
          sort: Object.keys(this.options).length + 1,
          action: 'added'
        }
        this.options.push(data)
        this.spec.options.push(data)
      }
    },
    remove (idx, uuid) {
      if (this.options.length > 1) {
        this.$swal({
          title: '是否確定刪除規格選項？',
          text: "刪除規格選項將導致規格表部分資料刪除，請確定是否刪除",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#1171b9',
          cancelButtonColor: '#82868b',
          confirmButtonText: '確定',
          cancelButtonText: '取消',
        }).then((result) => {
          if (result.isConfirmed) {
            this.options.splice(idx, 1)
            idx = this.spec.options.findIndex(item => item.uuid == uuid)
            if (this.spec.options[idx].action == 'added') {
              this.spec.options.splice(idx, 1)
            } else {
              this.spec.options[idx].action = 'removed'
            }
            this.refreshModels()
          }
        })
      } else {
        this.$swal({
          icon: 'error',
          title: 'Oops...',
          text: '規格選項無法全部刪除，必須保留一個',
        })
      }
    }
  },

  validations () {
    return {
      name: {
        required,
        maxLength: maxLength(100)
      }
    }
  }
}
</script>
