
<template>
  <div class="col-12 col-xl-11">
      <div class="form-group row">
          <div class="col-sm-2 col-form-label">
            <label for="">啟用規格</label>
          </div>
          <div class="col-sm-10 controls">
            <div class="custom-control custom-control-primary custom-switch">
              <input type="checkbox" class="custom-control-input" id="SwitchSpec"
                :checked="product.spec.type !='none'"
                @click="product.spec.type !='none' ? switchType('none'): switchType('single')"
              />
              <label class="custom-control-label" for="SwitchSpec"></label>
            </div>
          </div>
      </div>
  </div>
  <div class="col-12 col-xl-11"
    v-if="product.spec.type !='none'"
  >
    <div class="form-group row">
      <div class="col-sm-2 col-form-label">
        <label for="">規格類型<span class="required">*</span></label>
      </div>
      <div class="col-sm-10 controls">
        <div class="control-group">
          <div class="custom-control custom-radio mr-1">
            <input type="radio" id="singleSpec" name="specType" value="single" class="custom-control-input"
              v-model="product.spec.type"
              @click="switchType('single')"
            />
            <label class="custom-control-label" for="singleSpec">單一規格</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="doubleSpec" name="specType" value="double" class="custom-control-input"
              v-model="product.spec.type"
              @click="switchType('double')"
            />
            <label class="custom-control-label" for="doubleSpec">雙規格</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import _ from "lodash"
import { inject } from "vue"

export default {
  setup () {
    const product = inject("product")
    const { generateModels, modelMerge } = inject("modelHandler")

    return { product, generateModels, modelMerge }
  },

  data () {
    return {
      rollback: false
    }
  },

  watch: {
    "product.spec.type": {
      handler: function (val, oldVal) {
        if ((val =='single' && oldVal =='double') || (val =='none' && oldVal =='single') || (val =='none' && oldVal =='double')) {
          this.$swal({
            title: '是否確定更改規格？',
            text: "切換規格類型將導致規格表部分資料刪除，請確定是否更改",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#1171b9',
            cancelButtonColor: '#82868b',
            confirmButtonText: '確定',
            cancelButtonText: '取消',
          }).then((result) => {
            if (result.isConfirmed) {
              this.handleSpecData(val, oldVal)
              this.handleModelData(val, oldVal)
            } else {
              this.rollback = true
              this.product.spec.type = oldVal
            }
          })
        } else if (this.rollback) {
          this.rollback = false
        } else {
          this.handleSpecData(val, oldVal)
          this.handleModelData(val, oldVal)
        }
      },
      deep: true,
    }
  },

  methods: {
    switchType (type) {
      this.product.spec.type = type
    },
    handleSpecData (val, oldVal) {
      switch (val) {
        case 'none':
          if (oldVal =='double') {
            this.product.spec.list = _.dropRight(this.product.spec.list, 1)
          }
          if (this.product.spec.list[0].options.length >1) {
            this.product.spec.list[0].options = this.product.spec.list[0].options[0]
          }
          _.set(this.product.spec.list[0], 'name', '無')
          _.set(this.product.spec.list[0], 'options[0].name', '無')
          break;
        case 'single':
          if (oldVal =='none') {
            _.set(this.product.spec.list[0], 'name', '')
            _.set(this.product.spec.list[0], 'options[0].name', '')
          } else {
            this.product.spec.list = _.dropRight(this.product.spec.list, 1)
          }
          break;
        case 'double':
          if (oldVal =='none') {
            _.set(this.product.spec.list[0], 'name', '')
            _.set(this.product.spec.list[0], 'options[0].name', '')
          }
          this.product.spec.list.push(this.getDefaultValue())
          break;
      }
    },
    getDefaultValue () {
      return {
        id: null,
        name: '',
        action: 'added',
        options: [
          { id: '', uuid: nanoid(), name: '', sort: 1, action: 'added' },
        ]
      }
    },
    handleModelData (val, oldVal) {
      let models = _.cloneDeep(this.product.models)

      if (val == 'none') {
        if (oldVal == 'double') {
          models = _.map(models, model => {
            model.uuids = _.dropRight(model.uuids, 1)
            model.names = _.dropRight(model.names, 1)
            return model
          })
        }
      }

      if (val == 'single') {
        if (oldVal == 'double') {
          models = _.map(models, model => {
            model.uuids = _.dropRight(model.uuids, 1)
            model.names = _.dropRight(model.names, 1)
            return model
          })
        } else if (oldVal == 'none') {
          _.set(models[0], 'names[0]', '')
        }
      }

      if (val == 'double') {
        models = _.map(models, model => {
          model.uuids.push(this.product.spec.list[1].options[0].uuid)
          model.names.push(this.product.spec.list[1].options[0].name)
          return model
        })
      }

      this.generateModels()
      this.modelMerge(models)
    }
  },
}
</script>
