<template>
  <!-- BEGIN: Header-->
  <nav class="header-navbar navbar navbar-expand-lg align-items-center floating-nav navbar-shadow navbar-light navbar-dark bg-primary">
    <Navbar></Navbar>
  </nav>
  <!-- END: Header-->
  <!-- BEGIN: Main Menu-->
  <div class="main-menu menu-fixed menu-accordion menu-shadow menu-light" data-scroll-to-active="true" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"
    @mouseover="menuExpanded = true"
    @mouseleave="menuExpanded = false"
    :class="{ 'expanded': menuExpanded }"
  >
    <div class="main-menu menu-fixed menu-accordion menu-shadow menu-light" data-scroll-to-active="true"
      @mouseover="menuExpanded = true"
      @mouseleave="menuExpanded = false"
      :class="{ 'expanded': menuExpanded }"
    >
      <MainMenu
        :menuExpanded="menuExpanded"
      ></MainMenu>
    </div>
  </div>
  <!-- END: Main Menu-->
  <!-- BEGIN: Content-->
  <div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
      <div class="content-header">
        <div class="breadcrumbs-top mb-2">
          <slot name="header"></slot>
        </div>
      </div>
      <div class="content-body">
        <slot />
      </div>
    </div>
  </div>
  <!-- END: Content-->
  <!-- END: Content-->
  <div class="sidenav-overlay"></div>
  <div class="drag-target"></div>
  <!-- BEGIN: Footer-->
  <Footer></Footer>
  <button class="btn btn-primary btn-icon scroll-top" type="button"><VueFeather type="arrow-up"></VueFeather></button>
  <!-- END: Footer-->

  <slot name="models"></slot>
  <SweetalertMessages></SweetalertMessages>
</template>

<script>
import JetApplicationMark from "@/Jetstream/ApplicationMark";
import JetBanner from "@/Jetstream/Banner";
import JetDropdown from "@/Jetstream/Dropdown";
import JetDropdownLink from "@/Jetstream/DropdownLink";
import JetNavLink from "@/Jetstream/NavLink";
import JetResponsiveNavLink from "@/Jetstream/ResponsiveNavLink";
import MainMenu from "@/Admin/Shared/MainMenu";
import Navbar from "@/Admin/Shared/Navbar";
import Footer from "@/Admin/Shared/Footer";
import SweetalertMessages from "@/Utils/Components/SweetalertMessages"

export default {
  components: {
    JetApplicationMark,
    JetBanner,
    JetDropdown,
    JetDropdownLink,
    JetNavLink,
    JetResponsiveNavLink,
    MainMenu,
    Navbar,
    Footer,
    SweetalertMessages
  },

  data() {
    return {
      menuExpanded: false,
      showingNavigationDropdown: false,
      scripts : [
        'https://code.jquery.com/jquery-3.6.0.min.js',
        '/app-assets/vendors/js/vendors.min.js',
        'https://kit.fontawesome.com/0521151c36.js',
        '/app-assets/js/core/app-menu.js',
        '/app-assets/js/core/app.js',
        '/app-assets/vendors/js/tables/datatable/jquery.dataTables.min.js',
        '/app-assets/vendors/js/tables/datatable/datatables.bootstrap4.min.js',
        '/app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js',
        '/app-assets/vendors/js/tables/datatable/responsive.bootstrap4.js',
        '/app-assets/vendors/js/tables/datatable/datatables.checkboxes.min.js',
        '/app-assets/vendors/js/tables/datatable/datatables.buttons.min.js',
        '/app-assets/vendors/js/tables/datatable/jszip.min.js',
        '/app-assets/vendors/js/tables/datatable/pdfmake.min.js',
        '/app-assets/vendors/js/tables/datatable/vfs_fonts.js',
        '/app-assets/vendors/js/tables/datatable/buttons.html5.min.js',
        '/app-assets/vendors/js/tables/datatable/buttons.print.min.js',
        '/app-assets/vendors/js/tables/datatable/dataTables.rowGroup.min.js',
        '/app-assets/vendors/js/pickers/pickadate/picker.js',
        '/app-assets/vendors/js/pickers/pickadate/picker.date.js',
        '/app-assets/vendors/js/pickers/pickadate/picker.time.js',
        '/app-assets/vendors/js/pickers/pickadate/legacy.js',
        '/app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js',
        '/app-assets/js/scripts/tables/table-datatables-basic.js',
        '/app-assets/js/scripts/forms/pickers/form-pickers.js',
      ]
    };
  },

  mounted () {
    let datatablesScript = document.createElement('script')
    datatablesScript.setAttribute('src', '/app-assets/js/scripts/tables/table-datatables-basic.js')
    document.head.appendChild(datatablesScript)
    let pickersScript = document.createElement('script')
    pickersScript.setAttribute('src', '/app-assets/js/scripts/forms/pickers/form-pickers.js')
    document.head.appendChild(pickersScript)

    // this.scripts.forEach(function(script){
    //   let newScript = document.createElement('script')
    //   newScript.setAttribute('src', script)
    //   document.head.appendChild(newScript)
    // });

    if(this.$isMobile()) {
      document.body.classList.add('vertical-layout', 'navbar-floating', 'footer-static', 'vertical-overlay-menu', 'pace-done', 'menu-hide')
    } else {
      document.body.classList.add('vertical-layout', 'navbar-floating', 'footer-static', 'vertical-menu-modern', 'menu-expanded', 'pace-done', 'pace-done', 'pace-done')
    }
    document.body.classList.add('vue-checker')
    document.body.classList.remove('blank-page')
  },

  unmounted () {
    document.body.classList.remove('vertical-layout', 'navbar-floating', 'footer-static', 'vertical-menu-modern')
  },

  methods: {
    switchToTeam(team) {
      this.$inertia.put(
        route("admin.current-team.update"),
        {
          team_id: team.id,
        },
        {
          preserveState: false,
        }
      );
    },
  }
};
</script>
