:root {
    --p-main:  #3d0d7a;
    --p-second: #f085b6;
    --p-focus: #ff295f;
    --p-red: #ff295f;
    --p-font:  #222;
    --p-value: #3d0d7a;
    --p-button:  #3d0d7a;
    --p-button-buy:  #f085b6;
    --p-button-gray: #999;
    --p-line: #ebebeb;
    --p-gray-light: #f9f9f9;
    --p-gray: #d6d6d6;
    --p-gray-dark: #a3a2ac;
  }
.grid-product .product-image .addcart {
    display: none !important;
}
.shop-list .shop-list-body.shop-grid .shop-product {
  margin-bottom: 3rem;
}

@media (max-width: 479px){
.shop-list .shop-list-body.shop-grid .shop-product {
  margin-bottom: 2rem;
}
