:root {
    --p-main:  #000;
    --p-second: #000;
    --p-focus: #ff295f;
    --p-red: #ff295f;
    --p-font:  #000;
    --p-value: #9e9fa2;
    --p-button:  #000;
    --p-button-buy:  #000;
    --p-button-gray: #9e9fa2;
    --p-line: #e1e1e1;
    --p-gray-light: #f9f9f9;
    --p-gray: #d6d6d6;
    --p-gray-dark: #a3a2ac;
}

body,
header .header-wrapper-desktop .header .header-main .header__navbar ul.navbar-menu > li .sub-menu > li > a,
.return-value li strong,
.fixed-button ul.button-menu li a i{
    color: #000;
}

/***商品列表***/
.shop-list .shop-product .product-inner{
    border: 1px solid transparent;
    -webkit-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.shop-list .shop-product:hover .product-inner{
  border: 1px solid var(--p-main);
}

.shop-list .shop-product .product-image a {
    padding: 0;
    border: 0;
}
.shop-list .shop-product .product-image a::before,
.shop-list .shop-product .product-image a::after
{
  display: none;
}
.grid-product .product-image .addcart {
    display: none !important;
}
.shop-list .shop-product .product-info {
    padding: 1rem;
    text-align: left;
    /* background-color: #f9f9f9; */
}
.grid-product .price {
    justify-content: flex-start;
  }
.product-inner {
    position: relative;
}
.grid-product .add-to-cart, .shop-list .add-to-cart {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-product .add-to-cart.empty {
    width: fit-content;
    background-color: transparent !important;
    color: #999 !important;
    font-size: 14px;
    font-weight: normal;
    align-items: baseline
}
.add-to-cart i {
    display: block;
    margin-right: 0;
}
.add-to-cart span {
    display: none;
}
.grid-product .product-button {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    z-index: 1;
}
.au-panigation .panigation-item a {
    color: var(--p-main);
}
.au-panigation .panigation-item.active a {
    color: var(--p-main);
    background-color: transparent;
    border: 1px solid var(--p-main);
    border-radius: 0;
}


.block-account .block-content > ul > li li > a {
    border: 1px solid var(--p-main);
}
.form-container h4 {
    color: var(--p-main);
}
.to-top {
    background-color: #999;
}
.footer-social .social-item a {
    opacity: 1;
}


@media (min-width: 768px){
/**footer**/
.footer .main-footer .main-footer-container .footer-item .footer-item-heading, .breadcrumb li a {
    color: #999;
}
.footer.footer-1 .sub-footer, .footer.footer-1 .main-footer {
    background-color: var(--p-main);
    color: #eee;
    border-top: 1px solid #333;
}
.footer.footer-1 .sub-footer a {
    color: #eee;
}
.footer-social .social-item a {
    background-color: #fff;
}
header .header-wrapper-desktop .header .header-main .header__button ul li.header-search .search-input input {
    border: 1px solid #000;
}
.header__button ul li.header-search .search-input a.btn {
    border: 1px solid #000;
    background-color: #000;
}
.header__button ul li.header-search .search-input a.btn i {
    color: #fff !important;
}
.footer-infopage ul li, .footer-infopage ul li a{
    color: #ccc;
}
.footer-infopage ul i{
    color: #666;
}
.footer .main-footer .main-footer-container .footer-item .footer-item-content .footer-list li a {
    color: #ccc !important;
}

}

@media (max-width: 479px){
    .shop-list .shop-list-body.shop-grid .shop-product {
        margin-bottom: 1rem;
    }
    .shop-list .shop-product .product-info {
        padding: 1rem 0;
    }
    .grid-product .product-button {
        right: 0.5rem;
        bottom: 0.5rem;
    }
    .grid-product .price .old-price{
        margin-left: 10px;
    }
    .grid-product .add-to-cart, .shop-list .add-to-cart {
        width: 35px;
        height: 35px;
    }
}
@media (max-width: 320px){
.grid-product .price, .grid-product .price .new-price {
    font-size: 17px;
}
.shop-list .shop-list-body.shop-grid .shop-product .product-body .price .old-price, .grid-product .price .old-price {
    font-size: 13px;
}
.shop-list .shop-product .product-info {
    padding: 0.5rem 0 1.5rem 0;
}
}