
:root {
  --p-main: #93c5d1;
  --p-second: #ffd060;
  --p-focus: #ff7a9c;
  --p-red: #ff002e;
  --p-font:  #333;
  --p-value: #258ace;
  --p-button:  #93c5d1;
  --p-button-buy:  #ffd060;
  --p-button-gray: #a7aaaf;
  --p-line: #eaeaea;
  --p-gray-light: #f9f9f9;
  --p-gray: #dfe0e1;
  --p-gray-dark: #2D3E4E;
}
.title{
  color: var(--p-gray-dark);
}
.title-border {
  background-color: var(--p-main);
}
.form-block.delivery-block h4 .amount {
  color: var(--p-focus);
}
.grid-product .product-inner {
  border: 1px solid var(--p-line);
}
.grid-product .product-image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 18px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.shop-list .shop-product .product-image {
  margin-bottom: 0;
}
.shop-list .shop-product .product-image a::before, .shop-list .shop-product .product-image a::after{
  display: none;
}
.shop-list .shop-product .product-image a {
  padding: 0 !important;
  border: 0;
}
.shop-list .shop-product .product-image:hover img {
  opacity: 0.8;
  
}
.shop-list .shop-product .product-image a.add-to-cart{
  background-color: var(--p-button-buy);
}
.grid-product .product-button {
  display: none;
}
.btn.btn-outline, .btn.btn-outline i {
  color: var(--p-gray-dark) !important;
}
.btn.buy {
  background-color: var(--p-main);
}
@media (max-width: 1366px) {
.grid-product .product-button {
   display: flex;
}
.grid-product .image .addcart{
  display: none;
}
.grid-product .product-inner {
  padding-bottom: 0;
}
}

@media (max-width: 767px){
.member-page .form-block.delivery-block > h4 {
    background-color: var(--p-button-gray);
}
}
@media (max-width: 479px){
  .shop-list .shop-list-body.shop-grid .shop-product {
      margin-bottom: 1rem;
  }
}