<template>
    <masterLayout>
        <section class="page-content">
          <div class="container">
            <div class="full-page login-page col-md-8">
              <div class="row justify-content-center">
                <div class="col-md-8 text-center">
                  <h2 class="title">忘記密碼</h2>
                  <div class="title-border mx-auto"></div>
                </div>
              </div>
              <div id="form-container" class="form-container">
                <form v-if="selectTemplate == 1" role="form">
                  <p class="notice">請輸入您的手機號碼，我們將發送密碼重置信至您的聯絡E-mail。</p>
                  <div class="form-row">
                    <label for="colFormLabel" class="col-sm-3 col-form-label">
                      <small>*</small>手機號碼：
                    </label>
                    <div class="col-sm-9 controls">
                      <input type="text" class="form-control" id="inputZip">
                    </div>
                  </div>
                  <div class="form-row form-action">
                    <label for="colFormLabel" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 controls">
                      <InertiaLink :href="baseUrl + 'forgot-password/email'" class="btn">下一步</InertiaLink>
                    </div>
                  </div>
                </form>

                <p v-if="selectTemplate == 2" class="notice">
                    我們已將認證信件寄至您的信箱，請您前往收取，謝謝。<br>
                    為維護您的隱私及權益，該連結將於24小時後或重設密碼後失效。
                </p>

              </div>
            </div>
          </div>
        </section>
    </masterLayout>
</template>
<script>
import { reactive, ref, getCurrentInstance } from 'vue'
export default {
    setup() {
        const selectTemplate = location.href.indexOf('email') > 0 ? ref(2) : ref(1);

        return {
            selectTemplate
        }
    }
}
</script>