<template>
  <masterLayout>
    <section class="page-content">
      <div class="container">
        <div class="full-page login-page col-md-9">
          <div id="form-container" class="form-container login-form">
            <div class="row">
              <div class="col-md-7 col-xs-7">
                <div class="theme_title">
                  <h3>會員登入</h3>
                </div>
                <form role="form">
                  <div class="form-row">
                    <div class="col-12">
                      <input type="text" class="form-control" placeholder="請輸入您的手機號碼">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-12">
                      <div class="input-group">
                        <input type="password" class="form-control" placeholder="請輸入您的密碼">
                        <div class="input-group-append">
                          <a href="#" class="input-group-text input-group-icon"><i class="fa fa-eye-slash"></i></a>
                        </div>
                      </div>
                      <span class="text-error">
                        <i class="fa fa-exclamation-triangle"></i> 密碼錯誤
                      </span>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-12">
                      <div id="captcha"></div>
                    </div>
                  </div>
                  <div class="login-btn">
                    <a href="checkout.html" class="btn ">登入</a>
                    <span class="forget">
                      <InertiaLink :href="baseUrl + 'forgot-password'"><i class="fa fa-key"></i> 忘記密碼?</InertiaLink>
                    </span>
                  </div>
                </form>
              </div>
              <div class="col-md-5 col-xs-5 notmember">
                <div class="theme_title">
                  <h3>會員註冊</h3>
                </div>
                <p>註冊成為會員，同時享有多項會員福利。</p>
                <InertiaLink :href="baseUrl + 'register'" class="btn">註冊會員</InertiaLink>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </masterLayout>
</template>
<script>
export default {}
</script>