<template>
    <masterLayout>
        <section class="page-content">
          <div class="container">
            <div class="full-page login-page col-md-8">
              <div class="row justify-content-center">
                <div class="col-md-8 text-center">
                  <h2 class="title">會員註冊</h2>
                  <div class="title-border mx-auto"></div>
                </div>
              </div>
              <div class="form-container">
                <form role="form">
                  <div class="form-row">
                    <label for="colFormLabel" class="col-sm-3 col-form-label"><small>*</small>姓名：</label>
                    <div class="col-sm-9 controls">
                      <input type="text" class="form-control" placeholder="請輸入姓名">
                    </div>
                  </div>
                  <div class="form-row">
                    <label for="colFormLabel" class="col-sm-3 col-form-label"><small>*</small>手機號碼：</label>
                    <div class="col-sm-9 controls">
                      <input type="text" class="form-control" placeholder="格式0912345678">
                      <p class="form-txt red">此為往後會員登入之帳號</p>
                    </div>
                  </div>
                  <div class="form-row">
                    <label for="colFormLabel" class="col-sm-3 col-form-label"><small>*</small>E-mail：</label>
                    <div class="col-sm-9 controls">
                      <input type="email" class="form-control" placeholder="請輸入E-mail">
                    </div>
                  </div>
                  <!-- <div class="form-row">
                            <label for="colFormLabel" class="col-sm-3 col-form-label"><small>*</small>性別：</label>
                            <div class="col-sm-9 controls">
                                <div class="form-inline">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="a1" value="" checked="">
                                            先生 <i class="input-helper"></i>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="a1" value="option2">
                                            小姐 <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                  <div class="form-row">
                    <label class="col-sm-3 col-form-label" for="colFormLabel"><small>*</small>密碼：</label>
                    <div class="col-sm-9 controls">
                      <div class="input-group">
                        <input :type="showPwd.sPwd ? 'text' : 'password'" class="form-control" placeholder="請輸入密碼">
                        <div class="input-group-append">
                            <a @click.prevent="showPwd.sPwd = !showPwd.sPwd" href="javascript:;" class="input-group-text input-group-icon">
                              <i class="fa" :class="showPwd.sPwd ? 'fa-eye' : 'fa-eye-slash'"></i>
                            </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <label class="col-sm-3 col-form-label" for="colFormLabel"><small>*</small>確認密碼：</label>
                    <div class="col-sm-9 controls">
                      <div class="input-group">
                        <input :type="showPwd.sConfirmPwd ? 'text' : 'password'" class="form-control" placeholder="請再次輸入密碼">
                        <div class="input-group-append">
                            <a @click.prevent="showPwd.sConfirmPwd = !showPwd.sConfirmPwd" href="javascript:;" class="input-group-text input-group-icon">
                              <i class="fa" :class="showPwd.sConfirmPwd ? 'fa-eye' : 'fa-eye-slash'"></i>
                            </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-row form-action">
                    <label for="colFormLabel" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 controls">
                      <a href="#" class="btn">註冊</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
    </masterLayout>
</template>
<script>    
import { reactive, ref, getCurrentInstance } from 'vue'
export default {
    setup() {
        const showPwd = reactive({
            sPwd: false,
            sConfirmPwd: false
        })
        return {
            showPwd
        }
    }
}
</script>