<template>
    <masterLayout>
        <section class="page-content">
          <div class="container">
            <div class="full-page login-page col-md-8">
              <div class="row justify-content-center">
                <div class="col-md-8 text-center">
                  <h2 class="title">重設密碼</h2>
                  <div class="title-border mx-auto"></div>
                </div>
              </div>
              <div id="form-container" class="form-container">
                <form role="form">
                  <div class="form-row">
                    <label for="colFormLabel" class="col-sm-3 col-form-label">
                      <small>*</small>新密碼：
                    </label>
                    <div class="col-sm-9 controls">
                      <div class="input-group">
                        <input :type="showPwd.sPwd ? 'text' : 'password'" class="form-control" placeholder="">
                        <div class="input-group-append">
                            <a @click.prevent="showPwd.sPwd = !showPwd.sPwd" href="javascript:;" class="input-group-text input-group-icon">
                              <i class="fa" :class="showPwd.sPwd ? 'fa-eye' : 'fa-eye-slash'"></i>
                            </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <label for="colFormLabel" class="col-sm-3 col-form-label">
                      <small>*</small>確認新密碼：
                    </label>
                    <div class="col-sm-9 controls">
                      <div class="input-group">
                        <input :type="showPwd.sConfirmPwd ? 'text' : 'password'" class="form-control" placeholder="">
                        <div class="input-group-append">
                            <a @click.prevent="showPwd.sConfirmPwd = !showPwd.sConfirmPwd" href="javascript:;" class="input-group-text input-group-icon">
                              <i class="fa" :class="showPwd.sConfirmPwd ? 'fa-eye' : 'fa-eye-slash'"></i>
                            </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-row form-action">
                    <label for="colFormLabel" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 controls">
                      <a href="#" class="btn">儲存</a>
                    </div>
                  </div>
                </form>
              </div>


            </div>
          </div>
        </section>
    </masterLayout>
</template>

<script>
import { reactive, ref, getCurrentInstance } from 'vue'
export default {
    setup() {
        const showPwd = reactive({
            sPwd: false,
            sConfirmPwd: false
        })
        return {
            showPwd
        }
    }
}
</script>
