<template>
  <div class="shop-list-body shop-grid owl-carousel">
    <div class="shop-product grid-product" v-for="(item, key) in listData">
      <div class="product-inner">
        <div class="product-image">
          <inertia-link :href="baseUrl + 'product/' + item.id">
            <Img :src="imgSrc(item.photo)" />
          </inertia-link>
          <div class="addcart">
            <span class="add-to-cart empty" v-if="item.is_sales">缺貨</span>
            <a v-else href="javascript:;" class="add-to-cart" @click.prevent="showModalCart($event, item)" data-target="#addToCart">
              <i class="fa fa-shopping-cart"></i>
              <span>加入購物車</span>
            </a>
          </div>
        </div>
        <div class="product-info">
          <inertia-link :href="item.src" class="name">
            {{item.name}}
          </inertia-link>
          <div class="price" v-rHtml="tPrice(item.price)">
            <span class="old-price">$1080</span>
            <span class="new-price">
              <small>$</small> 3,690
            </span>
          </div>
        </div>
        <div class="product-button">
          <span class="add-to-cart empty" v-if="item.is_sales">已售完</span>
          <a v-else href="javascript:;" class="add-to-cart" @click.prevent="showModalCart($event, item)" data-target="#addToCart">
            <i class="fa fa-shopping-cart"></i>
            <span>加入購物車</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Moda12 -->
  <div class="modal fade" id="addToCart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">×</a>
        </div>
        <div class="modal-body shop-product">
          <div class="product-body">
            <h3 class="name" v-rHtml:text="modalData.name">手工訂製美甲 優惠現貨特價款 不退不換</h3>
            <div class="price" v-rHtml="tPrice(modalData.price)">
              <span class="old-price">$1080</span>
              <span class="new-price">
                <small>$</small> 3,690
              </span>
            </div>
            <div class="pro-payment">
              <ul>
                <li v-for="(item) in modalData.paymentMethods">
                  付款方式：<Img src="/frontend/images/icon/family-logo.png" alt="" /> {{item.name}}
                </li>
                <li v-for="(item) in modalData.shippingMethods">
                  運送方式：<Img src="/frontend/images/icon/family-logo.png" alt="" /> {{item.name}}
                </li>
              </ul>
            </div>
            <ProductSpec :data="modalData.specData" @form="f => getForms(f, modalData)" />
            <div class="product-button">
              <numInput v-model="modalData.forms.quantity" :max="modalData.forms.stock" />
              <div class="storehouse">
                <i class="fa fa-archive"></i>
                庫存量
                <span> &gt; {{modalData.forms.stock}}</span>
              </div>
            </div>
            <div class="shop-btn">
              <a href="javascript:;" data-target="#tips" class="add-to-cart" @click.prenvet="addCart($event, modalData.forms)">加入購物車</a>
              <a href="javascript:;" class="add-to-cart buy-now">立即購買</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Moda12 end-->
</template>
<script>
import { reactive, ref, computed } from 'vue'
import ProductSpec from './ProductSpec'
export default {
  setup(props) {
    const listData = computed(() => {
      let list = Object.assign([], props.data)
      list.forEach((item, key) => {
        if (typeof item.price == 'undefined') {
          item.price = '$100 ~ $10'
        }
        list[key] = item
      })
      return list
    })

    // 排出列表圖
    const imgSrc = (img) => {
      let data = img.sort((a, b) => a.sort > b.sort)
      return data.length > 0 ? data[0].url : ''
    }

    // 整理 form
    const getForms = (data, modalData) => {
      console.log({emit: data, modal: modalData})
      let stock = typeof data.stock !== 'undefined' ? data.stock : 0
      let uuid = typeof data.uuid !== 'undefined' ? data.uuid : 0
      modalData.forms.id = uuid
      if (typeof data.stock !== 'undefined') modalData.forms.stock = stock
      if (typeof data.price !== 'undefined') modalData.price = data.price
    }

    return {
      listData, imgSrc, getForms
    }
  },
  computed: {
    modalData() {
      let data = this.store.state.tempData
      if (typeof data.forms == 'undefined') return {
        forms: {
          id: '', qty: 0,
          spec: '', categ: '',
          stock: 0, quantity: 0
        }
      }
      console.log({
        type: 'modal data',
        data: data
      })
      return Object.assign({}, data)
    }
  },
  props: {
    data: {
      type: Array,
      default: []
    }
  },
  components: {
    ProductSpec
  }
}
</script>