<template>
  <div class="pro-select" v-for="(item, key) in list">
    <template v-if="item.name !== '無'">
      <h6>{{item.name}} :</h6>
      <ul class="spec-txt">
        <li v-for="(row, rk) in item.options" :class="checkClass((key+1), row)">
          <a href="javascript:;" @click="toActive($event, (key+1), row)">{{row.name}}</a>
        </li>
      </ul>
    </template>
  </div>
</template>
<script>
import { reactive, toRefs, computed, watch } from 'vue'
export default {
  emits: ['form'],
  setup(props, context) {
    let forms = reactive({
      sp1: 0, sp2: 0,
      sp1uuid: '', sp2uuid: '',
      stock: 0, uuid: 0, price: 0,
    })

    watch(forms, () => {
      console.log({type: 'watch', form: forms})
      context.emit('form', forms)
    })

    const list = computed(() => {
      if (!Array.isArray(props.data)) return []
      return Object.assign([], props.data)
    })

    // 確認庫存
    const checkSurplus = (index, item) => {
      const prevUUID = forms['sp'+((index - 1) < 0 ? 0 : (index - 1))+'uuid']
      const combineUUID = prevUUID + '-' + item.uuid
      const filterModel = item.model.filter(f => f.uuid == combineUUID)
      console.log({
        pUuid: prevUUID, tUuid: item.uuid,
        cUuid: combineUUID,
        fm: filterModel
      })
      return filterModel
    }

    const checkClass = (index, row) => {
      let className = []
      let stock = 0
      if (!row.modelActive) {
        stock = row.stockSurplus
      } else {
        let filterModel = checkSurplus(index, row)
        if (filterModel.length > 0 && filterModel.length < 2) {
          stock = filterModel[0]['stockSurplus']
        }
      }
      if (stock <= 0) className.push('empty')
      if (forms['sp' + index] == row.id) className.push('active')
      console.log({checkClassData: row, ik: index, stock: stock})
      return className.join(' ')
    }

    const toActive = (event, index, item) => {
      const el = event.currentTarget
      console.log({el: el, idx: index, row: item, form: forms})
      forms['sp'+index] = item.id
      forms['sp'+index+'uuid'] = item.uuid

      // 雙向不為0
      if (forms.sp1 !== 0 && forms.sp2 !== 0) {
        const uuids = forms.sp1uuid + '-' + forms.sp2uuid
        let filterModel = item.model.filter(f => f.uuid == uuids)
        if (filterModel.length == 0) {
          forms.price = item.price
          forms.stock = item.stockSurplus
          return false
        }
        filterModel = filterModel[0]
        forms.price = filterModel['price']
        forms.stock = filterModel.stockSurplus
        forms.uuid  = filterModel.uuid
        return true
      }

      if (!item.modelActive) {
        forms.price = item.price
        forms.stock = item.stockSurplus
        // forms['sp2'] = 0
        if (forms.sp2 == 0) return false
      }

      if (forms.sp1 == 0) {
        // forms['sp2'] = 0
        forms.price = item.price
        forms.stock = item.stockSurplus
        return false
      }

      let filterModel = checkSurplus(index, item)
      if (filterModel.length == 0) {
        forms.price = item.price
        forms.stock = item.stockSurplus
        return false
      }
      filterModel = filterModel[0]
      forms.price = filterModel['price']
      forms.stock = filterModel.stockSurplus
      forms.uuid  = filterModel.uuid
      console.log({fff: filterModel})
    }

    return {
      forms, list, checkClass, toActive
    }
  },
  props: {
    data: {
      type: Array,
      default: []
    }
  }
}
</script>