<template>
  <listProduct :data="productData"></listProduct>
</template>
<script>
import listProduct from './listProduct'
export default {
  components: {
    listProduct
  },
  methods: {
    create() {
      const el = $(this.$el)
      this.owlEl = el.parent().find('.owl-carousel').owlCarousel({
        dots: true,
        autoplay: false,
        navText: ['<span class="fa fa-chevron-left"><span>', '<span class="fa fa-chevron-right"></span>'],
        responsive: {"0":{"items":"2"},"576":{"items":"2"},"768":{"items":"3"}, "992":{"items":"4"} },
      })
    },
    refresh() {
      this.owlEl.trigger('refresh.owl.carousel')
    },
    destroy() {
      if (this.owlEl !== null){
        this.owlEl.trigger('destroy.owl.carousel')
        this.owlEl = null
      }
    }
  },
  mounted() {
    setTimeout(() => this.create(), 300)
  },
  destroyed() {
    this.destroy()
  },
  computed: {
    productData() {
      let data = Object.assign([], this.listData)
      return data
    }
  },
  props: {
    listData: {
      type: Array,
      default() {
        return []
      }
    }
  },
  data() {
    return {
      owlEl: null
    }
  }
}
</script>