<template>
  <!-- Swiper -->
  <div class="swiper-container gallery-top">
    <div class="swiper-wrapper">
      <div class="swiper-slide" v-for="(item, key) in slideData">
        <a class="image-popup-vertical-fit" :href="item" title="">
          <Img :src="item.url" />
        </a>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <!-- Add Arrows -->
  </div>
  <div class="swiper-container gallery-thumbs">
    <div class="swiper-wrapper">
      <div class="swiper-slide" v-for="(item, key) in slideData">
        <Img :src="item.url" />
      </div>
    </div>
  </div>
</template>
<script>
export default {
  methods: {
    setSwiper() {
      var galleryThumbs = new Swiper('.gallery-thumbs', {
          spaceBetween: 10,
          slidesPerView: 'auto',
          loop: true,
          freeMode: true,
          watchSlidesVisibility: true,
          watchSlidesProgress: true,
      });
      var galleryTop = new Swiper('.gallery-top', {
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
          spaceBetween: 0,
          loop: true,
          loopedSlides: 5, //looped slides should be the same
          thumbs: {
            swiper: galleryThumbs,
          },
      });
    }
  },
  computed: {
    slideData() {
      let data = Object.assign([], this.datas)
      if (data.length > 0) {
        setTimeout(() => this.setSwiper(), 200)
      }
      return data
    }
  },
  props: {
    datas: {
      type: Array,
      default() {
        return []
      }
    }
  }
}
</script>