<template>
  <layout showPage="account" childPage="account">
    <div class="page-title">
      <h2>會員基本資料</h2>
    </div>
    <div id="contact-form-container" class="form-container">
      <form role="form">
        <div class="form-block">
          <div class="form-row">
            <label for="colFormLabel" class="col-sm-3 col-form-label"><small>*</small>姓名：</label>
            <div class="col-sm-9 controls">
              <input type="text" class="form-control" v-model="form.name">
            </div>
          </div>
          <div class="form-row">
            <label for="colFormLabel" class="col-sm-3 col-form-label">手機號碼：</label>
            <div class="col-sm-9 controls">
              <p class="value" v-rHtml:text="getActData.phone">0911123456</p>
            </div>
          </div>
          <div class="form-row">
            <label for="colFormLabel" class="col-sm-3 col-form-label"><small>*</small>E-mail：</label>
            <div class="col-sm-9 controls">
              <input type="email" class="form-control" v-model="form.email">
            </div>
          </div>
          <div class="form-row">
            <label class="col-sm-3 col-form-label" for="colFormLabel">修改密碼：</label>
            <div class="col-sm-9 controls">
              <div class="custom-control custom-switch">
                <input type="checkbox" v-model="form.password_change" class="custom-control-input" id="customSwitch1">
                <label class="custom-control-label" for="customSwitch1"></label>
              </div>
            </div>
          </div>
          <pwd v-show="form.password_change" @value="setPwd" />
          <div class="form-row form-action">
            <label for="colFormLabel" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 controls">
              <a href="#" class="btn" @click.prevent="sentForm">儲存</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </layout>
</template>
<script>
import { reactive, getCurrentInstance } from 'vue'
import layout from './slot/accountLayout'
import pwd from './slot/pwd'
import { getAccount, saveAccount } from '@/Web/Config/api/account'

export default {
  setup(props, context) {
    const app = getCurrentInstance()
    const $this = app.appContext.config.globalProperties
    const getActData = getAccount()

    const form = reactive({
      name: getActData.name,
      email: getActData.email,
      password: '',
      password_confirm: '',
      password_change: false,
    })

    const setPwd = (val) => {
      form.password = val.pwd1
      form.password_confirm = val.pwd2
    }

    const sentForm = () => {
      if (form.name == '') return $this.$swal('請填寫姓名')
      if (form.email == '') return $this.$swal('請填寫E-mail')
      if (form.password_change) {
        if (form.password == '' || form.password_confirm == '') return $this.$swal('密碼與再輸入密碼不可空白')
        if (form.password !== form.password_confirm) return $this.$swal('密碼不一樣')
      }
      saveAccount(form)
    }

    return {
      getActData, form, sentForm, setPwd
    }
  },
  components: {
    layout, pwd
  }
}
</script>