<template>
  <layout showPage="account" childPage="addressee">
    <div class="page-title">
      <h2 class="d-flex justify-content-between">
        收件資訊
        <button type="button" class="btn btn-sm mt-0 ml-2" @click.prevent="addModel()">
          <i class="fa fa-plus"></i>新增 <small>( 3/10 )</small>
        </button>
      </h2>
    </div>
    <ul class="nav nav-pills mb-4" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-profile" role="tab"
          aria-controls="pills-home" aria-selected="true">店舖</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-home" role="tab"
          aria-controls="pills-profile" aria-selected="false">地址</a>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="card-select">
          <div class="row">
            <addrItem v-for="(item, key) in addressData.home" :data="item" @edit=" f => editModel(f)" />
          </div>
        </div>
      </div>
      <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <div class="card-select">
          <div class="row">
            <addrItem v-for="(item, key) in addressData.market" :data="item" @edit=" f => editModel(f)" />
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addressee-model" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h4 class="modal-title" id="myModalLabel" v-rHtml:text="modalData.title">編輯店舖</h4>
          </div>
          <div class="modal-body">
            <form role="form">
              <div class="row">
                <div class="col-lg-12 col-xl-10">
                  <div class="form-row">
                    <label class="col-sm-3 col-form-label"><small>*</small>收件人：</label>
                    <div class="col-sm-9 controls">
                      <input type="text" class="form-control" placeholder="請輸入收件人姓名" v-model="form.name">
                      <p class="form-txt red">取貨須核對證件，請填寫真實姓名</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 col-xl-10">
                  <div class="form-row">
                    <label class="col-sm-3 col-form-label"><small>*</small>手機號碼：</label>
                    <div class="col-sm-9 controls">
                      <input type="text" class="form-control" placeholder="請輸入收件人手機號碼" v-model="form.phone">
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 col-xl-10">
                  <div class="form-row">
                    <label class="col-sm-3 col-form-label"><small>*</small>取貨店舖：</label>
                    <div class="col-sm-9 controls">
                      <!-- <p class="value">(018015) 全家台中和順店</p> -->
                      <button type="button" class="btn btn-sm">選擇全家店舖</button>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 col-xl-10">
                  <div class="form-row">
                    <label class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 controls">
                      <label>
                        <input name="form-field-radio" v-model="form.default" type="checkbox" class="ace input-lg">
                        <span class="lbl">預設取貨店舖</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn" @click.prevent="sendData(modalData.type)">儲存</button>
            <button type="button" class="btn btn-gry" data-dismiss="modal">取消</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal end-->
  </layout>
</template>
<script>
import { reactive, computed, getCurrentInstance } from 'vue'
import layout from './slot/accountLayout'
import addrItem from './slot/addrItem'
import { getAddress, changeAddress } from '@/Web/Config/api/account'
export default {
  setup() {
    const app = getCurrentInstance()
    const $this = app.appContext.config.globalProperties

    const addressData = computed(() => {
      let data = getAddress()
      console.log({'address': data})
      return data
    })

    const form = reactive({
      address: '',
      name: '',
      phone: '',
      id: '',
      default: false
    })

    const modalData = reactive({
      title: '編輯店舖',
      type: 'update'
    })

    const addModel = () => {
      modalData.type = 'insert'
      modalData.title = '新增店舖'
      form.address = ''
      form.name = ''
      form.phone = ''
      form.id = ''
      form.default = false
      $(document).find('#addressee-model').modal('show')
    }

    const editModel = data => {
      modalData.type = 'update'
      modalData.title = '編輯店舖'
      console.log({adrEditModel: data})
      form.address = data.address
      form.name = data.name
      form.phone = data.phone
      form.id = data.id
      form.default = data.default
      $(document).find('#addressee-model').modal('show')
    }

    const sendData = ($type = 'update') => {
      if ($type == 'update') {
        changeAddress('update', form)
      } else if ($type == 'insert') {
        delete form.id
        if (form.name == '') return $this.$swal('名字不可空白')
        if (form.phone == '') return $this.$swal('手機不可空白')
        changeAddress('insert', form)
      } else {
        console.error('sendData 選擇類型錯誤')
      }
    }

    return {
      form, addressData, modalData,
      addModel, editModel, sendData
    }
  },
  components: {
    layout, addrItem
  }
}
</script>
