<template>
  <layout showPage="account" childPage="refunds">
    <div class="page-title">
      <h2>退款帳戶</h2>
    </div>
    <div id="contact-form-container" class="form-container">
      <form role="form">
        <div class="form-block">
          <div class="form-row">
            <label for="colFormLabel" class="col-sm-3 col-form-label"><small>*</small>帳戶名稱：</label>
            <div class="col-sm-9 controls">
              <input type="text" class="form-control" v-model="form.bank_account_name" placeholder="請填寫與存簿相同之戶名">
            </div>
          </div>
          <div class="form-row">
            <label for="colFormLabel" class="col-sm-3 col-form-label"><small>*</small>身份別：</label>
            <div class="col-sm-9 controls">
              <div class="form-inline">
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="a1" id="a11" v-model="form.identity_type" value="personal">
                    個人戶 <i class="input-helper"></i></label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="a1" id="a12" v-model="form.identity_type" value="business">
                    商業戶 <i class="input-helper"></i></label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="a1" id="a12" v-model="form.identity_type" value="foreign">
                    外籍人士 <i class="input-helper"></i></label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row" v-if="form.identity_type == 'personal'">
            <label for="colFormLabel" class="col-sm-3 col-form-label"><small>*</small>銀行開戶之身分ID：</label>
            <div class="col-sm-9 controls">
              <input type="text" class="form-control" id="colFormLabel" placeholder="身分證字號，英文請使用大寫" v-model="form.identity_ext">
            </div>
          </div>
          <div class="form-row" v-if="form.identity_type == 'business'">
            <label for="colFormLabel" class="col-sm-3 col-form-label"><small>*</small>統一編號：</label>
            <div class="col-sm-9 controls">
              <input type="text" class="form-control" id="colFormLabel" placeholder="請輸入統一編號" v-model="form.identity_ext">
            </div>
          </div>
          <div class="form-row" v-if="form.identity_type === 'foreign'">
            <label for="colFormLabel" class="col-sm-3 col-form-label"><small>*</small>居留證號碼：</label>
            <div class="col-sm-9 controls">
              <input type="text" class="form-control" id="colFormLabel" placeholder="居留證號碼，英文請使用大寫" v-model="form.identity_ext">
            </div>
          </div>
          <div class="form-row">
            <label for="colFormLabel" class="col-sm-3 col-form-label"><small>*</small>收款銀行：</label>
            <div class="col-sm-9 controls">
              <select name="" id="" class="form-control" v-model="form.bank_name">
                <option value="">請選擇收款銀行</option>
                <option value="7">000 中央銀行國庫局</option>
                <option value="8">004 臺灣銀行</option>
                <option value="9">005 臺灣土地銀行</option>
                <option value="10">006 合作金庫商業銀行</option>
                <option value="11">007 第一商業銀行</option>
                <option value="12">008 華南商業銀行</option>
                <option value="13">009 彰化商業銀行</option>
                <option value="14">011 上海商業儲蓄銀行</option>
                <option value="15">012 台北富邦商業銀行</option>
                <option value="16">013 國泰世華商業銀行</option>
                <option value="17">016 高雄銀行</option>
                <option value="18">017 兆豐國際商業銀行</option>
                <option value="19">018 全國農業金庫</option>
                <option value="67">021 花旗（台灣）商業銀行</option>
                <option value="22">048 王道商業銀行</option>
                <option value="23">050 臺灣中小企業銀行</option>
                <option value="24">052 渣打國際商業銀行</option>
                <option value="25">053 台中商業銀行</option>
                <option value="26">054 京城商業銀行</option>
                <option value="74">081 匯豐（台灣）商業銀行</option>
                <option value="38">101 瑞興商業銀行</option>
                <option value="39">102 華泰商業銀行</option>
                <option value="40">103 臺灣新光商業銀行</option>
                <option value="42">108 陽信商業銀行</option>
                <option value="45">118 板信商業銀行</option>
                <option value="52">147 三信商業銀行</option>
                <option value="77">803 聯邦商業銀行</option>
                <option value="78">805 遠東國際商業銀行</option>
                <option value="79">806 元大商業銀行</option>
                <option value="80">807 永豐商業銀行</option>
                <option value="81">808 玉山商業銀行</option>
                <option value="82">809 凱基商業銀行</option>
                <option value="83">810 星展（台灣）商業銀行</option>
                <option value="84">812 台新國際商業銀行</option>
                <option value="86">815 日盛國際商業銀行</option>
                <option value="87">816 安泰商業銀行</option>
                <option value="88">822 中國信託商業銀行</option>
                <option value="9569">824 連線商業銀行</option>
                <option value="9563">826 樂天國際商業銀行</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <label for="colFormLabel" class="col-sm-3 col-form-label"><small>*</small>分行：</label>
            <div class="col-sm-9 controls">
              <select v-model="form.branch_name" class="form-control">
                <option value="">請選擇分行</option>
                <option>台北分行</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <label for="colFormLabel" class="col-sm-3 col-form-label"><small>*</small>銀行帳號：</label>
            <div class="col-sm-9 controls">
              <input type="text" class="form-control" id="colFormLabel" placeholder="請輸入銀行帳號" v-model="form.bank_account">
            </div>
          </div>
          <div class="form-row form-action">
            <label for="colFormLabel" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 controls">
              <a href="#" class="btn" @click.prevent="saveData">儲存</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </layout>
</template>
<script>
import { reactive, computed, getCurrentInstance } from 'vue'
import layout from './slot/accountLayout'
import { getRefund, saveRefund } from '@/Web/Config/api/account'
export default {
  setup(props, context) {
    let data = getRefund()

    const form = reactive({
      identity_type: data.identity.type,
      identity_ext: data.identity.ext,
      bank_code: data.bank.code,
      bank_name: data.bank.name,
      bank_branch_code: data.bank.branch.code,
      bank_branch_name: data.bank.branch.name,
      bank_account: data.account.number,
      bank_account_name: data.account.name,
    })

    const saveData = () => saveRefund(form)

    return {
      form, saveData
    }
  },
  components: {
    layout
  }
}
</script>