<template>
  <layout showPage="account" childPage="refunds">
    <div class="page-title">
      <h2>退款帳戶</h2>
    </div>
    <div id="contact-form-container" class="form-container">
      <form role="form">
        <div class="form-block">
          <div class="form-row">
            <label for="colFormLabel" class="col-sm-3 col-form-label">帳戶名稱：</label>
            <div class="col-sm-9 controls">
              <p class="value red" v-if="refundData.account == null">尚未設定</p>
              <p class="value" v-else>
                {{refundData.account.name}}
              </p>
            </div>
          </div>
          <div class="form-row">
            <label for="colFormLabel" class="col-sm-3 col-form-label">身份別：</label>
            <div class="col-sm-9 controls">
              <p class="value red" v-if="refundData.identity == null">尚未設定</p>
              <p class="value" v-else>
                {{refundData.identity.typeName}}<br>
                {{refundData.identity.ext}}
              </p>
            </div>
          </div>
          <div class="form-row">
            <label for="colFormLabel" class="col-sm-3 col-form-label">收款銀行：</label>
            <div class="col-sm-9 controls">
              <p class="value" v-rHtml:text="refundData.bank.bankName">004 臺灣銀行</p>
            </div>
          </div>
          <div class="form-row">
            <label for="colFormLabel" class="col-sm-3 col-form-label">分行：</label>
            <div class="col-sm-9 controls">
              <p class="value" v-rHtml:text="refundData.bank.name">台北分行</p>
            </div>
          </div>
          <div class="form-row">
            <label for="colFormLabel" class="col-sm-3 col-form-label">銀行帳號：</label>
            <div class="col-sm-9 controls">
              <p class="value" v-rHtml:text="refundData.account.number">1234*****5234</p>
            </div>
          </div>
          <div class="form-row form-action">
            <label for="colFormLabel" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 controls">
              <InertiaLink :href="baseUrl + 'account/refund/edit'" class="btn">編輯</InertiaLink>
            </div>
          </div>
        </div>
      </form>
    </div>
  </layout>
</template>
<script>
import { reactive, computed, getCurrentInstance } from 'vue'
import layout from './slot/accountLayout'
import { getRefund } from '@/Web/Config/api/account'
export default {
  setup(props, context) {
    const refundData = computed(() => {
      let data = getRefund()
      console.log({data: data})
      return data
    })
    return {
      refundData
    }
  },
  components: {
    layout
  }
}
</script>
