<template>
  <div class="main-menu-content">
      <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
        <li
          v-for="(menu, index) in menus"
          :key="index"
          :class="{
            'nav-item': true,
            'useVueOpen': menu.openSubmenu && vueChecker(),
            'sidebar-group-active': isUrl(...menu.activeUrls)
          }"
        >
          <a
            v-if="!(menu.route == '' || menu.route == null)"
            :href="route(menu.route)"
            @click="setOpenSubmenu(index)"
          >
            <i :class="menu.iconClass"></i>
            <span class="menu-title text-truncate">{{menu.name}}</span>
          </a>
          <a
            v-if="(menu.route == '' || menu.route == null)"
            @click="setOpenSubmenu(index)"
          >
            <i :class="menu.iconClass"></i>
            <span class="menu-title text-truncate">{{menu.name}}</span>
          </a>
          <ul class="menu-content"
            :style="{'display': checkOpenSubmenu(menu) ? 'block' : 'none' }"
          >
              <li
                v-for="(subMenu, subIndex) in menu.subMenus"
                :key="subIndex"
                :class="{ 'active': isRoute(...subMenu.activeRoutes) }"
              >
                <inertia-link
                  v-if="!(subMenu.route == '' || subMenu.route == null)"
                  :href="route(subMenu.route)"
                  @click="closeMenu()"
                >
                  <i :class="subMenu.iconClass"></i>
                  <span class="menu-item text-truncate" data-i18n="Collapsed Menu">{{subMenu.name}}</span>
                </inertia-link>
                <a
                  v-if="(subMenu.route == '' || subMenu.route == null)"
                  @click="closeMenu()"
                >
                  <i :class="subMenu.iconClass"></i>
                  <span class="menu-item text-truncate" data-i18n="Collapsed Menu" style="color: lightgray;">{{subMenu.name}}</span>
                </a>
              </li>
          </ul>
        </li>
      </ul>
  </div>
</template>

<style>
.main-menu.menu-light .navigation>li.useVueOpen>a {
    border-radius: 6px;
    background-color: #f6f6f6;
}
</style>

<script>
export default {

  props: {
    menus: Object,
    menuExpanded: Boolean,
  },

  created() {
    this.menus.forEach((menu) => {
      if (this.isUrl(...menu.activeUrls)) {
        menu.openSubmenu = true
      }
    });
  },

  methods: {
    isUrl(...urls) {
      let currentUrl = this.$page.url.substr(1);

      if (urls[0] === "") {
        return currentUrl === "";
      }

      return urls.filter((url) => currentUrl.match(url)).length;
    },
    isRoute(...routes) {
      let currentRoute = this.$page.props.routeName;

      if (routes[0] === "") {
        return currentRoute === "";
      }

      return routes.filter((route) => currentRoute == route).length;
    },
    vueChecker() {
      let bodyClass = document.body.classList.toString()
      let checker = bodyClass.match('vue-checker')
      if (checker && checker.index == 0) {
        return true
      }
      return false
    },
    setOpenSubmenu(index) {
      this.menus.forEach((menu, idx) => {
        if(index != idx ) menu.openSubmenu = false
      });

      if (this.menus[index].openSubmenu) {
        this.menus[index].openSubmenu = false
      } else {
        this.menus[index].openSubmenu = true
      }
    },
    checkOpenSubmenu(menu) {
      return (menu.openSubmenu && (this.menuExpanded || !document.body.classList.contains('menu-collapsed')))
    },
    closeMenu() {
      $('.sidenav-overlay.show').click()
    }
  }
}
</script>
