<template>
  <input type="text" name="password" autocomplete="off"
    :id="uuid"
    v-model="passwordCover"
    @input="setPassword($event.target.value)"
  >
</template>

<script>
export default {
  props: {
    modelValue: {
      type: String,
      default: ''
    }
  },

  emits: ['update:modelValue'],

  data() {
    return {
      uuid: nanoid(),
      passwordCover: '',
      password: ''
    }
  },

  watch: {
    modelValue: function (value) {
      if (_.isEmpty(value)) {
        this.passwordCover = ''
        this.password = ''
      }
    }
  },

  methods: {
    setPassword(val) {
      let reg = /[a-zA-Z0-9\t\n ./<>?;:"'`!@#$%^&*()\[\]{}_+=|\\-]/g; // 隻允許輸入字母和數字
      let nDot = /[^●]/g; // 非圓點字符
      let index = -1; // 新輸入的字符位置
      let lastChar = void 0; // 新輸入的字符
      let realArr = this.password.split(''); // 真實密碼數組
      let coverArr = val.split(''); // 文本框顯示密碼數組
      let coverLen = val.length; // 文本框字符串長度
      let realLen = this.password.length; // 真實密碼長度
      // 找到新輸入的字符及位置
      coverArr.forEach((el, idx) => {
        if(nDot.test(el)) {
          index = idx;
          lastChar = el;
        }
      });
      // 判斷輸入的字符是否符合規范，不符合的話去掉該字符
      if(lastChar && !reg.test(lastChar)) {
        coverArr.splice(index, 1);
        this.passwordCover = coverArr.join('');
        return;
      }
      if (realLen < coverLen) {
        // 新增字符
        realArr.splice(index, 0, lastChar);
      } else if (coverLen <= realLen && index !== -1) {
        // 替換字符（選取一個或多個字符直接替換）
        realArr.splice(index, realLen - (coverLen - 1), lastChar);
      } else {
        // 刪除字符，因為 val 全是 ● ，沒有辦法匹配，不知道是從末尾還是中間刪除的字符，刪除瞭幾個，不好對 password 處理，所以可以通過光標的位置和 val 的長度來判斷
        let pos = document.getElementById(this.uuid).selectionEnd; // 獲取光標位置
        realArr.splice(pos, realLen - coverLen);
      }
      // 將 passwordCover 替換成 ●
      this.passwordCover = val.replace(/\S/g, '●')
      this.password = realArr.join('')
      this.$emit('update:modelValue', this.password)
    },
  }
}
</script>
