<template>
  <div class="form-group">
    <div id="captcha" />
  </div>
</template>

<script>
export default {
  name: 'FamilyMartEfcaptcha',

  props: {
    efcaptchaJsKey: {
      type: String,
      default: '',
    },
  },

  data() {
    return {
      jsUrl: 'https://efcaptcha.e-formula.com/efcaptcha/api/v01/captcha/puzzle/',
      jsUrlParams: '?width=350&height=194',
    };
  },

  mounted() {
    this.showCaptcha();
  },

  methods: {
    getFormData() {
      const efcaptchaData = document.querySelector('#efcaptcha_data').value;
      const challengeKey = document.querySelector('#challenge_key').value;
      const puzzleData = { efcaptcha_data: '', challenge_key: '' };

      if (
        efcaptchaData !== undefined &&
        challengeKey !== undefined &&
        efcaptchaData.length > 0 &&
        challengeKey.length > 0
      ) {
        puzzleData.efcaptcha_data = efcaptchaData;
        puzzleData.challenge_key = challengeKey;
      }

      return puzzleData;
    },
    showCaptcha() {
      document.getElementById('captcha').innerHTML = '';
      const recaptchaScript = document.createElement('script');
      recaptchaScript.setAttribute(
        'src',
        `${this.jsUrl}${this.efcaptchaJsKey}${this.jsUrlParams}`
      );
      document.head.appendChild(recaptchaScript);
      document.body.classList.add('blank-page');
    },
  },
};
</script>
