<template></template>

<script>
import { reactive } from "vue";
export default {
  setup() {
    const toast = reactive({})
    return toast
  },

  created() {
    this.toast = this.$swal.mixin({
      toast: true,
      position: 'top-end',
      showConfirmButton: false,
      timer: 3000,
      timerProgressBar: true,
      didOpen: (toast) => {
        toast.addEventListener('mouseenter', this.$swal.stopTimer)
        toast.addEventListener('mouseleave', this.$swal.resumeTimer)
      }
    })
  },

  watch: {
    '$page.props.flash.notify': {
      handler() {
        if (this.$page.props.flash.notify.success) {
          this.toast.fire({
            icon: 'success',
            title: this.$page.props.flash.notify.success
          })
        }

        if (this.$page.props.flash.notify.warning) {
          this.toast.fire({
            icon: 'warning',
            title: this.$page.props.flash.notify.warning
          })
        }

        if (this.$page.props.flash.notify.error) {
          this.toast.fire({
            icon: 'error',
            title: this.$page.props.flash.notify.error
          })
        }
      },
    },
    '$page.props.flash.alert': {
      handler() {
        if (this.$page.props.flash.alert.success) {
          this.$swal.fire(
            this.$page.props.flash.alert.success,
            '',
            'success'
          )
        }

        if (this.$page.props.flash.alert.error) {
          this.$swal.fire(
            this.$page.props.flash.alert.error,
            '',
            'error'
          )
        }
      }
    },
    "$page.props.errors": {
      handler: function() {
        var errors = Object.values(this.$page.props.errors)
        if (errors.length > 0) {
          errors.forEach( error => {
            this.toast.fire({
              icon: 'error',
              title: error
            })
          })
        }
      }
    }
  }
}
</script>
