/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
:root {
    --p-main-color: #1171b9;
    --p-dark-color: #215598;
    --p-second-color: #3ca537;
    --p-focus-color: #f2a0a8;
    --p-red-color: #e43d3e;
    --p-warning-color: #ff9f43;
    --p-gray-color: #bac4d6;
    --p-line-color: #e8e8e8;
}
.color-red, .error{
    color: var(--p-red-color) !important;
}
.text-primary, .color-blue,
a.text-primary:hover, a.text-primary:focus {
    color: var(--p-main-color) !important;
}
.second-color{
    color: var(--p-second-color) !important;
}
.warning-color{
    color: var(--p-warning-color) !important;
}
.tips {
    color: #222;
    cursor:pointer;
}
.font-md{
    font-size: 1.4rem !important;
}
.img-md {
    width: 100px;
    min-width: 100px;
}
.img-lg{
    width: 200px;
    min-width: 200px;
}
img {
    max-width: 100%;
}
.mb-6, .my-6 {
    margin-bottom: 5rem !important;
}
.header-navbar .navbar-nav .nav-item {
    margin: 0 5px;
}
.header-navbar .navbar-nav .nav-item .cart-item-count {
    background-color: #f2a0a8;
}
.feather, [data-feather] {
    height: 1.2rem;
    width: 1.2rem;
}
.avatar i {
    width: 30px;
    height: 30px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar i::before {
    font-size: 17px !important;
    height: auto !important;
}
.header-navbar .navbar-container ul.navbar-nav li a.dropdown-user-link .user-nav {
    margin-left: 0.5rem;
    margin-right: 0;
    color: var(--p-main-color);
}
.header-navbar.navbar-dark .navbar-container ul.navbar-nav li a.dropdown-user-link .user-nav {
    color: #fff;
}
.header-navbar[class*='bg-'] .navbar-nav .nav-item > a span.avatar{
    background-color: #fff;
}
.header-navbar[class*='bg-'] .navbar-nav .nav-item > a span.avatar i{
    color: var(--p-main-color) !important;
}
.breadcrumbs-top {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-block {
    position: relative;
    overflow: hidden;
    padding: 2rem 5rem 1rem 2rem;
    border: 1px solid var(--p-main-color);
    margin: auto;
    margin-bottom: 1rem;
    width: 920px;
    max-width: 100%;
}
.form-block .btn-delete {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    padding: 1rem;
    border-radius: 0;
}
.form-block.package {
    width: 100%;
    padding: 2rem 2rem 1rem 2rem;
    border: 1px solid var(--p-gray-color);
}
.package-title {
    background-color: var(--p-gray-color);
    color: #fff;
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.package-title .status {
    background-color: #fff;
    color: var(--p-focus-color);
    padding: 3px 7px;
    border-radius: 3px;
    font-size: 15px;
    position: relative;
}
.package-title .status::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: -10px;
    margin-left: -5px;
    border: 5px solid transparent;
    width: 5px;
    height: 5px;
    border-top-color: #fff;
}
.form-group {
    position: relative;
    align-items: baseline;
}

.form-group > label, .form-group > .col-form-label label{
    font-size: 16px;
    white-space: nowrap;
    margin-bottom: 0;
}
.controls > .invalid-tooltip, .row > div > .invalid-tooltip{
    left: 1.5rem;
}
.invalid-tooltip{
    font-size: 0.95rem;
    color: #fff;
    background-color: var(--p-red-color);
    width: auto;
    padding: 2px 5px;
    border-radius: 3px;
    position: absolute;
    z-index: 1;
    top: auto;
    bottom: -20px;
    left: 5px;
}
.invalid-tooltip::before, .invalid-feedback::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: -10px;
    left: 50%;
    margin-left: -3px;
    border: 5px solid transparent;
    width: 5px;
    height: 5px;
    border-bottom-color: var(--p-red-color);
}

#captcha{
    margin-bottom: 1rem;
}
#captcha + .invalid-tooltip {
    left: 50%;
    margin-left: -175px;
    z-index: 2;
}
button.btn + .invalid-tooltip {
    position: inherit;
    top: 5px;
    left: 0;
    width: fit-content;
}

/* button.btn + .invalid-tooltip {
    position: inherit;
    width: auto !important;
    left: 0;
    top: 0;
    background-color: transparent;
    color: #ea5455;
    font-size: 1rem;
}
button.btn + .invalid-tooltip::before {
    display: none;
} */
.form .required{
    color: var(--p-red-color);
    margin-left: 5px;
}
.form-group > .controls .value,
td .value {
    font-size: 16px;
    color: var(--p-main-color);
    display: block;
    padding: 0.438rem 0 0 0;
}
td .value  {
    padding: 0.438rem 0;
}
.form .divider {
    margin-top: 0;}
.form .divider .divider-text h5{
    font-size: 1.3rem;
    padding: 0 1rem;
}
.form-group .controls .input-group-text {
    font-size: 0.9rem;
}
.text-counter-value {
    padding: 5px;
    font-size: 0.9rem;
    margin-right: 1rem;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.form-group .controls .input-group-text small, .text-counter-value small{
    margin-right: 0.25rem;
    color: var(--p-focus-color);
}
.form-group .controls .custom-control, .form-group .controls label.form-label {
    margin: 7px 0;
}
.form-group .controls .control-group {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    align-items: center;
}

.form-group .controls .control-group .form-control + .form-control{
    margin-left: 0.5rem;
}
.form-group .controls .control-group .input-group {
    margin-right: 0.25rem;
}
.form-group .controls .control-group + .control-group, .form-group .controls .control-group + .form-control{
    margin-top: 0.5rem;
}
.form-group .controls .control-group .btn, table.inputTable .btn {
    /* margin-left: 0.25rem; */
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
}
.form-group .controls .control-group.spec .form-control {
    margin-right: 0.25rem;
}


.Multiselect-group{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 200px;
}
.Multiselect-group select {
    margin-left: -1px;
    border-radius: 0;
}
.Multiselect-group select:first-child {
    border-radius: 0.357rem 0 0 0.357rem;
}
.Multiselect-group select:last-child {
    border-radius: 0 0.357rem 0.357rem 0;
}
.Multiselect-group select option:checked {
    background-color: var(--p-main-color) !important;
    color: #fff !important;
}

.form-group > .controls .form-txt, .card-body .form-txt{
    margin: 10px 0;
    font-size: 16px;
}
.form-group > .controls .form-txt.red{
    color: var(--p-focus-color);
}
.form-group > .controls ul.form-txt{
    padding-left: 20px;
}
.dropzone {
    min-height: 80px;
    border: 2px dashed #ccc;
    border-radius: 0.357rem;
}

.dropzone .dz-message {
    font-size: 1rem;
    color: #000;
}
.dropzone .dz-message:before {
    display: none;
}
.dropzone .dz-message svg, .dropzone .dz-message i {
    font-size: 30px;
    top: 1rem;
    width: 30px;
    height: 30px;
    color: var(--p-main-color);
    position: initial;
    margin-right: 1rem;
}
.form-control {
    font-size: 15px;
    height: 3rem;
    min-width: 80px;
}
table .form-control{
    height: auto;
}
.form-control.control-inline {
    width: auto;
}
.form-control.control-sm {
    width: 150px;
}
select.form-control.control-inline {
    background-position: calc(100% - 3px) 10px, calc(100% - 20px) 13px, 100% !important;
}
div.form-control{
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
div.form-control input {
    border: 0;
    padding: 0;
    height: auto;
}
div.form-control > a {
    color: #6e6b7b;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0.438rem 1rem;
    line-height: 2;
}
div.form-control.add-tag {
    background: none;
    padding: 0.438rem;
    height: auto;
    flex-flow: row wrap;
}
div.form-control.add-tag input {
    width: auto;
    flex: 1;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    border: 6px solid #1171b9;
    background-color: #fff;
}

.btn {
    white-space: nowrap;
    font-size: 15px;
    padding: 1rem 2rem;
    width: fit-content;
    min-width: fit-content;
    align-items: center;
    justify-content: center;
    max-height: 3rem;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.btn-lg, .btn-group-lg > .btn {
    padding: 1rem;
    font-size: 17px;
    font-weight: bold;
    min-width: 150px;
    max-height: fit-content;
}
.btn-sm, .btn-group-sm > .btn {
    padding: 0.6rem 1rem;
}
.btn-xs, .btn-group-xs > .btn {
    padding: 0.3rem 0.5rem;
    font-size: 0.9rem;
    border-radius: 0.25rem;
}
.btn svg, .btn i{
    width: 1.1rem;
    height: 1.1rem;
    line-height: 1.1rem;
}
.btn.btn-lg svg, .btn.btn-lg i{
    width: 1.4rem;
    height: 1.4rem;
    line-height: 1.4rem;
}

.btn + .btn{
    margin-left: 0.25rem;
}
.txt-link {
    color: var(--p-main-color);
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
}
.txt-link i, .txt-link svg{
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    margin: 0 0.25rem;
}
small i, .small svg{
    font-size: 0.857rem;
    width: 0.857rem;
    height: 0.857rem;
    color: #b5b9bd;
}
td .btn {
    /* font-size: 1rem;
    line-height: 1.1rem; */
}
.btn i + span, .btn svg + span, .txt-link i + span, .txt-link svg + span{
   margin-left: 0.25rem;
}
.card .card-title{
    font-size: 1.4rem;
    color: #222;
}
.card .card-title span, .package-title span{
    font-size: 16px;
}
.card-title.d-flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}
.card .card-header{
    flex-wrap: nowrap;
}
.card-header .heading-elements {
    margin-left: 10px;
}
.card-header .heading-elements a {
    display: inline-block;
    background-color: #f3f2f7;
    padding: 5px;
    border-radius: 6px;
}
.card-header .heading-elements i, .card-header .heading-elements svg{
    height: 1.5rem !important;
    width: 1.5rem !important;
    font-size: 1.5rem;
}

.card.card-action.card-fix {
    position: fixed;
    bottom: 0;
    z-index: 1;
    margin-bottom: 1rem;
    width: calc(100vw - (100vw - 100%) - calc(2rem * 2) - 260px);
}
.card-action{
    text-align: center;
}
/* .card-body.card-action {
    padding-top: 0;
} */
.is-invalid .form-control, .error.form-control{
    border-color: #ea5455 !important;
}
.search-block > .row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-start;
}
.search-block form > .row .row{
    margin-right: -0.5rem;
    margin-left: -0.5rem;
}
.search-block form > .row .row > div{
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
.search-block .form-group, .attributes .form-group {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 45px;
    align-items: center;
}
.search-block .form-group > label, .attributes .form-group > label {
    font-size: 1rem;
    /* white-space: inherit; */
    margin-right: 1rem;
    width: 27%;
    width: 35   %;
    line-height: 1.5;
    text-align: right;
    padding: 0.438rem 0;
}
.input-group:not(.bootstrap-touchspin):focus-within,
.form-control:focus:valid, .form-control:focus.is-valid{
    box-shadow: none !important;
}
.search-block .form-group .controls{
    width: 100%;
    position: relative;
}
.search-block .invalid-tooltip {
    left: 0;
}
.search-block .form-group.action {
    justify-content: center;
    align-items: center;
}
.search-block ul.tag-list{
    font-size: 13px;
    f
}
.search-block ul.tag-list li a {
    padding: 2px 3px;
}
.pickergroup-r, .input-group-merge .form-control.pickergroup-r:not(:last-child) {
    border-top-right-radius: 0.357rem;
    border-bottom-right-radius: 0.357rem;
    border-right: 1px solid #d8d6de;
}

.main-menu .navigation li a{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
   align-items: center;
}
/* .table:not(.table-dark):not(.table-light) thead:not(.thead-dark) th, .table:not(.table-dark):not(.table-light) tfoot:not(.thead-dark) th {
    background-color: #e6e6e7;
} */
.table, .table thead th{
    border-color: #dedfe9;
}
.table thead th {
    border-bottom-width: 1px;
    background-color: #f2f4f7;
    vertical-align: middle;
    font-size: 14px;
    color: #555;
}
.table thead .top_th th {
    text-align: center;
    background-color: #f2f4f7;
}
.table thead .top_th th.th_color1 {
    background-color: #f2f4f7;
}
.table thead .top_th th.th_color1 {
    background-color: #dee1e9;
}
.table thead .top_th th.th_color2 {
    background-color: #d6d9e1;
}
.table thead .top_th th.th_color3 {
    background-color: #ced1d8;
}
.table thead .top_th th.th_color_b {
    background-color: #b7d9f7;
}
.table thead th.th_color_b1 {
    background-color: #d2ecff;
}
.table thead .top_th th.th_color_g {
    background-color: #b9e7cd;
}
.table thead th.th_color_g1 {
    background-color: #e2fdee;
}
.table .thead-dark th {
    background-color: #979ba0;
    border-color: #979ba0;
}
.table thead th, .table thead td, .rwd-table td:before {
    white-space: nowrap;
    font-weight: normal;
}
.table .product-name , table .product-name{
    /* min-width: 25%; */
    text-align: left;
}
.table .cate-tree {
    width: 20%;
}
.table .cate-name {
    /* width: 30%; */
}
.table .product-img {
    width: 10%;
}
.table .address {
    text-align: left;
}
.table .custom-control {
    display: inline-block;
}
.table .rwd-action {
    text-align: center;
    white-space: nowrap;
}
.rwd-action .dropdown-menu .dropdown-item {
    color: var(--p-main-color);
    font-size: 16px;
}
.rwd-action .d-flex {
    justify-content: center;
    align-items: center;
}
.rwd-action .d-flex.flex-column{
    align-items: flex-start;
}
.rwd-action .btn-group{
    vertical-align: baseline;
}
.table .rwd-action .btn{
    padding: 0.75rem 1rem;
    padding: 0.65rem 1rem;
    margin: 0.2rem;
    height: auto;
}
.table .rwd-action .btn svg, .table .rwd-action .btn i{
    width: 1rem;
    height: 1rem;
}
.table .dropdown-menu{
    min-width: inherit;
}
.dropdown-item {
    padding: 0.5rem 1rem;
}
.dropdown-item.btn {
    padding: 1rem 2rem;
}

.dropdown-item i, .dropdown-item svg {
    font-size: 1rem;
    margin-right: 5px;
    text-align: center;
    width: 1.1rem;
    height: 1.1rem;
}
.dropdown-item .fa-line{
    background-image: url(../../app-assets/images/icons/icon-line-blue.svg);
}
/* .dropdown-item:hover .fa-line{
    background-image: url(../../app-assets/images/icons/icon-line-blue.svg);
}
.dropdown-item.active .fa-line, .dropdown-item:active .fa-line{
    background-image: url(../../app-assets/images/icons/icon-line-w.svg);
} */
.table ul.spec {
    margin: 0;
    padding: 0;
    list-style-type: none;  
    white-space: nowrap;
}
.table ul.spec li{
    margin-bottom: 5px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}
.table ul.spec li .price, .table ul.spec li .in-stock {
    width: 60px;
    display: inline-block;
}
.in-stock.low, .table .in-stock.low i {
    color: var(--p-red-color);
}
.table ul.spec li .price{
    margin-left: 5px;
}
.table .in-stock i {
    color: #b5b9bd;
    font-size: 90%;
    margin-right: 2px;
    margin-left: 10px;
}
table.inputTable{
    border: 1px solid #efeeee;
}
table.inputTable td, table.inputTable th {
    padding: 0.72rem 0.5rem !important;
    text-align: center;
}
table.inputTable th {
    /* background-color: #efeeee !important; */
    border: 0 solid #fff;
}
/* table.inputTable .top_th th {
    background-color: #ddd !important;
    color: #555;
}
table.inputTable .top_th th.th_color1 {
    background-color: #ccc !important;
}
table.inputTable .top_th th.th_color2 {
    background-color: #ddd !important;
} */
table.inputTable td {
    position: relative;
    vertical-align: text-bottom;
}
table.inputTable td.border-r{
    border-right: 1px solid #ebe9f1;
    vertical-align: middle;
}
table.inputTable.valueTable td {
    vertical-align: middle;
}
table.inputTable.valueTable.text-left th{
    text-align: left;
}
table.inputTable tr.return_block td {
    padding: 1rem !important;
    text-align: left;
}

.modal .modal-body {
    padding: 2rem;
}
.modal .modal-header {
    background-color: #ebeff1;
    align-items: center;
}
.modal .modal-header .close {
    margin: 0; 
}
.modal .modal-footer {
    justify-content: center;
}
.modal.quick-edit .modal-body {
    padding: 2rem;
    height: 70vh;
    overflow-y: scroll;
}
.page-item.active .page-link {
    background-color: var(--p-main-color);
}
.table-responsive {
    margin-bottom: 1.5rem;
    /* overflow-x: clip; */
}
/* .table-page{
margin-bottom: 1.5rem;
} */
.table-page .table-page-data {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 1rem;
}
.table-page .table-page-data label{
    margin-bottom: 0;
}
.table-page .pagination {
    float: right;
    margin-bottom: 1rem;
}
.button-group-l{
    padding-right: 0;
}
.button-group-l.col-12{
    padding-right: 1rem;
}
.button-group-l div + div{
    margin-left: 0.25rem;
    text-align: center;
}
.button-group-l .txt-link {
    text-align: center;
    text-decoration: underline;
    font-size: 13px;
    padding: 0;
    margin-top: 7px;
}
.button-group-r {
    text-align: right;
    padding-left: 0;
}
.button-group-l .btn, .button-group-r .btn{
    padding: 1rem 0.8rem;
    min-width: 140px;
}
.button-group-l .btn-group .btn {
    padding: 1rem 1.2rem;
    min-width: 140px;
}
.button-group-l .scroll {
    overflow-x: scroll;
    padding-bottom: 0.25rem;
    margin-bottom: 0.25rem;
}
.button-group-l .scroll::-webkit-scrollbar{
    height: 5px;
}
.button-group-l .scroll::-webkit-scrollbar-thumb{
    background-color: #c1c1c1;
    border-radius: 10px;
}
.button-group-l .scroll .btn-group{
    min-width: 100%;
}

.category-filter {
    border: 1px solid #f5f4f8;
}
.category-filter .row > div {
    height: 400px;
    overflow-y: scroll;
}
.category-filter .row > div:last-child {
    border-left: 1px solid #f5f4f8;
}
.category-filter .nav-pills {
    margin-top: 1rem;
    margin-left: 1rem;
}
.category-filter .nav-pills .nav-link.active {
    box-shadow: none;
}


.category-filter .nav-link{
    justify-content: space-between !important;
    position: relative;
    padding: 0.8rem 1rem;
    font-size: 1.2rem;
    line-height: 25px;
    color: #000;
}
.category-filter .nav-link:after {
  right: 15px;
}
.category-filter .nav-link .number {
    background-color: var(--p-focus-color);
    color: #fff;
    margin-right: 20px;
    font-size: 1rem;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    text-align: center;
}
.category-filter .nav-link.active .number{
    background-color: #fff;
    color:  var(--p-focus-color);
}
.category-filter .card{
    border-bottom: 1px solid #f5f4f8 !important;
    border-radius: 0;
    box-shadow: none !important;
    margin: 0;
    margin-right: 1rem;
}
.category-filter .card:last-child {
    border-bottom: 0 solid #f5f4f8 !important;
}
.category-filter .card .card-header {
    justify-content: flex-start;
    padding: 1rem 2rem 1rem 0;
}
.category-filter .card .card-body {
    padding: 0 !important;
}
.category-filter .collapse-title {
    font-size: 1.2rem;
    color: #000;
}
.category-filter ul.select-cate {
    margin-bottom: 0;
    font-size: 1.1rem;
}
.category-filter ul.select-cate li, ul.select-group li {
    margin-bottom: 10px;
    padding-bottom: 6px;
    border-bottom: 1px solid #f2f2f3;
}
.category-filter ul.select-cate li:last-child {
    border-bottom: 0;
}
.category-filter ul.select-cate li label{
    display: block;
}
.category-filter .custom-control-label::before {
    border-color: var(--p-main-color);
}
.category-selected{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
ul.tag-list, ul.value-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;
    font-size: 0.9rem;
}
ul.tag-list li, ul.value-list li {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin: 0.1rem;
    height: 28px;
    color: #fff;
    background-color: var(--p-focus-color);
    padding: 0 6px;
    border-radius: 4px;
    line-height: 1;
}
ul.tag-list li span, ul.value-list li span{
    padding: 0;
    white-space: nowrap;
}
ul.tag-list li a {
    color: #fff;
    padding-left: 5px;
}
ul.tag-list li a .feather{
    height: 0.9rem;
    width: 0.9rem;
}

.add-tag ul.tag-list li {
    background-color: var(--p-main-color);
}

ul.value-list li {
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 1rem;
}
ul.value-list li a {
    padding-left: 5px;
    color: var(--p-main-color);
}

.product-upload{
    position: relative;
    flex: 1;
}
.product-upload .row{
    margin-right: -10px;
    margin-left: -10px;
}
.product-upload .row > div{
    padding-left: 10px;
    padding-right: 10px;
}
.product-upload .item {
    border-radius: 0.358rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    border: 2px dashed #ccc;
    padding: 7px;
    text-align: center;
}
/* .product-upload .item {
    border-radius: 0.358rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    border: 2px dashed #ccc;
    padding: 10px;
    text-align: center;
} */
.product-upload .item img{
   border-radius: 0.358rem;
}
.product-upload .item a {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 100%;
    background-color: var(--p-focus-color);
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
}
.product-upload .item a svg, .product-upload .item a i{
    width: 20px;
    height: 20px;
}
.pro-item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    text-align: left;
    margin-bottom: 1rem;
}
.pro-item img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
 }
.pro-item h3{
font-size: 21px;
color: #222;
}
.pro-item p{
font-size: 15px;
color: #222;
margin-bottom: 0;
}
.pro-item span {
font-size: 15px;
display: block;
margin-top: 5px;
color: #666;
}
td .pro-item {
    margin-bottom: 0;
}
td .pro-item span {
    margin-top: 0;
}
.gallery-top {
    margin-bottom: 15px;
}

.gallery-top img {}


.gallery-thumbs .swiper-slide {
    opacity: 0.4;
  }
  .gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
  }
  .gallery-thumbs .swiper-slide img {
    border: 1px solid #ddd;
    padding: 2px;
}  
.gallery-thumbs .swiper-slide-thumb-active img{
    border: 1px solid #333;
  }
.card-text , .card-text p{
    line-height: 1.6;
    font-size: 1rem;
}

/* 商品池 */


.item-profit {
    color: var(--p-red-color);
    margin-top: 0.3rem;
    font-size: 0.9rem;
}
.item-profit i, .item-profit svg {
    border-radius: 1.2rem;
    background-color: var(--p-focus-color);
    color: #fff;
    padding: 3px;
    margin-right: 5px;
}
.item-price {
    color: #000;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    /* height: 45px; */
}
.item-price .price-new{
    color: var(--p-red-color);
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 5px;
}
.item-price .price-old{
    color: #999;
    text-decoration: line-through;
    font-size: 0.85rem;
}
.view-options {
    align-items: center;
}
/* .ecommerce-application .btn-primary {
    border-color: #55c2e1 !important;
    background-color: #55c2e1 !important;
} */
.ecommerce-application .selected .btn-primary{
    border-color:  var(--p-main-color) !important;
    background-color:  var(--p-main-color) !important; 
}
.ecommerce-application .added .btn-primary{
    border-color: var(--p-gray-color) !important;
    background-color:  var(--p-gray-color) !important; 
}
.ecommerce-application .ecommerce-card .btn-outline-primary {
    font-weight: bold;
    font-size: 16px;
    padding: 0.9rem 1rem;
}
.ecommerce-application .ecommerce-card .btn.btn-outline-primary span {
  color: #000;

}
.ecommerce-application .ecommerce-card .btn-outline-primary .feather {
  color: #2bb1d8;
  width: 1.3rem;
  height: 1.3rem;
}


.card.ecommerce-card.checked {
    background-color: #e4e6e8;
    box-shadow: none !important;
}
.ecommerce-application .checked .item-company {
    color: #9ba7b5;
}
.swiper-button-next, .swiper-button-prev {
    background-color: rgb(255 255 255 / 50%);
}
.edit-block {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.edit-block, .edit-block p , .edit-block li{
    font-size: 1.2rem;
    line-height: 1.5;
}
.edit-block.scroll-block{
    overflow-y: scroll;
    max-height: 800px;
    width: 100%;
    padding: 1rem;
}


.select-block {
    list-style: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    padding: 0;
}

.select-block li {
    width: 33.333%;
    padding: 5px 10px;
}

.select-block label {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}

.select-block .form-check {
    margin: 0;
}

.select-block .form-check-label {
    position: relative;
    margin-left: -20px;
}

.select-block .custom-checkbox .custom-control-label::before,
.select-block .custom-checkbox .custom-control-label::after,
.select-block .custom-radio .custom-control-label::before,
.select-block .custom-radio .custom-control-label::after {
    left: 50%;
    bottom: 0;
    top: auto;
}
.select-block .custom-checkbox.custom-control,
.select-block .custom-radio.custom-control {
    padding-left: 0;
    padding-bottom: 1.8rem;
}

.collapse-action .card {
    border: 1px solid var(--p-gray-color) !important;
    box-shadow: none !important;
}
.collapse-icon.collapse-action [data-toggle='collapse']:after {
    left: 0.8rem;
}
.collapse-action .card .card-header {
    padding: 1rem 1rem 1rem 2.5rem;
}
.collapse-action .collapse-title {
    color: #000;
    font-weight: 500;
    font-size: 1.3rem;
    display: block;
    flex: 1;
    padding: 3px 0;
}
.collapse-action .card .card-body {
    padding-top: 0;
}
.cate-list{
    padding: 0 1rem 0 4rem;
    margin-bottom: 0;
}
.cate-list li{
    padding: 0 0 .5rem 0;
    border-top: 0px solid #f2f2f3;
    font-size: 1.2rem;
}
.cate-list li.sub-cate{
    color: #333;
}
.cate-list li.sub-cate::marker {
    color: #b2b8bd;
}
.cate-list li > div {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}
.cate-list li ul {
    padding: 0;
    margin-left: 0;
    margin-top: .5rem;
    list-style-type: none;
    border-top: 1px solid var(--p-line-color);
}
.cate-list li  li{
    color: #777;
    font-size: 1rem;
    padding: .5rem 0;
    border-bottom: 1px solid var(--p-line-color);
}
.cate-list li:last-child  li:last-child{
    border-bottom: 0;
}
.cate-list .rwd-action, .card-header .rwd-action {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /* flex: 1; */
    justify-content: flex-end;
}
/* .card-header .rwd-action {
    position: absolute;
    right: 10px;
    z-index: 1;
    background-color: #fff;
} */
.collapse-action .btn-sm{
    padding: 0.5rem 0.75rem;
    font-size: 0.9rem;
}
.overlay-txt{
    position: relative;
    text-align: center;
    display: block;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.overlay-txt.img-md {
    width: 100px;
    height: 100px;
}
.overlay-txt.img-sm {
    width: 90px;
    height: 60px;

}
/* .overlay-txt img{
    max-width: 100%;
    max-height: 100%;
} */
.overlay-txt span{
    position: absolute;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    font-size: 16px;
}
.overlay-txt span.white {
    background-color: rgb(255 255 255 / 50%);
    color: var(--p-main-color);
    border: 1px solid #dedfe9;
}
.total {
    font-size: 15px;
    white-space: nowrap;
    color: #222;
    clear: both;
    margin-top: 10px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.total ul {
    margin: 0;
    padding: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: flex-end;
}
.total li {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
}
.total li:first-child {
    margin-left: 0;
}
.total li strong{
    margin-right: 10px;
}
.total li .price{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--p-red-color);
}
/**配送進度**/
.delivery-schedule ul {
    list-style: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 0;
    margin-top: 2rem;
    position: relative;
    flex-flow: row wrap;
}
.delivery-schedule li {
    flex: 1;
    line-height: 1.5;
    text-align: center;
    color: #999;
}
.delivery-schedule li .step {
    font-size: 13px;
    border-radius: 100%;
    background-color: var(--p-gray-color);
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 48px;
    text-align: center;
    border: 3px solid #fff;
    box-shadow: 0 0 0 1px var(--p-gray-color);
    left: 0;
    top: -11px;
}

.delivery-schedule li.active .step {
    background: var(--p-main-color);
    box-shadow: 0 0 0 1px var(--p-main-color);
}
.delivery-schedule li .title {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    max-width: 100%;
    font-size: 14px;
    color: #555;
}
.delivery-schedule li .title .btn{
    margin: auto;
    margin-top: 5px;
}
.delivery-schedule li .title .status{
    font-size: 15px;
    color: #222;
}
.delivery-schedule li .title .date{
    font-size: 15px;
    line-height: 20px;
}
.delivery-schedule li .title .date small{
    margin-left: 5px;
    font-size: 90%;
}
.delivery-schedule li .title .info{
    font-size: 13px;
}
.delivery-schedule li.active .title .status{
    color: var(--p-main-color);
}
.delivery-schedule li.active:before {
    border-color: var(--p-main-color);
}
.delivery-schedule li.active.current .step {
    background: var(--p-second-color);
    box-shadow: 0 0 0 2px var(--p-second-color);
}
.delivery-schedule li.active.current:before {
    border-color: var(--p-second-color);
}
.delivery-schedule li.active.current .title .status {
    color: var(--p-second-color);
}
.delivery-schedule li:before {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    font-size: 0;
    overflow: hidden;
    border-top: 3px solid var(--p-gray-color);
    position: relative;
    z-index: 1;
}
.delivery-schedule li:last-child:before {
    max-width: 50%;
    width: 50%;
}

.delivery-schedule li:first-child:before {
    max-width: 51%;
    left: 50%;
}
.delivery-schedule li.active.current.warning .step {
    background: var(--p-warning-color);
    box-shadow: 0 0 0 2px var(--p-warning-color);
}
.delivery-schedule li.active.current.warning .title .status {
    color: var(--p-warning-color);
}
.delivery-schedule li.active.current.warning:before {
    border-color: var(--p-warning-color);
}


.return_block .card-body {
    padding: 1rem !important;
}
.return_block .card .card-header, .return_block .card-title {
    background-color: var(--p-gray-color);
    border-radius: 0;
    color: #fff;
    padding: 0.75rem 2rem 0.75rem 1rem;
    font-size: 1.2rem;
    line-height: 1;
}
.return_block .card-title {
    background-color: var(--p-main-color);
}
.collapse-icon .return-header:after {
    background-image: url(../../app-assets/images/icons/arrow-down-w.svg);
    margin-top: -11px;
}
.return-value {
    font-size: 16px;
    color: var(--p-main-color);
    display: block;
    padding: 0;
}
.return-value li {
    font-size: 16px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 5px;
}
.return-value li strong{
    color: #666;
    font-weight: normal;
    white-space: nowrap;
    margin-right: 10px;
}
.input-group.quantity {
    width: 200px;
}
.input-group.quantity .btn{
    padding: 1rem 1rem;
}
.input-group.quantity .form-control{
    text-align: center;
}

.income-data {
    font-size: 1.05rem;
    list-style: none;
    line-height: 1.6;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin-left: 0 !important;
}

.income-data + .income-data{
    margin-top: 0.5rem;
}

.income-data .title {
    font-size: 1.2rem;
    font-weight: normal;
    color: #222;
    border: 1px solid #ebe9f1;
    padding: 3px 15px;
    margin-right: 1rem;
    text-align: center;
    white-space: nowrap;
}
.income-data .list{
    text-align: left !important;
    margin-left: 0 !important;
}
.income-data .list span {
    margin-right: 1rem;
    display: inline-flex;
}
.income-data .list + .list{
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    border-top: 1px solid #dedfe9;
}
.income-data .list strong {
    font-weight: normal;
    color: #1171b9;
}
@media (min-width: 1600px) {
    .card.card-action.card-fix {
        width: calc(100vw - (100vw - 100%) - calc(10rem * 2) - 260px);
    }
}
@media (min-width: 576px) {
    .modal-xl, .modal-lg {
        max-width: 90%;
    }
    .form-group > .col-form-label {
        text-align: right;
        padding-bottom: 0;
    }
    }
@media (min-width: 768px) {
    .table .number span, .category-filter .number {
        font-size: 0.9rem;
        min-width: 25px;
        height: 25px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        background-color: #f3f2f7;
    }
    table .sort , table .dt-checkboxes-cell{
       width: 25px;
    }
    .table .number,  .table .sort {
        text-align: center;
    }
    table.dataTable  td.rwd-action {
        padding-right: 0 !important;
        padding-left: 0 !important;
        min-width: 110px;
    }
    table.inputTable td .invalid-tooltip {
        top: -5px;
        left: 5px;
        position: relative;
        text-align: center;
        width: fit-content;
    }
    table.inputTable .form-control {
        /* width: 120px; */
        display: inline-block;
    }
    .card-action .card-body {
        padding: 1rem 1.5rem;
    }

    .table-fixed{
        /* max-height: 500px; */
        max-width: 100%;
    }
    .table-fixed table {
        position: relative;
        table-layout: fixed;
        width: auto !important;
        margin: 0 0 1rem 0 !important;
    }
    .table-fixed table thead {
        position: sticky;
        top: 0;
        z-index: 2;
    }
    .table-fixed table thead::after{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #dedfe9;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .table-fixed table tbody::after{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #dedfe9;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .table-fixed table .fixed{
        position:sticky;
        left: 0;
        z-index:1;
    }
    .table-fixed th{
        border-right: 1px solid #dedfe9;
        /* border: 0; */
    }
    /* .table-fixed th:last-child{
        border-right: 0px solid #dedfe9;
    } */
    .table-fixed th{
        text-align: center;
    }
    .table-fixed td{
        background-color: #fff;
        white-space: nowrap;
        text-align: center;
    }
}

@media (min-width: 992px) {
    .card.search-block .col-lg-3 {
        flex: 0 0 15%;
        max-width: 15%;
    }
    .card.search-block .col-lg-9 {
        flex: 0 0 85%;
        max-width: 85%;
    }
    .search-block .form-group.action {
        flex-direction: column;
    }
    .search-block .form-group.action .btn{
        width: 100%;
        padding: 1rem;
    }
    .search-block .form-group.action .btn + .btn {
        margin-left: 0;
        margin-top: 0.5rem;
    }
    .header-navbar .navbar-nav .nav-item {
        margin: 0 15px;
    }
    .modal-lg{
        max-width: 1000px;
    }
}

@media (min-width: 1200px) {


}




@media (max-width: 1600px) {

}
@media (max-width: 1120px) {
    .card.card-action.card-fix {
        width: calc(100vw - (100vw - 100%) - calc(2rem * 2));
    }
    .card.mb-6{
        margin-bottom: 2rem !important;
    }
    .edit-block {
        width: 100%;
    }
}
@media (max-width: 992px) {
    html .content .content-wrapper .content-header-title.title-tab > * {
        padding: 1rem 1.5rem;
    }
    .form-group .controls .control-group.spec {
        flex-flow: row wrap;
    }
    .form-group .controls .control-group.spec .form-control {
        margin: 0 0.25rem 0.25rem 0;
        width: 31%;
    }
    .form-group .controls .control-group.spec .btn {
        margin-left: 0;
        margin-top: 0.25rem;
    }
    .modal.quick-edit .modal-body {
        height: 80vh;
    }
}
@media (max-width: 767px) {
    .card-action .card-body{
        padding: 1rem 0 !important;
    }
    .card-body.card-action {
        padding: 0 0 1rem 0 !important;
    }
    .hidden-xs{
        display: none !important;
    }
    .show-xs{
        display: block !important;
    }
    .table .product-name, .table .cate-name  {
        width: auto;
    }
    table.inputTable.rwd-table{
        border: 0;
    }
    .rwd-table th {
        display: none;
    }
    
    .rwd-table td, .rwd-table td{
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        border: 0 !important;
        text-align: left;
        padding: 5px 10px !important;
        align-items: baseline;
    }
    .rwd-table td.show-xs {
        display: flex !important;
    }
    .rwd-table td div {
        /*flex: 1;*/
    }
    .rwd-table td:last-child {
        border: 0;
    }
    .rwd-table td:before {
        content: attr(data-th) " :";
        text-align: left;
        padding-right: 10px;
        min-width: 100px;
        font-size: 14px;
        color: #999;
        margin: 5px 0;
    }
    .rwd-table td.rwd-action:before, .rwd-table tr.return_block td:before{
        display: none;
    }
    
    .rwd-table td.rwd-action {
        justify-content: center;
        background-color: rgb(243 242 247);
        margin-bottom: -10px;
        margin-top: 10px;
        border-radius: 0 !important;
        padding: 0 !important;
    }
    .rwd-table td.rwd-action > *{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    /* .rwd-table td.rwd-action .btn-sm {
        font-weight: bold;
    }
    .rwd-table td.rwd-action .btn-sm span{
        margin-left: 0;
    } */
    .rwd-table td.rwd-action.show-xs {
        display: flex !important;
        padding: 10px 0 !important;
    }
    .rwd-table tbody tr {
        margin-bottom: 15px;
        display: block;
        padding: 10px 0;
        border: 2px solid #ededed;
    }
    .rwd-table tbody tr:last-child{
        margin-bottom: 0;
    }
    .rwd-table thead {
        border: 0;
    }
    .inputTable.rwd-table td {
        flex-wrap: nowrap;
        padding: 5px 10px !important;
        text-align: left;
    }
    table.rwd-table.inputTable td.border-r {
        border-right: 0;
    }
    .inputTable.rwd-table td.show-xs {
        display: flex !important;
    }
    .inputTable.rwd-table td .invalid-tooltip {
        left: 120px;
    }
    .rwd-table tr.return_block {
        margin-top: -17px;
        border-top: 2px solid #fff;
        padding-top: 0;
    }
    .inputTable.rwd-table tr.return_block td {
        display: block;
        padding: 5px 10px !important;
    }
    
    html .content .content-wrapper .content-header-title {
        font-size: 21px;
        font-weight: 500;
    }
    .breadcrumbs-top {
        margin-bottom: 1rem !important;
    }
    /* .card .card-title{
        font-size: 19px;
        font-weight: normal;
    } */
    .search-block .card-header {
        padding: 1rem;
    }
    .search-block .card-body {
        padding-top: 0 !important;
    }
    .search-block .form-group {
        margin-bottom: 0.8rem;
    }
    .search-block .form-group > label {
        width: 25%;
    }
    .form-group .controls .table {
        border: 0;
    }
    .table-responsive {
        margin-bottom: 1rem;
    }
    .card .rwd-table tbody tr {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .card .card-body .rwd-table tbody tr {
        margin-left: 0;
        margin-right: 0;
    }
    table.dataTable {
        margin-top: 0 !important;
    }
    .table-page > div {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .category-filter {
        border: 0;
    }
    .category-filter .nav-pills {
        margin: 0;
    }
    .category-filter .nav-link {
        padding: 0.7rem 0.7rem;
        font-size: 1.2rem;
    }
    .category-filter .card {
        margin-right: 0;
    }
    .category-filter .nav-link:after {
        right: 5px;
    }
    .category-filter .collapse-title {
        font-size: 1.2rem;
    }

    .delivery-schedule ul {
        flex-direction: column-reverse;
        width: 200px;
        margin-left: 150px;
        margin-top: 30px;
    }
    .delivery-schedule li:before {
        display: none;
    }
    .delivery-schedule li {
        border-left: 2px solid #ddd;
        text-align: left;
        position: relative;
        min-height: 60px;
    }
    .delivery-schedule li:first-child {
        border-color: transparent !important;
        min-height: auto;
    }
    .delivery-schedule li:last-child {
        border-color: #ddd;
    }
    .delivery-schedule li.active {
        border-color: var(--p-main-color);
    }
    .delivery-schedule li .step {
        left: -8px;
        top: -9px;
    }
    .delivery-schedule li .title {
        padding: 0 0 20px 25px;
    }
    .delivery-schedule li .title .btn {
        margin: inherit;
        margin-top: 3px;
        margin-bottom: 0;
        width: fit-content;
    }
    .delivery-schedule li .title .date strong {
        display: block;
        font-weight: bold;
    }
    .delivery-schedule li .title .date, .delivery-schedule li .title .status{
        position: absolute;
        top: -10px;
    }
    .delivery-schedule li .title .date{
        left: -100px;
        text-align: right;
    }
    .delivery-schedule li .title .status {
        font-size: 17px;
        top: -11px;
    }
    .product-upload .row{
        margin-right: -5px;
        margin-left: -5px;
    }
    .product-upload .row > div{
        padding-left: 5px;
        padding-right: 5px;
    }
    .product-upload .item {
        border: 1px dashed #ccc;
        padding: 5px;
    }
    .return-value li {
        flex-flow: row wrap;
    }
    .rwd-action .batches-action .form-control{
        border-color: var(--p-main-color);
    }
    .overlay-txt.img-sm {
        height: auto;
    }
    /* .income-data .list span {
    margin-right: 0;
    min-width: 150px;
} */
}
@media (max-width: 479px) {
    html .content .content-wrapper .content-header-title.title-tab > * {
        padding: 1rem 0.5rem;
    }
    .card .card-header{
        padding: 1rem;
    }
    .card-body {
        padding: 1rem;
    } 
    .form-group > .col-form-label {
        color: #777;
        font-size: 15px;
        text-align: left;
        padding-bottom: calc(0.438rem + 1px);
    }
    .form-group > .controls {
        color: #000;
        font-size: 16px;
    }
    .search-block .form-group {
        flex-direction: column;
        align-items: baseline;
    }
    .search-block .form-group.action {
        flex-direction: inherit;
    }
    .search-block .form-group > label{
        text-align: left;
        font-weight: bold;
        width: 100%;
    }
    .modal .modal-body {
        padding: 1rem;
    }
    .footer .copyright {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
    }
    footer.footer {
        padding: 0 1.2rem 1.5rem 1.2rem;
    }
    .category-filter .row > div {
        height: auto;
    }
    .category-filter .nav-pills {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: row !important;
    }
    .category-filter .nav-pills .nav-item{
        margin-right: 5px;
        margin-bottom: 5px;
    }
    .category-filter .nav-link:after {
        display: none;
    }
    .nav-pills .nav-link.active {
        box-shadow: none;
    }
    .category-filter .nav-link .number {
        margin-right: 0;
        font-size: 13px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        margin-left: 5px;
    }
    .category-filter .nav-link {
        padding: 0.5rem 0.7rem;
        font-size: 1.1rem;
        border: 1px solid var(--p-main-color);
    
    }
    .form-group .controls .control-group.spec .form-control {
        width: 48.5%;
    }
    .pro-item h3 {
        font-size: 17px;
    }
    .modal {
        padding-right: 0.2rem;
        padding-left: 0.2rem;
    }
    .modal.quick-edit .modal-body {
        height: 75vh;
    }
    .card.card-action.card-fix {
        width: 100%;
        left: 0;
        margin-bottom: 0;
        border-radius: 0;
    }
    .card-action.card-fix .card-body {
        text-align: center;
        padding: 1rem;
    }
    .scroll-top {
        bottom: 1.5rem;
        right: 0.5rem;
        width: fit-content !important;
        min-width: fit-content !important;
    }
    .form-group .controls .Multiselect-group select {
        padding: 0.438rem;
    }
    .form-block {
        padding: 2rem 2rem 1rem 2rem;
    }
    .form-block.package {
        padding: 1rem;
    }
    .page-link {
        padding: 0.5rem 0.5rem;
    }
    /* .col-12 {
        margin-bottom: 1rem;
    } */
    #captcha + .invalid-tooltip {

        left: 0;
        margin-left: 0;
    }
    .collapse-action .card .card-header {
        padding: 0.5rem 0.5rem 0.5rem 2rem;
    }
    .collapse-icon.collapse-action [data-toggle='collapse']:after {
        left: 0.5rem;
    }
    .cate-list {
        padding: 0 0.5rem 0 3.3rem;
        margin-bottom: 0;
    }
    .collapse-action .btn-sm {
        padding: 0.5rem;
    }
    .collapse-action .collapse-title {
        font-size: 1.2rem;
    }
    .cate-list li {
        font-size: 1.1rem;
    }
    .total ul,.total {
        justify-content: left;
    }
    .total li {
        margin-left: 0;
    }
    .total li strong{
        min-width: 80px;
    }
    .total li .price{
        min-width: 120px;
    }
    .product-upload .item {
        border: 1px dashed #ccc;
        padding: 5px;
    }
    .return-value li {
        flex-flow: row wrap;
    }
    .pro-item {
        flex-flow: row wrap;
    }
 /**快速搜尋日期篩選**/
.input-group.date-group{
    padding-top: 60px;
}
.input-group.date-group select:first-child {
    position: absolute;
    top: 10px;
    width: 100%;
    border-radius: 0.357rem !important;
    border: 1px solid #d8d6de !important;
    font-weight: bold;
}
.input-group.date-group .input-group-prepend span.input-group-text {
    border-radius: 0.357rem 0 0 0.357rem !important;
}
.input-group-merge.date-group .form-control:not(:last-child) {
    border-top-right-radius: 0.357rem;
    border-bottom-right-radius: 0.357rem;
}
.income-data {
    flex-direction: column;
    align-items: flex-start;
}
.income-data .list {
    margin: 0.5rem 0 0 0 !important;
}
html .content .content-wrapper .content-header-title.title-btn {
    flex-direction: column;
    width: 100%;
}
html .content .content-wrapper .content-header-title .nav-tabs .nav-link {
    padding: 0.61rem 0.5rem;
}
.rwd-table td:before {
    min-width: 85px;
}
html .content .content-wrapper .content-header-title .nav-tabs .nav-link:after {
    height: 2px;
}
}

@media (max-width: 379px) {
    .form-block {
        padding: 2rem 1rem 0rem 1rem;
    }
    .btn {
        padding: 1rem 0.5rem;
        min-width: 48%;
    }
    .btn-sm, .btn-group-sm > .btn, .btn-group > .btn {
        min-width: fit-content;
    }
    .btn-sm, .btn-group-sm > .btn{
        padding: 0.6rem 1rem;
    }
    .btn-xs, .btn-group-xs > .btn {
        padding: 0.3rem 0.5rem;
        min-width: fit-content;
    }
}
@media (max-width: 320px) {
.table .rwd-action .btn {
        padding: 0.65rem 0.65rem;
 }
html .content .content-wrapper .content-header-title {
    font-size: 18px;
    font-weight: bold;
}
html .content .content-wrapper .content-header-title .nav-tabs .nav-link {
    font-weight: bold;
}
.card-body {
    padding: 1rem;
}
.btn-lg, .btn-group-lg > .btn {
    min-width: 125px;
    padding: 1rem 0.5rem;
}
.card-title.d-flex {
    flex-flow: row wrap;
}
/* .btn {
    width: 100%;
    margin: 0.25rem;
} */
.btn-group > .btn{
    margin: 0;
    width: fit-content;
}
.rwd-action .batches-action{
    padding-bottom: 40px;
}
.rwd-action .batches-action .btn{
    position: absolute;
    bottom: 5px;
    width: 60%;
}

}

