<template>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">
        <slot name="title"></slot>
      </h4>
    </div>
    <div class="card-body">
      <slot></slot>
    </div>
    <template
      v-if="actions"
    >
      <hr>
      <div class="card-body card-action">
        <slot name="actions"></slot>
      </div>
    </template>
  </div>
</template>

<script>
export default {
  props: {
    displayActions: Boolean,
  },

  data() {
    return {
      actions: this.displayActions ?? false,
    };
  },
}
</script>
