<template>
  <footer class="footer footer-static footer-light">    <!-- BEGIN: Footer-->
    <div class="copyright">2020 © 好匯賣 All Rights Reserved. <span><a data-toggle="modal" data-target="#privacy" href="#">隱私權條款</a> <a data-toggle="modal" data-target="#privacy" href="#">服務條款</a></span></div>
    <div class="recommended-web">
        <p>友站連結：</p>
      <ul>
        <li><a href="https://famishop.fami.life/" target="_blank">
        <img
          :src="webPath('/app-assets/images/logo/web-06.png')"
        ></a></li>
      <li><a href="https://famistore.famiport.com.tw/fme/" target="_blank">
        <img
          :src="webPath('/app-assets/images/logo/web-03.png')"
        ></a></li>
      <li><a href="https://www.fami.life/allreceive/" target="_blank">
        <img
          :src="webPath('/app-assets/images/logo/web-04.png')"
        ></a></li>
      <li><a href="https://famistore.famiport.com.tw/famistore/" target="_blank">
        <img
          :src="webPath('/app-assets/images/logo/web-01.png')"
        ></a></li>
      <li><a href="https://haofresh.fami.life/haofresh/" target="_blank">
        <img
          :src="webPath('/app-assets/images/logo/web-05.png')"
        ></a></li>
      <li><a href="https://haostore.fami.life/haostore/" target="_blank">
        <img
          :src="webPath('/app-assets/images/logo/web-02.png')"
        ></a></li>
      </ul>
    </div>
  </footer>
</template>

<script>
import { webPath } from '@/Utils/web-path'

export default {
  setup () { return { webPath } }
};
</script>
