<template>
  <div class="table-page-data">
    <div class="dataTables_length">
      <label>
      一頁顯示
        <select class="custom-select form-control" aria-controls=""
          v-model="form.listingLength"
        >
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="75">75</option>
          <option value="100">100</option>
        </select>
        筆
      </label>
    </div>
    <div class="dataTables_info">
      共 {{ meta.total }} 筆，顯示 {{ meta.from }}~{{ meta.to }} 筆
    </div>
  </div>
</template>

<script>
import { mixinFilter } from "@/Utils/filters/components/mixin"

export default {
  mixins: [mixinFilter],

  props: {
    url: String,
    meta: Object,
  },

  watch: {
    "form.listingLength": function () {
      this.lengthChanged()
    }
  }
}
</script>
