<template>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">系統資訊</h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-xl-11">
            <div class="form-group row">
                <div class="col-sm-3 col-form-label">
                    <label for="">新增人員</label>
                </div>
                <div class="col-sm-9 controls">
                    <span class="value">總後台管理員</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-11">
            <div class="form-group row">
                <div class="col-sm-3 col-form-label">
                    <label for="">新增日期</label>
                </div>
                <div class="col-sm-9 controls">
                    <span class="value">2021/01/01 12:00:59</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-11">
            <div class="form-group row">
                <div class="col-sm-3 col-form-label">
                    <label for="">最後修改人員</label>
                </div>
                <div class="col-sm-9 controls">
                    <span class="value">供應商管理員</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-11">
            <div class="form-group row">
                <div class="col-sm-3 col-form-label">
                    <label for="">最後異動日期</label>
                </div>
                <div class="col-sm-9 controls">
                    <span class="value">2021/01/01 12:00:59</span>
                </div>
            </div>
        </div>
        </div>
    </div>
  </div>
</template>

<script>
export default {
}
</script>
