<template>
  <div class="navbar-header">
      <ul class="nav navbar-nav flex-row">
        <li class="nav-item mr-auto">
          <a class="navbar-brand" href="#">
            <span class="brand-logo">
              <img alt="LOGO"
                :src="webPath('/app-assets/images/logo/logo.png')"
              />
            </span>
            <h2 class="brand-text">
              <img :src="webPath('/app-assets/images/logo/logo-txt.png')"/>
              <span>總後台管理</span>
            </h2>
          </a>
        </li>
        <li class="nav-item nav-toggle">
          <a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x d-block d-xl-none toggle-icon font-medium-4"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-disc d-none d-xl-block collapse-toggle-icon primary font-medium-4"><circle cx="12" cy="12" r="10"></circle><circle cx="12" cy="12" r="3"></circle></svg>
          </a>
        </li>
      </ul>
  </div>
  <div class="shadow-bottom"></div>
  <BackendSideMenu
    :menus="menus"
    :menuExpanded="menuExpanded"
  ></BackendSideMenu>
</template>

<script>
import { webPath } from '@/Utils/web-path'
import BackendSideMenu from '@/Utils/Components/BackendSideMenu'

export default {
  components: {
    BackendSideMenu
  },

  props: {
    menuExpanded: Boolean,
    sidebarClass: String,
  },

  data() {
    return {
      menus : [
        {
          name: '帳號管理',
          route: '',
          iconClass: 'fas fa-user-cog',
          activeUrls: ['/accounts'],
          subMenus: [
            {
              name: '管理者帳號',
              route: 'admin.accounts',
              iconClass: 'far fa-circle',
              activeRoutes: ['admin.accounts'],
            }
          ]
        },
        {
          name: '供應商管理',
          route: '',
          iconClass: 'fas fa-users',
          activeUrls: ['/suppliers'],
          subMenus: [
            {
              name: '供應商列表',
              route: 'admin.suppliers',
              iconClass: 'far fa-circle',
              activeRoutes: ['admin.suppliers', 'admin.suppliers.edit', 'admin.suppliers.show'],
            }
          ]
        },
        {
          name: '店家管理',
          route: '',
          iconClass: 'fas fa-store',
          activeUrls: ['/shops'],
          subMenus: [
            {
              name: '店家群組管理',
              route: 'admin.groups',
              iconClass: 'far fa-circle',
              activeRoutes: ['admin.groups'],
            },
            {
              name: '店家列表',
              route: 'admin.shops',
              iconClass: 'far fa-circle',
              activeRoutes: ['admin.shops'],
            },
            {
              name: '店家會員列表',
              route: '',
              iconClass: 'far fa-circle',
              activeRoutes: ['admin.members'],
            }
          ]
        },
        {
          name: '商品管理',
          route: '',
          iconClass: 'fas fa-box-open',
          activeUrls: ['/categories', '/products'],
          subMenus: [
            {
              name: '分類管理',
              route: 'admin.categories',
              iconClass: 'far fa-circle',
              activeRoutes: ['admin.categories', 'admin.categories.create', 'admin.categories.edit'],
            },
            {
              name: '商品列表',
              route: '',
              iconClass: 'far fa-circle',
              activeRoutes: ['admin.products'],
            }
          ]
        },
        {
          name: '訂單管理',
          route: '',
          iconClass: 'fas fa-box-open',
          activeUrls: ['/orders'],
          subMenus: [
            {
              name: '訂單列表',
              route: '',
              iconClass: 'far fa-circle',
              activeRoutes: ['admin.orders'],
            }
          ]
        },
        {
          name: '帳款管理',
          route: '',
          iconClass: 'fas fa-box-open',
          activeUrls: ['/accounting'],
          subMenus: [
            {
              name: '對帳總表',
              route: '',
              iconClass: 'far fa-circle',
              activeRoutes: ['admin.accounting'],
            }
          ]
        },
        {
          name: '商品池',
          route: '',
          iconClass: 'fas fa-box-open',
          activeUrls: ['/product-pool'],
          subMenus: []
        }
      ]
    }
  },

  setup () { return { webPath } },

  computed: {
    getSidebarClass() {
      return this.sidebarClass
    }
  },
};
</script>
