<template>
  <div class="navbar-container d-flex content">
    <div class="bookmark-wrapper d-flex align-items-center">
      <ul class="nav navbar-nav d-xl-none">
        <li class="nav-item">
          <a class="nav-link menu-toggle" href="javascript:void(0);">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu ficon">
              <line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <ul class="nav navbar-nav align-items-center ml-auto">
      <li class="nav-item dropdown dropdown-user">
        <a class="nav-link dropdown-toggle dropdown-user-link" id="dropdown-user" href="javascript:void(0);" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="avatar"><i class="far fa-user"></i><span class="avatar-status-online"></span></span>
          <div class="user-nav d-sm-flex d-none">{{ $page.props.user.name }}，您好</div>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-user">
          <jet-dropdown-link :href="route('admin.profile.show')">
            <i class="mr-50" data-feather="settings"></i> 基本資料管理
          </jet-dropdown-link>
          <a class="dropdown-item"
            @click.prevent="logout"
          ><i class="mr-50" data-feather="power"></i> 登出</a>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
import JetDropdownLink from '@/Jetstream/DropdownLink'

export default {
  components: {
    JetDropdownLink
  },
  methods: {
    logout() {
      this.$inertia.post(route('admin.logout'));
    }
  },
};
</script>
