<template>
  <ul class="pagination"
    v-if="meta.links.length > 3"
  >
    <template v-for="(link, key) in meta.links"
      :key="key"
    >
      <li class="paginate_button page-item previous"
        v-if="link.label =='pagination.previous'"
        :class="{ 'disabled': !link.url }"
      >
        <inertia-link class="page-link" :href="link.url ?? '#'">&nbsp;</inertia-link>
      </li>
      <li class="paginate_button page-item next"
        v-else-if="link.label =='pagination.next'"
        :class="{ 'disabled': !link.url }"
      >
        <inertia-link class="page-link" :href="link.url ?? '#'">&nbsp;</inertia-link>
      </li>
      <li class="paginate_button page-item disabled"
        v-else-if="link.label =='...'"
      >
        <inertia-link class="page-link" :href="'#'">{{ link.label }}</inertia-link>
      </li>
      <li class="paginate_button page-item"
        v-else
        :class="{ 'active': link.active }"
      >
        <inertia-link class="page-link" :href="link.url ?? '#'">{{ link.label }}</inertia-link>
      </li>
    </template>
  </ul>
</template>

<script>
export default {
  props: {
    meta: Object,
    links: Object,
  },
}
</script>
