<template>
  <div class="card search-block">
    <div class="card-header">
      <h4 class="card-title">快速搜尋</h4>
      <div class="heading-elements">
        <ul class="list-inline mb-0">
          <li>
            <a class="rotate"
              @click.stop.prevent="toggleCollapse()"
            >
              <VueFeather type="chevron-down"></VueFeather>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div id="SearchSectionCollapse" class="card-content show">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-9 col-12">
            <div class="row">
              <slot></slot>
            </div>
          </div>
          <div class="col-lg-3 col-12">
            <div class="form-group action">
              <button class="btn btn-primary" data-repeater-delete type="button"
                @click="submit"
              >
                <VueFeather type="search"></VueFeather>
                <span>搜尋</span>
              </button>
              <button class="btn btn-secondary" data-repeater-delete type="button"
                @click="reset"
              >
                <span>清除</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import _ from "lodash";
import { Collapse } from "bootstrap"
import { mapMutations } from "vuex"
import { mixinFilter } from "@/Utils/filters/components/mixin"

export default {
  mixins: [mixinFilter],

  props: {
    url: String,
  },

  data() {
    return {
      collapse: ''
    };
  },

  created: function () {
    this.parser(this.form.search);
  },

  mounted () {
    const collapse = document.getElementById('SearchSectionCollapse')
    collapse.addEventListener('hidden.bs.collapse', function () {
      // do
    })
    this.collapse = new Collapse(collapse, {
      toggle: false
    })
  },

  methods: {
    showMobileSearchFilter () {
      this.$refs.mobileSearchFilter.show()
    },
    ...mapMutations("filters", [
      'parser'
    ]),
    toggleCollapse () {
      this.collapse.toggle()
    }
  }
};
</script>
