<template>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <slot name="head"></slot>
      </div>
      <div class="dataTables_wrapper">
        <div class="table-responsive">
          <table class="table dataTable rwd-table">
            <thead>
              <slot name="thead"></slot>
            </thead>
            <tbody>
              <slot name="tbody"></slot>
            </tbody>
            <slot name="noTbody"></slot>
          </table>
        </div>
        <div class="table-page row">
          <div class="col-sm-12 col-md-6">
            <ListingLength
              :url="pagination.url"
              :meta="pagination.meta"
            />
          </div>
          <div class="col-sm-12 col-md-6">
            <Pagination
              :meta="pagination.meta"
              :links="pagination.links"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Pagination from "@/Admin/Shared/Pagination";
import ListingLength from "@/Admin/Shared/ListingLength";

export default {
  components: {
    Pagination,
    ListingLength
  },

  props: {
    pagination: Object,
  },
};
</script>
