<template>
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h2 class="title">購物車</h2>
      <div class="title-border mx-auto"></div>
    </div>
  </div>
  <ul class="steps">
    <li v-for="(item, key) in stepData" :class="step == (key + 1) ? 'active' : ''">
      <span class="step">Step{{key+1}}</span>
      <span class="title" v-rHtml:text="item">確認數量</span>
    </li>
  </ul>
</template>
<script>
export default {
  setup(props) {
    const stepData = [
      '確認數量', '填寫資料', '訂單完成'
    ]
    return {stepData}
  },
  props: {
    step: {
      type: String,
      default: '1'
    }
  }
}
</script>