<template>
  <!-- Modal -->
  <div class="modal fade first-login" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span>&times;</span></button>
          <div id="form-container" class="form-container login-form">
            <div class="row">
              <div class="col-md-7 col-xs-7">
                <div class="theme_title">
                  <h3>會員登入</h3>
                </div>
                <form role="form">
                  <div class="form-row">
                    <div class="col-12">
                      <input type="text" class="form-control" placeholder="請輸入您的手機號碼">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-12">
                      <div class="input-group">
                        <input type="password" class="form-control" placeholder="請輸入您的密碼">
                        <div class="input-group-append">
                          <a href="#" class="input-group-text input-group-icon"><i class="fa fa-eye-slash"></i></a>
                        </div>
                      </div>
                      <span class="text-error">
                        <i class="fa fa-exclamation-triangle"></i> 密碼錯誤
                      </span>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-12">
                      <div id="captcha"></div>
                    </div>
                  </div>
                  <div class="login-btn">
                    <InertiaLink :href="baseUrl + 'shopping/checkout'" class="btn" data-dismiss="modal" aria-label="Close">登入</InertiaLink>
                    <span class="forget">
                      <InertiaLink :href="baseUrl + 'forgot-password'" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-key"></i> 忘記密碼?
                      </InertiaLink>
                    </span>
                  </div>
                </form>
              </div>
              <div class="col-md-5 col-xs-5 notmember">
                <div class="theme_title">
                  <h3>非會員</h3>
                </div>
                <p>點擊下方按鈕即可完成結帳，如已有購買紀錄，請由左邊選項登入。</p>
                <!-- <InertiaLink :href="baseUrl + 'shopping/checkout'" class="btn" data-dismiss="modal" aria-label="Close">
                  首次購物
                </InertiaLink> -->
                <a href="javascript:;" class="btn" @click.prevent="submitData">首次購物</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { computed, getCurrentInstance } from 'vue'
import { checkout } from '@/Web/Config/api/cart'
export default {
  setup(props) {
    const app = getCurrentInstance()
    const $this = app.appContext.config.globalProperties
    const mixin = app.proxy

    const submitData = () => {
      const data = props.data
      console.log({submit: data})
      let rf = []
      data.data.forEach(row => {
        row.items.forEach(item => item.selected ? rf.push(item.identity) : false)
      })
      if (rf.length <= 0) return $this.$swal('最少要選取一個', '', 'warning')
      // $this.$inertia.visit(mixin.baseUrl + 'shopping/checkout', { preserveScroll: true })
      location.href = mixin.baseUrl + 'shopping/checkout'
      // checkout(rf)
    }

    return {
      submitData
    }
  },
  props: {
    data: {
      type: Object,
      default: {}
    }
  }
}
</script>