<template>
  <!-- Modal -->
  <div class="modal fade" id="addressee-select" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">×</a>
          <h4 class="modal-title" id="myModalLabel">
            選取收件店舖 
            <a href="javascript:;" type="button" class="btn btn-sm mt-0 ml-2" v-if="address.length >= 10">
              <i class="fa fa-plus"></i> 新增
              <small>( {{address.length}}/10 )</small>
            </a>
            <button v-else type="button" class="btn btn-sm mt-0 ml-2" @click.prevent="showModalCart($event, data.data)" data-target="#addressee-add" data-dismiss="modal">
              <i class="fa fa-plus"></i> 新增
              <small>( {{address.length}}/10 )</small>
            </button>
          </h4>
        </div>
        <div class="modal-body">
          <div class="card-select">
            <div class="item" v-for="(item, key) in address">
              <label>
                <input v-model="formData.selected" :value="item.id" name="form-field-radio" type="radio" class="ace input-lg">
                <ul class="addresse lbl">
                  <li>
                    {{item.name}}
                    <span v-if="item.default"><i class="fa fa-user"></i> 預設</span>
                  </li>
                  <li v-rHtml="item.phone">0911123456</li>
                  <li v-rHtml="item.address">(018015)全家台中和順店</li>
                </ul>
              </label>
              <div class="action">
                <a href="#" class="btn btn-sm" @click.prevent="showModalCart($event, item)" data-target="#addressee-edit"
                  data-dismiss="modal">編輯</a>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" @click.prevent="sendData('adr')">選擇</button>
          <button type="button" class="btn btn-gry" data-dismiss="modal">取消</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal end-->

  <!-- Modal -->
  <div class="modal fade" id="addressee-add" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">×</a>
          <h4 class="modal-title" id="myModalLabel">新增店舖</h4>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="row">
              <div class="col-lg-12 col-xl-10">
                <div class="form-row">
                  <label class="col-sm-3 col-form-label"><small>*</small>收件人：</label>
                  <div class="col-sm-9 controls">
                    <input type="text" v-model="addShop.name" class="form-control" placeholder="請輸入收件人姓名">
                    <p class="form-txt red">取貨須核對證件，請填寫真實姓名</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-xl-10">
                <div class="form-row">
                  <label class="col-sm-3 col-form-label"><small>*</small>手機號碼：</label>
                  <div class="col-sm-9 controls">
                    <input type="text" v-model="addShop.phone" class="form-control" placeholder="請輸入收件人手機號碼">
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-xl-10" v-if="addShop.type == 'market'">
                <div class="form-row">
                  <label class="col-sm-3 col-form-label"><small>*</small>取貨店舖：</label>
                  <div class="col-sm-9 controls">
                    <button type="button" class="btn btn-sm">選擇全家店舖</button>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-xl-10">
                <div class="form-row">
                  <label class="col-sm-3 col-form-label"></label>
                  <div class="col-sm-9 controls">
                    <label>
                      <input v-model="addShop.default" name="form-field-radio" type="checkbox" class="ace input-lg">
                      <span class="lbl">預設取貨店舖</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" @click.prevent="sendData('addShop')" class="btn">確認新增</button>
          <button type="button" class="btn btn-gry" data-dismiss="modal">取消</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal end-->

  <!-- Modal -->
  <div class="modal fade" id="addressee-edit" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">×</a>
          <h4 class="modal-title" id="myModalLabel">編輯店舖</h4>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="row">
              <div class="col-lg-12 col-xl-10">
                <div class="form-row">
                  <label class="col-sm-3 col-form-label"><small>*</small>收件人：</label>
                  <div class="col-sm-9 controls">
                    <input type="text" v-model="editShop.name" class="form-control" placeholder="請輸入收件人姓名">
                    <p class="form-txt red">取貨須核對證件，請填寫真實姓名</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-xl-10">
                <div class="form-row">
                  <label class="col-sm-3 col-form-label"><small>*</small>手機號碼：</label>
                  <div class="col-sm-9 controls">
                    <input type="text" v-model="editShop.phone" class="form-control" placeholder="請輸入收件人手機號碼">
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-xl-10">
                <div class="form-row" v-if="editShop.type == 'market'">
                  <label class="col-sm-3 col-form-label"><small>*</small>取貨店舖：</label>
                  <div class="col-sm-9 controls">
                    <p class="value">(018015) 全家台中和順店</p>
                    <button type="button" class="btn btn-sm">選擇全家店舖</button>
                  </div>
                </div>
                <div class="form-row" v-else>
                  <label class="col-sm-3 col-form-label"><small>*</small>取貨地址：</label>
                  <div class="col-sm-9 controls">
                    <input type="text" v-model="editShop.address" class="form-control" placeholder="請輸入收件人手機號碼">
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-xl-10">
                <div class="form-row">
                  <label class="col-sm-3 col-form-label"></label>
                  <div class="col-sm-9 controls">
                    <label>
                      <input v-model="editShop.default" name="form-field-radio" type="checkbox" class="ace input-lg">
                      <span class="lbl">預設取貨店舖</span></label>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" @click.prevent="sendData('editShop')">儲存</button>
          <button type="button" class="btn btn-gry" data-dismiss="modal">取消</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal end-->

  <!-- Modal -->
  <div class="modal fade" id="tips" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">×</a>
          <h4 class="modal-title" id="myModalLabel">超商取貨說明</h4>
        </div>
        <div class="modal-body">
          滿 1000 元免運，運費 $ 50
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal">確定</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal end-->

  <!-- Modal -->
  <div class="modal fade" id="policy" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">×</a>
          <h4 class="modal-title" id="myModalLabel">好匯賣隱私權條款</h4>
        </div>
        <div class="modal-body policy">
          <p>「好開店」為線上的平台服務，為買方與賣方(統稱「使用者」) 間的商品交易提供場所及機會。關於個人資料保護，請使用者詳細閱讀以下</p>
          <p>「好開店」服務(以下簡稱本服務)係屬於全家便利商店股份有限公司(以下簡稱本公司)服務。「好開店」平台為本公司委託全網行銷股份有限公司(以下簡稱全網公司)管理之服務，平台經營之責任隸屬於全網公司。</p>
          <p>為了維護個人隱私權與支持個人資料保護，「好開店」謹以下列聲明，向使用者說明「好開店」蒐集個人資料之目的、類別、利用範圍及方式、及使用者所得行使之權利等事項；如果使用者對於
            「好開店」的隱私權聲明與相關事項有任何疑問，可以和「好開店」LINE客服 (ID : @famishop)聯絡，「好開店」將儘快回覆說明。</p>
          <p><strong>一、適用範圍：</strong></p>
          <p>「好開店」隱私權聲明及其所包含之告知事項，僅適用於「好開店」所擁有及經營的網站。</p>
          <p><strong>二、個人資料蒐集之類別：</strong></p>
          <p>
            1、「好開店」為了提供開店服務、金流服務、物流服務、保護當事人及相關利害關係人之權益、行銷、客戶管理與服務、以及經營合於營業登記項目或組織章程所定之業務等目的，依照各服務之性質，將會蒐集使用者的「姓名、行動電話號碼、會員帳號、電子郵件地址、信用卡資訊、銀行帳戶資訊、身分證字號、聯絡方式、LINE帳號、為完成收款或付款所需之資料、ＩＰ位址、統一編號、發票抬頭、寄送地址」及其他得以直接或間接識別使用者身分之個人資料。
          </p>
          <p>
            2、為提升服務品質「好開店」會依照所提供服務之性質，記錄使用者的IP位址、以及在「好開店」相關網站的瀏覽活動(包括但不限於使用者所使用的軟硬體、所點選的網頁)等資料，而且這些資料僅供作流量分析和網路行為調查，以便於改善「好開店」相關網站的服務品質，不會和特定個人相連繫。
          </p>
          <p><strong>三、個人資料蒐集、處理及利用之特定目的：</strong></p>
          <p>
            「○四○行銷」、「○五二法人對會員名冊之內部管理」、「○六三非公務機關依法定義務所進行個人資料之蒐集處理及利用」、「○六九契約、類似契約或其他法律關係事務」、「○八一個人資料之合法交易業務」、「○九○消費者、客戶管理與服務」、「一○七採購與供應管理」、「一三五資（通）訊服務」、「一三六資(通)訊與資料庫管理」、「一三七資通安全與管理」、「一四八網路購物及其他電子商務服務」、「一五二廣告或商業行為管理」、「一五七調查、統計與研究分析」、「一七九其他財政服務」、「一八一其他經營合於營業登記項目或組織章程所定之業務」、「一八二其他諮詢與顧問服務」等。
          </p>
          <p><strong>四、個人資料利用期間、地區、對象及方式：</strong></p>
          <p>1、期間：特定目的存續期間，但依法令或契約約定應保存期間較長者，從較長期間。</p>
          <p>2、地區：提供會員服務地區。</p>
          <p>3、對象：本公司、全網行銷(股)公司、日翊文化行銷(股)公司、全台物流(股)公司、富群資訊有限公司、因業務需要與本公司或全網公司訂有契約關係或業務往來之機構及政府機關，依法令要求提供者。</p>
          <p>4、方式：符合個人資料保護法及相關法令，以書面、電子、雲端設備或其他足以記載及傳輸資料之媒介與方式</p>
          <p><strong>五、個人資料的利用方式</strong></p>
          <p>
            1、「好開店」蒐集個人資料將依特定目的蒐集、處理與利用，並依個人資料保護法、本服務條款或為完成提供服務或履行合約之必要，於蒐集目的範圍內，提供予合作廠商（包括但不限提供本服務之日翊公司、全台公司、富群公司或其他）以協助交易完成或終止。
          </p>
          <p>2、除依個人資料保護法規定或主管機關（包括但不限於法院或行政機關）之命令或要求提供使用者之個人資料外，「好開店」不會將個人資料提供給第三人（包括境內及境外）或於蒐集目的以外之使用。</p>
          <p><strong>六、資訊安全：</strong></p>
          <p>「好開店」將以合於產業標準之合理技術及程序，維護「好開店」個人資料之安全。</p>
          <p><strong>七、當事人權利：</strong></p>
          <p>1、使用者得依個人資料保護法之規定，行使查詢、閱覽、製給複製本、補充更正、請求停止蒐集、處理或利用及刪除使用者之個人資料。</p>
          <p>2、行使前揭權利時，需由申請人本人向本全網公司客服中心申請，全網公司將於確認使用者身份後，依內部作業程序辦理。</p>
          <p>3、客服信箱：FamiShop@familynet.com.tw、客服電話：(02)6618-2822。</p>
          <p><strong>八、若使用者不願意提供真實且正確完整的個人資料，將無法獲得本公司與全網公司所提供之服務，恕不另行通知。</strong></p>
          <p><strong>九、Cookie：</strong></p>
          <p>為了提升使用體驗，「好開店」網站將會讀取儲存在使用者電腦中的cookie資料。使用者可以經由瀏覽器的設定，取消、或限制此項功能，但可能因此無法使用部份網站功能。</p>
          <p><strong>十、Google Analytics(分析)廣告功能：</strong></p>
          <p>本服務已安裝 Google Analytics (分析) 廣告功能。本功能僅用於提供 「好開店」分析廣告投放效益及優化使用流程，如使用者欲停用 Google Analytics (分析)
            廣告功能，建議使用者可參考Google所提供不透露資訊的方式以停用該功能。</p>
          <p><strong>十一、修訂之權利：</strong></p>
          <p>「好開店」有權隨時修訂本隱私權聲明及相關告知事項，並得於修訂後公佈在 「好開店」網站，不另行個別通知，使用者可以隨時在「好開店」網站上詳閱修訂後的隱私權聲明及相關告知事項。</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal">確定</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { reactive, watch, computed, getCurrentInstance } from 'vue'
import { addShopData, editShopData } from '@/Web/Config/api/cart'
export default {
  setup(props, context) {
    const app = getCurrentInstance()
    const $this = app.appContext.config.globalProperties
    const mixin = app.proxy

    const data = computed(() => $this.store.state.tempData)
    let formData = reactive({
      selected: ''
    })

    // 新增店鋪
    const addShop = computed(() => {
      const st = {address: '', name: '', phone: ''}
      let ds = typeof data.recipient == 'undefined' ? st : data.recipient
      ds.default = false
      const sm = typeof data.shippingMethods == 'undefined' ? 2 : data.shippingMethods
      if (sm == 1) ds.type = 'market'
      else ds.type = 'home'
      return ds
    })

    const editShop = computed(() => {
      console.log({editCshop: data.value})
      return data.value
    })

    // 地址
    const address = computed(() => {
      const datas = data.value
      if (typeof datas.user == 'undefined') return []
      let address = typeof datas.user.addressees !== 'undefined' ? datas.user.addressees.data : []
      const finshData = address.filter(e => datas.data.shippingMethods == 1 ? (e.type == 'market') : (e.type == 'home'))
      console.log(['adr', datas, finshData])
      if (finshData.length > 0) {
        const f2 = finshData.filter(e => e.name == datas.data.recipient.name && e.phone == datas.data.recipient.phone && e.address == datas.data.recipient.address)
        if (f2.length > 0 ) formData.selected = f2[0].id
        else formData.selected = []
      }
      return finshData
    })

    const sendData = (type = 'addShop') => {
      let datas = data.value
      let forms
      if (type == 'addShop') {
        forms = addShop.value
        addShopData(forms, () => $('.modal').modal('hide'))
        datas.recipient.name = forms.name
        datas.recipient.phone = forms.phone
        datas.recipient.address = forms.address
        context.emit('dataSet', {type: 'addShop', data: datas})
      } else if (type == 'editShop') {
        editShopData(datas.id, {
          name: datas.name,
          phone: datas.phone,
          default: datas.default,
          address: datas.address
        })
        console.log({editShop: datas})
      } else if (type == 'adr') {
        (address.value).forEach(item => {
          if (item.id !== formData.selected) return false
          datas.data.recipient.name = item.name
          datas.data.recipient.phone = item.phone
          datas.data.recipient.address = item.address
          context.emit('dataSet', {type: 'adr', data: item})
        })
      }

      $('.modal').modal('hide')
    }

    return {
      formData, sendData, data, addShop,
      address, editShop
    }
  },
  emits: ['dataSet'],
}
</script>