<template>
  <div class="shop-cart-button" @click.prevent="slideModel">
    <i class="fa fa-shopping-bag"></i>
    <span class="amount" v-rHtml:text="cartData.data.length">3</span>
  </div>
  <div class="shop-cart">
    <h5 v-if="cartData.data.length == 0" class="text-center">
      購物車還沒有商品
    </h5>
    <ul class="shop-cart__list">
      <li class="item" v-for="(item, key) in cartData.data">
        <div class="item-image">
          <Img :src="item.photo" />
        </div>
        <div class="item-detail">
          <p class="name">
            {{item.name}}
            <!-- <span>經典款<small>/</small>XL</span> -->
            <span>{{item.model.name}}</span>
          </p>
          <p class="price">$ {{item.model.price}}</p>
          <p class="amount">x {{item.qty}}</p>
        </div>
        <a href="javascript:;" @click="delCart($event, item)" class="remove"></a>
      </li>
    </ul>
    <div class="checkout m-t-26">
      <p>小計 <span class="sub-total">${{cartData.total}}</span> </p>
      <InertiaLink :href="baseUrl + 'shopping/cart'">立即結帳</InertiaLink>
    </div>
  </div>
</template>
<script>
import { computed } from 'vue'
import { getCartData, delCartData } from '@/Web/Config/api/cart'
export default {
  setup(props) {
    const cartData = computed(() => getCartData())

    const slideModel = e => {
      const el = $(e.currentTarget)
      el.next('.shop-cart').slideToggle(300)
    }

    const delCart = (el, data) => {
      delCartData(data)
      // console.log({type: 'del cart', el: el, data: data, prop: props})
    }

    return {
      cartData, slideModel, delCart
    }
  },
}
</script>
<style scoped>
  .shop-cart .shop-cart__list {
    min-height: auto;
  }
</style>