<template>
  <div class="header__logo">
    <inertia-link :href="baseUrl + 'home'">
      <Img :src="logo" />
      <strong v-rHtml:text="text">ROOMMI</strong>
    </inertia-link>
  </div>
</template>
<script>
export default {
  props: {
    logo: {
      type: String,
      default: () => '/frontend/images/style2/logo.jpg'
    },
    text: {
      type: String,
      default: () => ''
    }
  }
}
</script>