<template>
  <li class="member">
    <a href="javascript:;" class="dropdown-toggle-btn" @click.stop="isDrop">
      <i class="fa fa-user" v-if="modal == 'destop'"></i>
      <i class="fa fa-circle" v-if="modal == 'mobile'"></i>
    </a>
    <ul class="dropdown">
      <li v-for="(item, key) in memberMenu">
        <InertiaLink :href="baseUrl + item.src" v-rHtml:text="item.title">登入</InertiaLink>
      </li>
    </ul>
  </li>
</template>
<script>
export default {
  setup() {
    const isDrop = (e) => {
      const el = $(e.currentTarget)
      el.next('.dropdown').toggle()
    }

    return {
      isDrop,
      memberMenu: [
        {title: '登入', src: 'login'},
        {title: '註冊', src: 'register'},
        {title: '會員專區', src: 'account'},
        {title: '訂單查詢', src: 'orders'},
      ]
    }
  },
  props: {
    modal: {
      type: String,
      default() {
        return 'destop'
      }
    }
  }
}
</script>