<template>
  <ul class="navbar-menu">
    <li v-for="(item, key) in data" :class="item.child.length == 0 ? '' : 'submenu'">
      <InertiaLink v-if="item.child.length == 0" :href="item.url" v-rHtml:text="item.name">
        所有商品
      </InertiaLink>
      <template v-else>
        <a href="javascript:;" @click="subMenuDrop">
          {{item.name}}<span></span>
        </a>
        <ul class="sub-menu">
          <li v-for="(row, rK) in item.child">
            <InertiaLink :href="row.url" v-rHtml:text="row.name">
              所有商品
            </InertiaLink>
          </li>
        </ul>
      </template>
    </li>
  </ul>
</template>
<script>
export default {
  setup(props) {
    const subMenuDrop = (e) => {
      const el = $(e.currentTarget)
      if (el.parents('.header-mobile__navbar').length <= 0) {
        return e.stopPropagation()
      }
      el.next('.sub-menu').slideToggle(300)
    }

    return {
      subMenuDrop
    }
  },
  props: {
    data: {
      type: Array,
      default: () => {
        return []
      }
    }
  }
}
</script>
<style scoped>
header .header-wrapper-mobile .header-mobile__navbar > ul {
  height: auto;
  min-height: 52px;
}
</style>