<template>
  <li class="header-search">
    <template v-if="modal == 'destop'">
      <div class="search-input">
        <input type="text" class="form-control" v-model="keyword" placeholder="請輸入關鍵字...">
        <a class="btn" @click.prenvet="search" href="#"><i class="fa fa-search"></i></a> 
      </div>
    </template>
    <template v-if="modal == 'mobile'">
      <div class="search-button" @click.prevent="showSearch">
        <i class="fa fa-search"></i>
      </div>
      <div class="search-input" style="display: none;">
        <input type="text" v-model="keyword" placeholder="請輸入關鍵字...">
        <a class="close" href="#"></a> 
      </div>
    </template>
  </li>
</template>
<script>
import { reactive, ref, toRefs, getCurrentInstance } from 'vue'
export default {
  setup(props, { attrs, slots, emit }) {
    const app = getCurrentInstance()
    const $this = app.appContext.config.globalProperties
    const mixin = app.proxy
    const keyword = ref('')

    const showSearch = (e) => {
      const el = $(e.currentTarget)
      el.next('.search-input').slideToggle()
    }

    const search = () => {
      if (keyword.value == '') return $this.$swal('關鍵字輸入不可空白')
      $this.$inertia.visit(mixin.baseUrl + 'search/' + keyword.value, {
        preserveScroll: true
      })
    }

    // console.log(app)

    return {
      showSearch,
      keyword,
      search
    }
  },
  props: {
    modal: {
      type: String,
      default() {
        return 'destop'
      }
    }
  }
}
</script>