<template>
  <header>
    <div class="header-wrapper">
      <!-- Desktop Menu -->
      <div class="header-wrapper-desktop d-none d-lg-block">
        <div class="header">
          <div class="header-main">
            <div class="header-top">
              <div class="container">
                <Logo :logo="shopData.logo" :text="shopData.name" />
                <div class="header__button">
                  <ul>
                    <Search />
                    <MemberDropmenu />
                    <li class="header-shop-cart">
                      <Cart />
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="header-bottom">
              <div class="container">
                <nav class="header__navbar">
                  <Menus :data="menuData" />
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Desktop Menu -->
      <!-- Mobile Menu -->
      <div class="header-wrapper-mobile d-block d-lg-none">
        <div class="header-mobile__bar">
          <Logo :logo="shopData.logo" :text="shopData.name" />
          <div @click.stop="headerMobileIsShow" class="header-mobile__button">
            <span class="humburger-box">
              <span class="hamburger__inner"></span>
            </span>
          </div>
        </div>
        <nav class="header-mobile__navbar">
          <Menus :data="menuData" />
        </nav>
        <div class="header__button">
          <ul>
            <Search modal="mobile" />
            <MemberDropmenu modal="mobile" />
            <li class="header-shop-cart">
              <Cart />
            </li>
          </ul>
        </div>
      </div>
      <!-- End Mobile Menu -->
    </div>
  </header>
</template>

<script>
import { reactive, ref, computed } from 'vue'
import { getMarketMenu, getShop } from '@/Web/Config/api/global'
import Logo from './slot/logo'
import Cart from './slot/cart'
import Search from './slot/search'
import MemberDropmenu from './slot/memberDropmenu'
import Menus from './slot/menus'
export default {
  setup() {
    const headerMobileIsShow = (e) => {
      const el = $(e.currentTarget)
      el.parent().next('.header-mobile__navbar').slideToggle(300)
    }

    // 選單
    const menuData = computed(() => {
      const menus = getMarketMenu()
      let data = []
      menus.forEach((item, key) => {
        if (key > 4) {
          data[4]['child'].push(item)
        } else {
          data.push({no: item.no, name: item.name, url: item.url, child: []})
        }
      })
      return data
    })

    const shopData = computed(() => {
      return getShop()
    })

    return {
      headerMobileIsShow,
      menuData,
      shopData
    }
  },
  components: {
    Logo, Cart, Search, MemberDropmenu,
    Menus
  },
};
</script>
