<template>
  <layout showPage="return">
    <div class="page-title">
      <h2>退貨進度查詢</h2>
    </div>
    <div id="contact-form-container" class="form-container">
      <div class="form-block">
        <h4 class="d-none d-md-block">狀態</h4>
        <div class="delivery-schedule p-0 mt-0 mt-md-5">
          <div class="d-md-none mb-2">
            <p class="lead">退貨進度：
              <span class="second-color" v-rHtml="data.status">完成退貨</span> 
              <span class="date" v-rHtml="data.createdAt">02/25 08:00</span>
              <a class="btn btn-sm" @click.prevent="openModal('#return-schedule', data)" href="#">
                <i class="fa fa-truck"></i>進度查詢
              </a>
            </p>
          </div>
          <flowChart :data="data.stage" class="d-none d-md-flex" />
        </div>
      </div>

      <!-- 退貨商品 ↓ -->
      <div class="form-block return-block">
        <h4 class="order-num">退貨單編號：
          <span class="number" v-rHtml="data.no">11023028075</span>
          <small v-rHtml="data.createdAt">2020-06-14 14:37</small>
        </h4>
        <p class="lead">
          <InertiaLink :href="data.orderUrl" class="btn btn-sm mt-0"><i class="fa fa-search"></i>查看原訂單</InertiaLink>
        </p>
        <table class="data-table rwd-table">
          <thead>
            <tr class="cart_table_title">
              <th class="product-num"></th>
              <th class="product-name">商品</th>
              <th class="product-quantity">數量</th>
              <th class="product-subtotal">單價</th>
            </tr>
          </thead>
          <tbody>
            <template v-for="(item, key) in data.items">
              <tr class="cart_table_item">
                <td data-th="序號" class="product-num" v-rHtml="key+1">1</td>
                <td class="product-name">
                  <div class="pro-item">
                    <Img :src="item.photo" />
                    <div class="item-info">
                      <strong v-rHtml="item.name">手工訂製美甲 優惠現貨特價款 不退不換</strong>
                      <div class="spec" v-rHtml="item.spec">經典款 <small>/</small> XL</div>
                    </div>
                  </div>
                </td>
                <td data-th="數量" class="product-quantity" v-rHtml="item.amount">2</td>
                <td data-th="單價" class="product-subtotal">
                  <span class="new-price" v-rHtml="'$' + item.price">$590</span>
                </td>
              </tr>
              <tr class="cart_table_item table_form">
                <td colspan="4">
                  <div class="return-value" v-if="typeof item.returned !== 'undefined'">
                    <a class="return-title collapsed" href="#return5" data-toggle="collapse" role="button"
                      aria-expanded="true" aria-controls="return5">買家 申請退貨/退款原因</a>
                    <ul class="collapse" id="return5">
                      <li><strong>原因：</strong>
                        <span v-rHtml="item.returned.causer.note">商品瑕疵</span>
                      </li>
                      <li><strong>說明：</strong>
                        <span v-rHtml="item.returned.causer.reason">如圖，縫線有問題</span>
                      </li>
                      <li>
                        <strong>圖片：</strong>
                        <div class="product-upload">
                          <div class="row">
                            <div class="col-4" v-for="(pRow, pK) in  item.returned.photos">
                              <div class="item">
                                <Img :src="pRow" />
                              </div>
                            </div>
  
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="return-value" v-if="typeof item.examined !== 'undefined'">
                    <a class="return-title collapsed" href="#return6" data-toggle="collapse" role="button"
                      aria-expanded="true" aria-controls="return6">平台 退貨/退款處理</a>
                    <ul class="collapse" id="return6">
                      <li><strong>驗貨成功數量：</strong>
                        <span v-rHtml="item.examined.amount.successful">2</span>
                      </li>
                      <li><strong>驗貨失敗數量：</strong>
                        <span class="red" v-rHtml="item.examined.amount.failure">1</span>
                      </li>
                      <li><strong>說明：</strong>
                        <span v-rHtml="item.examined.explain">只收到兩雙鞋</span>
                      </li>
                      <li>
                        <strong>圖片：</strong>
                        <div class="product-upload">
                          <div class="row">
                            <div class="col-4" v-for="(pRow, pK) in item.examined.photos">
                              <div class="item">
                                <Img :src="pRow" />
                              </div>
                            </div>
  
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="return-value" v-if="typeof item.agreed !== 'undefined'">
                    <a class="return-title collapsed" href="#return7" data-toggle="collapse" role="button"
                      aria-expanded="true" aria-controls="return7">買家 回覆</a>
                    <ul class="collapse" id="return7">
                      <li><strong>同意退貨成功數量：</strong>
                        <span v-rHtml="item.agreed.amount.successful">2</span>
                      </li>
                      <li><strong>驗貨失敗數量：</strong>
                        <span class="red" v-rHtml="item.agreed.amount.failure">0</span>
                      </li>
                      <li><strong>說明：</strong>
                        <span v-rHtml="item.agreed.explain">真的有寄</span>
                      </li>
                    </ul>
                  </div>
                  <div class="return-value" v-if="typeof item.adjudication !== 'undefined'">
                    <a class="return-title" href="#return8" data-toggle="collapse" role="button" aria-expanded="true"
                      aria-controls="return8">平台
                      裁決</a>
                    <ul class="collapse show" id="return8">
                      <li><strong>裁決成功數量：</strong>
                        <span v-rHtml="item.adjudication.amount.successful">2</span>
                      </li>
                      <li><strong>裁決失敗數量：</strong>
                        <span class="red" v-rHtml="item.adjudication.amount.failure">1</span>
                      </li>
                      <li><strong>說明：</strong>
                        <span v-rHtml="item.adjudication.explain">買家找到忘記退回的鞋子</span>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            </template>
          </tbody>
        </table>
        <div class="total red">
          <ul>
            <li><strong>退貨總金額：</strong>
              <span class="price" v-rHtml='returnTotal'>
                <small>$</small>9,100
              </span>
            </li>
          </ul>
        </div>
      </div>

      <!-- 退款資訊 ↓ -->
      <div class="form-block form-complete">
        <div class="row swap-sm">
          <div class="col-12 col-md-6 mt-3 mt-md-0">
            <h4>退款資訊</h4>
            <div class="form-row">
              <label class="col-sm-3 col-form-label" for="label">銀行：</label>
              <div class="col-sm-9 controls">
                <p class="value" v-rHtml="data.refund.bank.code + ' ' + data.refund.bank.name">812 台新國際商業銀行</p>
              </div>
            </div>
            <div class="form-row">
              <label class="col-sm-3 col-form-label" for="label">分行：</label>
              <div class="col-sm-9 controls">
                <p class="value" v-rHtml="data.refund.bank.branch.code + ' ' + data.refund.bank.branch.name">8120274 台新國際商業銀行北台中分行</p>
              </div>
            </div>
            <div class="form-row">
              <label class="col-sm-3 col-form-label" for="label">帳號：</label>
              <div class="col-sm-9 controls">
                <p class="value" v-rHtml="data.refund.account.number">11023028075</p>
              </div>
            </div>
            <div class="form-row">
              <label class="col-sm-3 col-form-label" for="label">帳戶名稱：</label>
              <div class="col-sm-9 controls">
                <p class="value" v-rHtml="data.refund.account.name">曾阿祥</p>
              </div>
            </div>
            <div class="form-row" v-if="data.refund.account.type == 'personal'">
              <label class="col-sm-3 col-form-label" for="label">身分ID：</label>
              <div class="col-sm-9 controls">
                <p class="value" v-rHtml="data.refund.account.ext">N123456789</p>
              </div>
            </div>
            <div class="form-row" v-if="data.refund.account.type == 'business'">
              <label class="col-sm-3 col-form-label" for="label">統一編號：</label>
              <div class="col-sm-9 controls">
                <p class="value" v-rHtml="data.refund.account.ext">54239727</p>
              </div>
            </div>
            <div class="form-row" v-if="data.refund.account.type == 'foreign'">
              <label class="col-sm-3 col-form-label" for="label">居留證號碼：</label>
              <div class="col-sm-9 controls">
                <p class="value" v-rHtml="data.refund.account.ext">A81234567</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <h4>退款狀態 : <span class="red" v-rHtml="data.refund.status">尚未退款</span></h4>
            <div class="form-row">
              <label class="col-sm-3 col-form-label" for="label">退款批號：</label>
              <div class="col-sm-9 controls">
                <p class="value" v-rHtml="data.refund.no">202107010001</p>
              </div>
            </div>
            <div class="form-row">
              <label class="col-sm-3 col-form-label" for="label">退款日期：</label>
              <div class="col-sm-9 controls">
                <p class="value">2021-07-01</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="form-block">
        <h4>退貨說明</h4>
        <div class="form-group">
          <ol class="note">
            <li>商品送達門市時，系統會以簡訊及E-mail通知您取貨。</li>
            <li> 您可以隨時到本網站「訂單查詢」，查詢目前訂單處理進度。</li>
            <li>取貨時請告訴門市人員您的姓名，並於當場支付現金即可。</li>
            <li>如訂購之商品無法順利出貨或缺貨，我們將主動通知您並取消該訂購品項。</li>
            <li class="red">如您未前往門市取貨，累積2次退貨記錄後，將無法再使用超商取貨付款服務，請務必注意！</li>
          </ol>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div id="return-schedule" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h4 class="modal-title" id="myModalLabel">退貨進度</h4>
          </div>
          <div class="modal-body">
            <p class="lead">
              退貨包裹查詢編號：{{form.no}} 
              <button class="btn btn-outline btn-xs mt-0" @click.prevent="copyText">複製</button>
            </p>
            <div class="delivery-schedule p-0">
              <flowChart :data="stageData" />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal">關閉</button>
          </div>
        </div>
      </div>
    </div>
  </layout>
</template>
<script>
import { watch, reactive, computed, getCurrentInstance } from 'vue'
import layout from '../Account/slot/accountLayout'
import { getRefundDetailData } from '@/Web/Config/api/account'
export default {
  setup() {
    let form = reactive({
      appliedReturn: false,
      canReturn: false,
      items: [],
      no: '',
      number: '',
      stage: [],
      reason: '',
      note: ''
    })

    const data = computed(() => getRefundDetailData())
    const stageData = computed(() => form.stage.reverse())

    const openModal = (bind, r) => {
      console.log({modal: r, v: form})
      let items = r.items
      items.forEach((row, key) => items[key]['order'] = {})
      form.appliedReturn = r.appliedReturn
      form.canReturn = r.canReturn
      form.items = items
      form.no = r.no
      form.number = r.number
      form.stage = r.stage
      $(bind).modal('show')
    }

    // 復製文字
    const copyText = (el) => {
      el = el.currentTarget
      let parentEl = $(el).parent()
      const elText = $(el).parent().text().replace(/(退貨包裹查詢編號|\s|：|複製|\r)/g, '')
      console.log({copy: elText})
      var textarea = document.createElement('textarea');
      document.body.appendChild(textarea);
      textarea.style.position = 'absolute';
      textarea.style.clip = 'rect(0 0 0 0)';
      textarea.value = elText;
      var range = document.createRange();
      range.selectNode(textarea);
      var selection = window.getSelection();
      selection.removeAllRanges();
      selection.addRange(range);
      document.execCommand('copy');
      $(textarea).remove()
    }


    // 退化總金額
    const returnTotal = computed(() => {
      let da = data.value
      da = typeof da.items !== 'undefined' ? da.items : []
      const total = da.map(el => parseInt(el.price)).reduce((a, b) => a + b)
      console.log({rt: da, total: total})
      return `
        <small>$</small>${total}
      `
    })
    return {
      data, form, stageData, openModal,
      copyText, returnTotal
    }
  },
  components: {
    layout
  }
}
</script>
