<template>
  <layout showPage="return">
    <div class="page-title">
      <h2>退貨進度查詢</h2>
    </div>
    <div id="contact-form-container" class="form-container">
      <div class="input-group filter order-filter mb-3">
        <input class="flatpickr flatpickr-input form-control" type="text" placeholder="退貨申請日期-起">
        <input class="flatpickr flatpickr-input form-control" type="text" placeholder="退貨申請日期-訖">
        <select class="form-control">
          <option value="">退貨單編號</option>
          <option value="">訂單編號</option>
          <option value="1">產品名稱</option>
        </select>
        <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="">
        <div class="input-group-append">
          <button class="btn" type="button"><i class="fa fa-search mr-0"></i></button>
        </div>
      </div>
      <table class="data-table rwd-table" id="my-orders-table">
        <thead>
          <tr class="cart_table_title">
            <th>序號</th>
            <th>退貨申請日期</th>
            <th>退貨單編號</th>
            <th>數量</th>
            <th>退貨總額</th>
            <th>狀態</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, key) in list">
            <td data-th="序號" v-rHtml:text="key + 1">1</td>
            <td data-th="退貨申請日期" v-rHtml="item.createdAt">2020-4-16 22:30:10</td>
            <td data-th="退貨單編號" class="cart-detail">
              <InertiaLink :href="baseUrl + 'refunds/'+item.no">
                <Img :src="item.photo" class="item-thumbs" />
                <strong v-rHtml="item.no">100000053</strong>
              </InertiaLink>
            </td>
            <td data-th="數量" v-rHtml="item.amount">5</td>
            <td data-th="退貨總額" v-rHtml="item.total"> $9,100</td>
            <td data-th="狀態" v-rHtml="item.status">退貨申請</td>
          </tr>
          <!-- <tr>
            <td data-th="序號">2</td>
            <td data-th="退貨申請日期">2020-4-16 22:30:10</td>
            <td data-th="退貨單編號" class="cart-detail">
              <InertiaLink :href="baseUrl + 'refunds/1'">
                <Img src="/frontend/images/products/p1.jpg" class="item-thumbs" />
                <strong>100000053</strong>
              </InertiaLink>
            </td>
            <td data-th="數量">10</td>
            <td data-th="退貨總額">$9,100</td>
            <td data-th="狀態">已完成退貨寄件</td>
          </tr> -->
        </tbody>
      </table>
      <div class="text-left mt-2">總共 {{list.length}}筆資料</div>
    </div>
  </layout>
</template>
<script>
import { computed } from 'vue'
import layout from '../Account/slot/accountLayout'
import { getRefundData } from '@/Web/Config/api/account'
export default {
  setup() {
    const data = getRefundData()

    const list = computed(() => {
      let item = typeof data.data == 'undefined' ? [] : data.data
      return item
    })
    return {
      list
    }
  },
  components: {
    layout
  }
}
</script>
