<template>
  <div class="form-group">
    <slot name="title"></slot>
    <div class="controls">
      <DatePicker class="input-group input-group-merge"
        is-range
        v-model="range"
        :masks="masks"
        :model-config="modelConfig"
      >
        <template v-slot="{ inputValue, inputEvents }">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
          </div>
          <input class="form-control" placeholder="時間-起"
            v-on="inputEvents.start"
            :value="inputValue.start"
          />
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
          </div>
          <input class="form-control pickergroup-r" placeholder="時間-訖"
            v-on="inputEvents.end"
            :value="inputValue.end"
          />
        </template>
      </DatePicker>
    </div>
  </div>
</template>

<script>
import { DatePicker } from 'v-calendar';
import { mapMutations } from 'vuex'

export default {
  props: {
    fields: String,
  },

  components: {
    DatePicker
  },

  data() {
    return {
      dateRange: '',
      range: {
        start: null,
        end: null
      },
      masks: {
        input: 'YYYY-MM-DD',
      },
      modelConfig: {
        type: 'string',
        mask: 'YYYY-MM-DD'
      },
    }
  },

  created: function () {
    this.dateRange = this.$store.getters['filters/getValue'](this.fields) ?? ''
    if (this.dateRange) {
      const dateRange = this.dateRange.split('|')
      this.range.start = dateRange[0]
      this.range.end = dateRange[1]
    }
  },

  watch: {
    dateRange: function (value) {
      this.setValue({
        name: this.fields,
        value
      })
    },
    'range.start': function () {
      this.changeDateRange()
    },
    'range.end': function () {
      this.changeDateRange()
    },
  },

  methods: {
    changeDateRange () {
      this.dateRange = this.range.start + '|' + this.range.end
    },
    ...mapMutations('filters', [
      'setValue',
      'destroy'
    ])
  }
}
</script>
