<template>
  <div class="form-inline">
    <div class="form-control select-box mr-sm-1 col-4">
      <template v-if="Object.keys(options).length > 1">
        <select v-model="fieldName">
          <option
            v-for="option in options"
            :key="option.name"
            :value="option.value"
          >{{ option.name }}</option>
        </select>
      </template>
      <template v-else>
        <slot></slot>
      </template>
    </div>
    <DatePicker
      v-model="startAt"
      valueType="YYYY-MM-DD 00:00:00"
      placeholder="時間-起"
      input-class="form-control"
      class="input-group date datepicker form-inline mr-sm-1"
    ></DatePicker>
    <DatePicker
      v-model="endAt"
      valueType="YYYY-MM-DD 23:59:59"
      placeholder="時間-迄"
      input-class="form-control"
      class="input-group date datepicker form-inline"
    ></DatePicker>
  </div>
</template>

<script>
import DatePicker from 'vue2-datepicker';
import { mapMutations } from 'vuex'

export default {
  components: {
     DatePicker
  },
  props: {
    fields: String,
  },
  data() {
    return {
      fieldName: '',
      dateRange: '',
      startAt: null,
      endAt: null,
      options: []
    }
  },
  created: function () {
    const fields = this.fields.split(',')
    this.options = fields.map(function(item) {
      const strAry = item.split(':')
      return {
        'name': strAry[1],
        'value': strAry[0]
      }
    })

    this.options.forEach(item => {
      this.dateRange = this.$store.getters['filters/getValue'](item.value)
      if (this.dateRange) {
        const dateRange = this.dateRange.split('|')
        this.fieldName = item.value
        this.startAt = dateRange[0]
        this.endAt = dateRange[1]
      }
    })

    if (! this.fieldName) {
      this.fieldName = this.options[0].value
    }
  },
  watch: {
    fieldName: function (value) {
      this.options.forEach(item => this.destroy({name: item.value}))
      this.setValue({
        name: this.fieldName,
        value: this.dateRange
      })
    },
    dateRange: function (value) {
      this.setValue({
        name: this.fieldName,
        value
      })
    },
    startAt: function () {
      this.changeDateRange()
    },
    endAt: function () {
      this.changeDateRange()
    },
  },
  methods: {
    changeDateRange () {
      this.dateRange = this.startAt + '|' + this.endAt
    },
    ...mapMutations('filters', [
      'setValue',
      'destroy'
    ])
  }
}
</script>