<template>
  <select
    v-model="value"
    :class="useClass"
  >
    <slot />
  </select>
</template>

<script>
import { mapMutations } from 'vuex'

export default {
  props: {
    useClass: String,
    fields: String,
    default: String,
  },
  data() {
    return {
      value: ''
    }
  },
  created: function () {
    this.value = this.$store.getters['filters/getValue'](this.fields) ?? this.default ?? ''
  },
  watch: {
    value (value) {
      this.setValue({
        name: this.fields,
        value
      })
    }
  },
  methods: {
    ...mapMutations('filters', [
      'setValue'
    ])
  }
}
</script>