<template>
    <input
      v-model="value"
      :class="useClass"
      :placeholder="placeholder"
      type="text"
    />
</template>

<script>
import { mapMutations } from 'vuex'

export default {
  props: {
    useClass: String,
    placeholder: String,
    fields: String,
  },
  data() {
    return {
      value: ''
    }
  },
  created: function () {
    this.value = this.$store.getters['filters/getValue'](this.fields) ?? ''
  },
  watch: {
    value: function (value) {
      this.setValue({
        name: this.fields,
        value
      })
    }
  },
  methods: {
    ...mapMutations('filters', [
      'setValue'
    ]),
  }
}
</script>