<template>
  <div class="input-group">
    <div class="form-control select-box mr-sm-1 col-4">
      <select v-model="fieldName">
        <option
          v-for="option in options"
          :key="option.name"
          :value="option.value"
        >{{ option.name }}</option>
      </select>
    </div>
    <input
      v-model="value"
      :class="useClass"
      :placeholder="placeholder"
      type="text"
    />
    <div class="input-group-append">
      <button
        @click="$emit('submit')"
        type="submit"
        class="btn btn-sm btn-gradient-primary"
        style="min-width: 50px"
      >
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'

export default {
  props: {
    useClass: String,
    placeholder: String,
    fields: String,
  },
  data() {
    return {
      fieldName: '',
      value: '',
      options: []
    }
  },
  created: function () {
    const fields = this.fields.split(',')
    this.options = fields.map(function(item) {
      const strAry = item.split(':')
      return {
        'name': strAry[1],
        'value': strAry[0]
      }
    })

    this.options.forEach(option => {
      const value = this.$store.getters['filters/getValue'](option.value)
      if (value) {
        this.fieldName = option.value
        this.value = value
      }
    })

    if (! this.fieldName) {
      this.fieldName = this.options[0].value
    }
  },
  watch: {
    fieldName: function (value) {
      this.options.forEach(option => this.destroy({name: option.value}))
      this.setValue({
        name: this.fieldName,
        value: this.value
      })
    },
    value: function (value) {
      this.setValue({
        name: this.fieldName,
        value
      })
    }
  },
  methods: {
    ...mapMutations('filters', [
      'setValue',
      'destroy'
    ]),
  }
}
</script>