<template>
  <img :src="imgSrc" :alt="alt" @click="popupImg">
</template>
<script>
import { webPath } from '@/Utils/web-path'
export default {
  name: 'Img',
  methods: {
    popupImg(e) {
      let el = $(this.$el)
      let parentClass = el.parent().attr('class')
      const filterData = ['image-popup-vertical-fit']
      if (filterData.indexOf(parentClass) < 0) return false
      e.preventDefault();
      el.parent().magnificPopup({
        type: 'image', // 顯示類型
        closeOnContentClick: true, // 點擊內容關閉
        closeBtnInside: true, // 是否關閉按鈕跟圖片相黏
        closeOnBgClick: true,
        mainClass: 'mfp-img-mobile',
        image: {
          verticalFit: true,
          tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
          titleSrc: function(item) {
            const title = item.el.attr('title')
            return typeof title == 'undefined' ? '' : title;
          }
        },
        gallery: {
          enabled: true,
          navigateByImgClick: true,
          preload: [0,1] // Will preload 0 - before current, and 1 after the current image
        },
      });
    }
  },
  computed: {
    imgSrc() {
      let src = this.src
      if (typeof src !== 'string') {
        return console.log(['ImgSrc error', src, typeof src])
      }
      if (src !== '') {
        src = src.indexOf('http') >= 0 ? src :  webPath(src)
      } else {
        let noneSrc = this.none
        if (noneSrc !== '') {
          src = noneSrc.indexOf('http') >= 0 ? noneSrc : webPath(this.none)
        }
      }
      return src;
    }
  },
  props: {
    src: {
      type: String,
      default: () => {
        return 'https://taurusstarco.com/assets_ui/images/berita/none.jpg'
      }
    },
    none: {
      type: String,
      default: () => {
        return ''
      }
    },
    alt: {
      type: String,
      default: () => {
        return ''
      }
    }
  }
}
</script>