<template>
  <masterLayout>
    <section class="page-content">
      <div class="container">
        <div class="member-page">
          <div class="row">
            <asideLeft :showPage="showPage" :childPage="childPage" />
            <div id="content" class="col-lg-9">
              <slot></slot>
            </div>
          </div>
        </div>
      </div>
    </section>
  </masterLayout>
</template>
<script>
import asideLeft from './asideLeft'
export default {
  components: {
    asideLeft
  },
  props: {
    showPage: {
      type: String,
      default() {
        return 'account'
      }
    },
    childPage: {
      type: String,
      default() {
        return 'account'
      }
    }
  }
}
</script>