<template>
  <div class="col-lg-6">
    <div class="item">
      <ul class="addresse">
        <li>
          {{adr.name}}
          <span v-if="data.default"><i class="fa fa-user"></i> 預設</span>
        </li>
        <li v-rHtml:text="data.phone">0911123456</li>
        <li v-rHtml:text="data.address">407臺中市西屯區市政路500號24樓之8</li>
      </ul>
      <div class="action">
        <a href="#" class="btn btn-sm" @click.prevent="edit">編輯</a>
        <a href="#" class="btn btn-sm btn-gry" @click.prevent="del">刪除</a>
      </div>
    </div>
  </div>
</template>
<script>
import { reactive, computed, getCurrentInstance } from 'vue'
import { changeAddress } from '@/Web/Config/api/account'
export default {
  setup(props, context) {
    const adr = computed(() => {
      let data = props.data
      console.log(['p adr', data])
      return data
    })

    const edit = () => {
      let data = adr.value
      context.emit('edit', data)
    }

    const del = () => {
      let data = adr.value
      console.log({adrDel: data})
      changeAddress('del', {id: data.id})
    }
    return {
      adr, edit, del
    }
  },
  props: {
    data: {
      type: Object,
      default: {}
    }
  }
}
</script>