<template>
  <div id="column-left" class="col-lg-3">
    <div class="block block-account">
      <div class="title-header block-title">
        <span>會員中心</span>
      </div>
      <div class="block-content">
        <ul>
          <li class="d-none d-lg-block" :class="showPage == 'account' ? 'current' : ''">
            <a href="#myAccount" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="myAccount">
              我的帳戶
            </a>
            <div class="collapse" :class="showPage == 'account' ? 'show' : ''" id="myAccount">
              <ul class="sub">
                <li :class="childPage == 'account' ? 'current' : ''">
                  <InertiaLink :href="baseUrl + 'account'">會員資料</InertiaLink>
                </li>
                <li :class="childPage == 'addressee' ? 'current' : ''">
                  <InertiaLink :href="baseUrl + 'account/addressee'">收件資訊</InertiaLink>
                </li>
                <li :class="childPage == 'refunds' ? 'current' : ''">
                  <InertiaLink :href="baseUrl + 'account/refund'">退款帳戶</InertiaLink>
                </li>
              </ul>
            </div>
          </li>
          <li class="d-lg-none">
            <a href="member_my-account.html">會員資料</a>
          </li>
          <li class="d-lg-none">
            <a href="member_my-addresse.html">收件資訊</a>
          </li>
          <li class="d-lg-none">
            <a href="member_my-refund.html">退款帳戶</a>
          </li>
          <li :class="showPage == 'orders' ? 'current' : ''">
            <InertiaLink :href="baseUrl + 'orders'">訂單查詢</InertiaLink>
          </li>
          <li :class="showPage == 'refunds' ? 'current' : ''">
            <InertiaLink :href="baseUrl + 'refunds'">退貨進度</InertiaLink>
          </li>
        </ul>
      </div>

    </div>
  </div>
</template>
<script>
export default {
  props: {
    showPage: {
      type: String,
      default() {
        return 'account'
      }
    },
    childPage: {
      type: String,
      default() {
        return 'account'
      }
    }
  }
}
</script>
