<template>
  <span>
    <div class="form-row">
      <label class="col-sm-3 col-form-label" for="colFormLabel"><small>*</small>密碼：</label>
      <div class="col-sm-9 controls">
        <div class="input-group">
          <input :type="showEyes.p1 ? 'text' : 'password'" v-model="form.pwd1" class="form-control" placeholder="請輸入密碼">
          <div class="input-group-append">
            <a href="#" @click.prvent="showEyes.p1 = !showEyes.p1" class="input-group-text input-group-icon">
              <i class="fa" :class="showEyes.p1 ? 'fa-eye' : 'fa-eye-slash'"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <label class="col-sm-3 col-form-label" for="colFormLabel"><small>*</small>確認密碼：</label>
      <div class="col-sm-9 controls">
        <div class="input-group">
          <input :type="showEyes.p2 ? 'text' : 'password'" v-model="form.pwd2" class="form-control" placeholder="請再次輸入密碼">
          <div class="input-group-append">
            <a href="#" @click.prvent="showEyes.p2 = !showEyes.p2" class="input-group-text input-group-icon">
              <i class="fa" :class="showEyes.p2 ? 'fa-eye' : 'fa-eye-slash'"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </span>
</template>
<script>
import { reactive, watch } from 'vue'
export default {
  setup(props, context) {
    const showEyes = reactive({
      p1: false,
      p2: false
    })

    const form = reactive({
      pwd1: '',
      pwd2: ''
    })

    watch(form, () => context.emit('value', form))

    return {
      form, showEyes
    }
  }
}
</script>