<template>
  <AppLayout>
    <template #header>
      <h2 class="content-header-title mb-0">管理者帳號</h2>
      <div class="breadcrumb-wrapper">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">平台首頁</a></li>
          <li class="breadcrumb-item active">帳號管理</li>
        </ol>
      </div>
    </template>

    <template #default>
      <SearchSection
        :url="route('admin.accounts')"
      >
        <div class="col-lg-7 col-md-7 col-12">
          <FilterTextInputMultiple
            useClass="form-control"
            placeholder="關鍵字"
            fields="account:帳號,name:姓名,email:E-mail"
          />
        </div>
        <div class="col-lg-5 col-md-5 col-12">
          <div class="form-group">
            <label for="itemname">啟用狀態</label>
            <div class="controls">
              <FilterSelectInput
                useClass="form-control"
                fields="active"
              >
                <option value="">選擇狀態</option>
                <option value="1">啟用</option>
                <option value="0">未啟用</option>
              </FilterSelectInput>
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-md-7 col-12">
          <FilterDateRange
            fields="created_at"
          >
            <template #title>
              <label for="">新增日期</label>
            </template>
          </FilterDateRange>
        </div>
      </SearchSection>
      <TableSection
        :pagination="pagination"
      >
        <template #head>
          <div class="col-sm-6 col-12 button-group-l mb-1">
            <button type="button" class="btn btn-primary"
              @click="openCreateModel"
            ><VueFeather type="plus"></VueFeather><span>新增帳號</span></button>
          </div>
        </template>
        <template #thead>
          <tr>
            <th class="number"> 序號 </th>
            <th> 帳號 </th>
            <th> 姓名 </th>
            <th> E-mail </th>
            <th> 啟用狀態 </th>
            <th class="sorting"
              :class="{ 'sorting_asc': isSortBy('asc', 'updated_at') == true || isSortBy('asc', 'updated_at') == null, 'sorting_desc': isSortBy('desc', 'updated_at') }"
              @click="columnSorting('updated_at')"
            > 異動日期 </th>
            <th class="rwd-action"> 操作 </th>
          </tr>
        </template>
        <template #tbody>
          <tr
            v-for="(administer, index) in administers"
            :key="administer.id"
          >
            <td class="number" data-th="序號"><span>{{ number(index) }}</span></td>
            <td data-th="帳號">{{ administer.account }}</td>
            <td data-th="姓名">{{ administer.name }}</td>
            <td data-th="E-mail">{{ administer.email }}</td>
            <td data-th="啟用狀態">
              <div class="custom-control custom-control-primary custom-switch">
                <input type="checkbox" class="custom-control-input"
                  :checked="administer.active"
                />
                <label class="custom-control-label"
                  @click="switchActive(administer)"
                ></label>
              </div>
            </td>
            <td data-th="異動日期">{{ administer.updated_at }}</td>
            <td class="rwd-action">
              <a href="#" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#editAccountModal"
                @click="editAccount(administer)"
              >
                <VueFeather type="edit-2"></VueFeather>
                <span>編輯</span>
              </a>
            </td>
          </tr>
        </template>
      </TableSection>
    </template>

    <template #models>
      <CreateAccountModal
        ref="createAccountModal"
      ></CreateAccountModal>
      <EditAccountModal
        ref="editAccountModal"
        :data="administer"
      ></EditAccountModal>
    </template>
  </AppLayout>
</template>

<script>
import AppLayout from "@/Admin/Layouts/AppLayout";
import SearchSection from "@/Admin/Shared/SearchSection";
import TableSection from "@/Admin/Shared/TableSection";
import FilterTextInputMultiple from "@/Utils/filters/components/TextInputMultiple";
import FilterSelectInput from "@/Utils/filters/components/SelectInput";
import FilterDateRange from "@/Utils/filters/components/DateRangeText";
import CreateAccountModal from "./Components/CreateAccountModal";
import EditAccountModal from "./Components/EditAccountModal";
import { mixinRefModal } from "@/Utils/Components/Modal/mixin"
import { mixinFilter } from "@/Utils/filters/components/mixin"
import { required, requiredIf, email, minLength, maxLength, alphaNum } from '@vuelidate/validators'
import { reactive, provide, readonly } from "vue";

export default {
  mixins: [mixinRefModal, mixinFilter],

  components: {
    AppLayout,
    SearchSection,
    TableSection,
    FilterTextInputMultiple,
    FilterSelectInput,
    FilterDateRange,
    CreateAccountModal,
    EditAccountModal
  },

  data() {
    return {
      administer: ''
    }
  },

  computed: {
    administers: function () {
      return this.$page.props.administers.data
    },
    pagination: function () {
      return {
        'url': this.route('admin.accounts'),
        'meta': this.$page.props.administers.meta,
        'links': this.$page.props.administers.links,
      }
    }
  },

  methods: {
    switchActive (administer) {
      administer.active = !administer.active
      this.$inertia.patch(this.route('admin.accounts.update', administer.id), {
        active: administer.active
      }, {
        preserveScroll: true,
        preserveState: false
      })
    },
    editAccount (administer) {
      this.administer = administer
      this.showModal('editAccountModal')
    },
    number (index) {
      return (index + 1) + (this.$page.props.administers.meta.current_page -1) * this.$page.props.administers.meta.per_page
    },
    openCreateModel () {
      this.showModal('createAccountModal')
    }
  }
}
</script>
