<template>
  <!-- Preloader -->
  <transition name="fade">
  <div class="loading" v-show="isShowLoading">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
  </div>
  </transition>
  <!-- End Pre Loader -->
  <Header />
  <slot />
  <Footer />
  <div class="footer-safe-area"></div>
  <SweetalertMessages></SweetalertMessages>
</template>

<script>
import { ref } from 'vue'
import SweetalertMessages from "@/Utils/Components/SweetalertMessages"
import Header from "./component/header/index"
import Footer from "./component/footer/index"

export default {
  setup() {
    let isShowLoading = ref(true)

    $(document).on('click', e => {
      $('.member .dropdown').hide()
    }) 

    return {
      isShowLoading
    }
  },
  components: {
    Header, Footer,
    SweetalertMessages
  },
  mounted() {
    // this.$swal('Hello Vue world!!!');
    this.isShowLoading = false
  }
};
</script>
<style>
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.5s ease;
  }

  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }
</style>
