<template>
  <masterLayout>
    <section class="page-content">
      <div class="container">
        <Navigation :data="navData" />
        <div class="port-title">
          <h2 class="title" v-rHtml:text="markets.name">夏日居家遊樂場</h2>
          <div class="title-border"></div>
        </div><!-- page title end -->
        <div class="edit-block" v-rHtml="markets.intro">
          <p>
            <Img src="/frontend/images/style3/inner-banner.jpg" />
          </p>
        </div><!-- edit block intro end-->
        <div class="shop-list">
          <listProduct :data="productData" />
          <Panigation :meta="panigationData.meta" :total="panigationData.pageTotal" :per_page="panigationData.perPage" />
        </div><!-- shop list end -->
        <div class="banner-block">
          <div class="row">
            <div class="col-sm-4" v-for="(item, key) in bannerData">
              <a :href="item.href" :target="item.blank ? '_blank' : '_self'">
                <Img :src="item.src" />
              </a>
            </div><!-- col end -->
          </div><!-- row end -->
        </div>
      </div>
    </section>
  </masterLayout>
</template>
<script>
import { reactive, ref, computed } from 'vue'
import { getMarket, getBanner } from '@/Web/Config/api/global'
import { getProduct } from '@/Web/Config/api/product'
import listProduct from '@/Web/Pages/Product/slot/listProduct'
export default {
  components: {
    listProduct
  },
  setup(props) {
    let panigationData = reactive({meta: {}, total: 0, pageTotal: 20, perPage: 5})
    const markets = getMarket()
    const bannerData = getBanner()
    const navData = computed(() => [{title: markets.shopName, src: 'home'}])

    const productData = computed(() => {
      let data = getProduct()
      let meta = typeof data.meta == 'undefined' ? {meta: {}, current_page: 1, total: 0, per_page: 5} : data.meta
      panigationData.meta = meta
      panigationData.pageTotal = meta.total
      panigationData.perPage = meta.per_page
      console.log({product: data})
      return typeof data.data == 'undefined' ? [] : data.data
    })

    return {
      panigationData, markets, bannerData,
      navData, productData
    }
  }
}
</script>