.ecommerce-application .content-body {
  position: relative; }

.ecommerce-application .body-content-overlay {
  position: fixed !important;
  z-index: 12 !important; }

.ecommerce-application .sidebar-shop {
  width: 260px;
  z-index: 14; }

.ecommerce-application .sidebar-shop .filter-heading {
  margin-bottom: 1.75rem;
 }
 
.ecommerce-application .sidebar-shop .filter-title {
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    /* border-bottom: 1px solid #eee; */
    padding: 0.5rem;
    background-color: #f8f8f8;
    font-weight: bold;
    text-align: left;
}

.ecommerce-application .sidebar-shop .price-range li:not(:last-child),
.ecommerce-application .sidebar-shop .categories-list li:not(:last-child) {
  margin-bottom: 0.75rem; }

.ecommerce-application .sidebar-shop li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem; }
.ecommerce-application .sidebar-shop li span {
    font-size: 0.95rem;
    color:   var(--p-gray-color);
}
.ecommerce-application .price-slider, .ecommerce-application .categories {
  text-align: center;
}
.ecommerce-application .sidebar-shop .range-slider.noUi-horizontal .noUi-handle .noUi-tooltip {
  opacity: 0;
  transform: translate(-50%, -15%); }

.ecommerce-application .sidebar-shop .range-slider.noUi-horizontal .noUi-handle .noUi-tooltip:before {
  content: '$ '; }

.ecommerce-application .sidebar-shop .range-slider.noUi-horizontal .noUi-handle:active .noUi-tooltip {
  opacity: 1; }

.ecommerce-application .sidebar-shop .ratings-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem; }

.ecommerce-application .sidebar-shop .ratings-list:last-child {
  margin-bottom: 2.5rem; }

.ecommerce-application .sidebar-shop .ratings-list ul {
  margin-bottom: 0; }

.ecommerce-application .sidebar-shop .ratings-list ul .ratings-list-item svg,
.ecommerce-application .sidebar-shop .ratings-list ul .ratings-list-item i {
  width: 1.25rem;
  height: 1.25rem;
  font-size: 1.25rem; }

.ecommerce-application .filled-star {
  fill: #ff9f43;
  stroke: #ff9f43;
  color: #ff9f43; }

.ecommerce-application .unfilled-star {
  stroke: #babfc7;
  color: #babfc7; }

.ecommerce-application .ecommerce-header-items {
  display: flex;
  justify-content: space-between; 
  margin-top: 1rem;
}

.ecommerce-application .ecommerce-header-items .result-toggler {
  display: flex;
  align-items: center; }

/* .ecommerce-application .ecommerce-header-items .result-toggler .shop-sidebar-toggler {
  padding-left: 0; } */

.ecommerce-application .ecommerce-header-items .result-toggler .shop-sidebar-toggler:active, .ecommerce-application .ecommerce-header-items .result-toggler .shop-sidebar-toggler:focus {
  outline: 0; }

  .ecommerce-application .ecommerce-header-items .result-toggler .shop-sidebar-toggler .navbar-toggler-icon {
    height: auto;
    width: auto;
    font-size: 1.2rem;
    align-items: center;
}

.ecommerce-application .ecommerce-header-items .result-toggler .shop-sidebar-toggler .navbar-toggler-icon i,
.ecommerce-application .ecommerce-header-items .result-toggler .shop-sidebar-toggler .navbar-toggler-icon svg {
  color: #6e6b7b;
  height: 1.5rem;
  width: 1.5rem;
  font-size: 1.5rem; }

.ecommerce-application .ecommerce-header-items .result-toggler .search-results {
  font-weight: 500;
  color: #5e5873; }

.ecommerce-application .ecommerce-searchbar .input-group {
  box-shadow: 0 2px 8px 0 rgba(34, 41, 47, 0.14);
  border-radius: 0.3rem; }

.ecommerce-application .search-product,
.ecommerce-application .search-select,
.ecommerce-application .input-group-text {
  height: 48px;
  border: none;
  font-size: 0.95rem;
  padding-left: 1.25rem;
  background-position: calc(100% - 12px) 17px !important;
 }
.ecommerce-application .sidebar-shop .input-group-text {
    height: auto;
    padding: 0.438rem 0.5rem;
}
.ecommerce-application .search-product::placeholder,
.ecommerce-application .input-group-text::placeholder {
  font-size: 0.95rem; }

.ecommerce-application .ecommerce-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 25px 0 rgba(34, 41, 47, 0.25); }

.ecommerce-application .ecommerce-card .item-rating ul {
  margin-bottom: 0; }

.ecommerce-application .ecommerce-card .item-rating svg,
.ecommerce-application .ecommerce-card .item-rating i {
  height: 1.143rem;
  width: 1.143rem;
  font-size: 1.143rem; }

.ecommerce-application .ecommerce-card .item-name {
  margin-bottom: 0; }

.ecommerce-application .ecommerce-card .item-description {
  font-size: 0.875rem; }

.ecommerce-application .ecommerce-card .btn-wishlist span,
.ecommerce-application .ecommerce-card .btn-cart span {
  vertical-align: text-top; }

.ecommerce-application .ecommerce-card .btn-wishlist i,
.ecommerce-application .ecommerce-card .btn-wishlist svg,
.ecommerce-application .ecommerce-card .btn-cart i,
.ecommerce-application .ecommerce-card .btn-cart svg {
  margin-right: 0.25rem;
  vertical-align: text-top; }

.ecommerce-application .ecommerce-card .btn-wishlist i.text-danger,
.ecommerce-application .ecommerce-card .btn-wishlist svg.text-danger,
.ecommerce-application .ecommerce-card .btn-cart i.text-danger,
.ecommerce-application .ecommerce-card .btn-cart svg.text-danger {
  fill: #ea5455; }

.ecommerce-application .grid-view:not(.wishlist-items),
.ecommerce-application .list-view:not(.wishlist-items) {
  margin-top: 1rem; }

.ecommerce-application .grid-view {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1rem; }

.ecommerce-application .grid-view.wishlist-items {
  grid-template-columns: 1fr 1fr 1fr 1fr; }

.ecommerce-application .grid-view .ecommerce-card {
  overflow: hidden; }
/* .ecommerce-application .grid-view .ecommerce-card.selected{
  border: 2px solid #1171b9;
} */
.ecommerce-application .grid-view .ecommerce-card .item-img {
  /* min-height: 15.85rem; */
  display: flex;
  align-items: center; }

  .ecommerce-application .grid-view .ecommerce-card .item-wrapper {
    margin-top: 0.5rem;
}
.ecommerce-application .grid-view .ecommerce-card .shipping,
.ecommerce-application .grid-view .ecommerce-card .item-options .item-price {
  display: none; }

.ecommerce-application .grid-view .ecommerce-card .item-options {
  display: flex;
  flex-wrap: wrap; }
.ecommerce-application .grid-view .ecommerce-card .item-options .btn {
  border-radius: 0 0 0.428rem 0.428rem;}

.ecommerce-application .item-options .btn{
    flex-grow: 1;
    width: 100%;
   }
.ecommerce-application h1.item-name {
    font-size: 2rem;
    color: #333;
}
.ecommerce-application h6.item-name {
    font-size: 1rem;
    line-height: 1.3;
    height: 60px;
}
.ecommerce-application h6.item-name a {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 3px;
 }

.ecommerce-application .item-company {
    display: block;
    font-size: 14px;
    font-weight: normal;
    color:   var(--p-gray-color);
}
.ecommerce-application .grid-view .ecommerce-card .item-description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 0.2rem; }


.ecommerce-application .grid-view .ecommerce-card .card-body {
  padding: 1rem; }

.ecommerce-application .list-view {
  display: grid;
  grid-template-columns: 1fr; }

.ecommerce-application .list-view .ecommerce-card {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 3fr; }

  .ecommerce-application .list-view .ecommerce-card.no-item {
    grid-template-columns: 1fr;
    text-align: center;
    font-size: 17px;
}
.ecommerce-application .list-view .ecommerce-card .item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1.5rem 1rem; }

.item-img .custom-checkbox{
  position: relative;
  padding-left: 0;
}
.item-img .custom-control-label {
  position: absolute;
  width: 100%;
  height: 100%;
}
.item-img .custom-checkbox .custom-control-label::before, .item-img .custom-checkbox .custom-control-label::after {
  top: 40%;
}
.ecommerce-application .list-view .ecommerce-card .btn-delete {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: auto;
  padding: 0.75rem;
}
.ecommerce-application .list-view .ecommerce-card .card-body {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
 }


.ecommerce-application .list-view .ecommerce-card .card-body .item-wrapper {
  order: 2; }

.ecommerce-application .list-view .ecommerce-card .card-body .item-name {
  order: 1; }

.ecommerce-application .list-view .ecommerce-card .card-body .item-description {
  order: 3;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; }

.ecommerce-application .list-view .ecommerce-card .card-body .item-rating {
  margin-bottom: 0.3rem; }


  .ecommerce-application .list-view .ecommerce-card .card-body .item-name,
  .ecommerce-application .list-view .item-price{
  height: auto;
}
  
.ecommerce-application .list-view .ecommerce-card .item-company {
  display: inline-flex;
  font-weight: 400;
  margin: 0.3rem 0 0.5rem;
  font-size: 0.875rem; }

.ecommerce-application .list-view .ecommerce-card .item-company .company-name {
  font-weight: 600;
  margin-left: 0.25rem; }

.ecommerce-application .list-view .ecommerce-card .item-options {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.ecommerce-application .list-view .ecommerce-card .item-options .item-wrapper {
  position: relative; }

.ecommerce-application .list-view .ecommerce-card .item-options .item-wrapper .item-cost .item-price {
  color: #7367f0;
  margin-bottom: 0; }

.ecommerce-application .list-view .ecommerce-card .item-options .shipping {
  margin-top: 0.75rem; }

.ecommerce-application .list-view .ecommerce-card .item-options .btn-wishlist,
.ecommerce-application .list-view .ecommerce-card .item-options .btn-cart {
  margin-top: 1rem; }




.ecommerce-application .checkout-tab-steps .bs-stepper-header,
.ecommerce-application .checkout-tab-steps .bs-stepper-content {
  padding: 0;
  margin: 0; }

.ecommerce-application .checkout-items .card {
  margin-bottom: 1rem; }

.ecommerce-application .checkout-items .ecommerce-card .item-img img {
  width: 130px;
  margin-left: 2rem; }

.ecommerce-application .checkout-items .ecommerce-card .item-name {
  order: 0 !important; 
  margin-right: 2rem;
}

.ecommerce-application .checkout-items .ecommerce-card .item-company,
.ecommerce-application .checkout-items .ecommerce-card .item-rating {
  margin-bottom: 0.4rem !important; }

.ecommerce-application .checkout-items .ecommerce-card .item-quantity {
  display: flex;
  align-items: center; }

.ecommerce-application .checkout-items .ecommerce-card .delivery-date {
  margin-top: 1.2rem;
  margin-bottom: 0.25rem; }

.ecommerce-application .checkout-items .ecommerce-card .item-options .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: inherit; }

.ecommerce-application .checkout-options .coupons:focus-within {
  box-shadow: none; }

.ecommerce-application .checkout-options .coupons input {
  border: none;
  padding-left: 0;
  color: #6e6b7b;
  font-weight: 600; }

.ecommerce-application .checkout-options .coupons input::placeholder {
  color: #6e6b7b;
  font-weight: 600; }

.ecommerce-application .checkout-options .coupons .input-group-append {
  margin: 0; }

.ecommerce-application .checkout-options .coupons .input-group-text {
  height: auto;
  font-weight: 600;
  padding: inherit; }

.ecommerce-application .checkout-options .price-details .price-title {
  font-weight: 600;
  margin-bottom: 0.75rem;
  margin-top: 1.5rem; }

.ecommerce-application .checkout-options .price-details .price-detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.75rem;
  font-size: 1.2rem; }

.ecommerce-application .checkout-options .btn {
  width: 50%;}

.ecommerce-application .checkout-options .item-options {
    display: flex;
}

.ecommerce-application .payment-type .gift-card {
  cursor: pointer; }

.ecommerce-application .checkout-tab-steps {
  background-color: transparent !important;
  box-shadow: none !important; }

.ecommerce-application .checkout-tab-steps .bs-stepper-header {
  border: none; }

 .ecommerce-application .page-link, .page-item.active{
   background-color: #fff;
   }



@media (min-width: 992px) {
  .ecommerce-application .ecommerce-header-items .shop-sidebar-toggler {
    display: none; }
  .ecommerce-application .product-checkout.list-view {
    grid-template-columns: 2fr 1fr;
    column-gap: 2rem; 
  }
  .ecommerce-application .checkout-options .card {
    position: fixed;
  }
    }

@media (max-width: 1199.98px) {
  .ecommerce-application .ecommerce-header-items .btn-group {
    align-items: center; }
  .ecommerce-application .ecommerce-header-items .btn-group .btn-icon {
    padding: 0.6rem 0.736rem; }
  .ecommerce-application .grid-view.wishlist-items {
    grid-template-columns: 1fr 1fr 1fr; }
  .ecommerce-application .body-content-overlay {
    position: fixed;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .ecommerce-application .body-content-overlay.show {
    opacity: 1; }
  .ecommerce-application.horizontal-layout .body-content-overlay {
    z-index: 998 !important; }
  .ecommerce-application.horizontal-layout .sidebar-shop {
    z-index: 999 !important; }
    .ecommerce-application .grid-view {
      grid-template-columns: 1fr 1fr 1fr; }
    
    }

@media (max-width: 991.98px) {
  .ecommerce-application h1.item-name {
    font-size: 1.8rem;
  }
  .ecommerce-application .sidebar-left .sidebar .card {
    border-radius: 0;
    margin: 0; }
  .ecommerce-application .sidebar-left .sidebar .sidebar-shop {
    transform: translateX(-112%);
    transition: all 0.25s ease;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: scroll;
    margin: 0; }
  .ecommerce-application .sidebar-left .sidebar .sidebar-shop.show {
    transition: all 0.25s ease;
    transform: translateX(0); }
  .ecommerce-application .ecommerce-header-items .result-toggler .search-results {
    display: none; } }

@media (max-width: 767.98px) {
  .ecommerce-application h1.item-name {
    margin-top: 2rem;
  }
  .ecommerce-application .grid-view.wishlist-items {
    grid-template-columns: 1fr 1fr; }
  .ecommerce-application .list-view .ecommerce-card {
    grid-template-columns: 1fr 2fr; }
  .ecommerce-application .grid-view {
      grid-template-columns: 1fr 1fr; } 
    }

@media (max-width: 479px) {
  .ecommerce-application .list-view .ecommerce-card {
    grid-template-columns: 1fr 3fr;
  }
  .item-img .custom-checkbox .custom-control-label::before, .item-img .custom-checkbox .custom-control-label::after {
    top: -25px;
  }
  .ecommerce-application .checkout-items .ecommerce-card .item-img img {
      width: 100px;
      margin-left: 0;
  }
  .ecommerce-application .list-view .ecommerce-card .item-img{
    padding: 1rem 0 1rem 1rem;
  }
  .ecommerce-application .list-view .ecommerce-card .card-body {
    padding: 1rem;
  }
  .ecommerce-application .list-view .ecommerce-card .btn-delete {
    top: .3rem;
    right: .3rem;
    padding: .6rem;
}
}


 @media (max-width: 120px) {
    .ecommerce-application .grid-view,
    .ecommerce-application .grid-view.wishlist-items {
        column-gap: 1rem;
     }
    .ecommerce-application .grid-view .ecommerce-card {
        margin-bottom: 1rem;
    }
    .ecommerce-application .grid-view .ecommerce-card .card-body {
      padding: 0.7rem;
  }
  .ecommerce-application .list-view .ecommerce-card {
    grid-template-columns: 1fr; }
  .ecommerce-application .list-view .ecommerce-card .item-img {
    padding-bottom: 0;
    padding-right: 4rem; }
  .ecommerce-application .list-view .ecommerce-card .card-body {
    border: none;}
    .ecommerce-application h6.item-name a {
      margin-right: 0 !important;
  }
}
@media (max-width: 379px) {

}

       
      
@media (max-width: 320px) {
  .ecommerce-application .grid-view,
  .ecommerce-application .grid-view.wishlist-items {
    grid-template-columns: 1fr;
   }
  .ecommerce-application .checkout-items .ecommerce-card .item-name {
    order: 0 !important;
    margin-right: 0;
  }
   }
