
.page-auth-login {
  background-image: url(../../images/login_bg.jpg);
  background-position: center;
  background-size: cover;
}
.auth-wrapper {
  display: flex;
  flex-basis: 100%;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  width: 100%; }

.auth-wrapper .auth-inner {
  width: 100%;
  position: relative; }

.auth-wrapper.auth-v1 {
  align-items: center;
  justify-content: center;
  overflow: hidden; }

.auth-wrapper.auth-v2 {
  align-items: flex-start; }

.auth-wrapper.auth-v2 .auth-inner {
  height: 100vh;
  overflow-y: auto;
  height: calc(var(--vh, 1vh) * 100); }

.auth-wrapper.auth-v2 .brand-logo {
  position: absolute;
  top: 2rem;
  left: 2rem;
  margin: 0;
  z-index: 1; }

.auth-wrapper.auth-v1 .auth-inner {
  max-width: 550px; }

.auth-wrapper .brand-logo {
    display: flex;
    justify-content: center;
    margin: 1rem 0 2rem 0;
    align-items: center;
    flex-flow: row wrap;
}

.auth-wrapper .brand-logo img{
    width: 180px;
}
.auth-wrapper .brand-logo .brand-text {
  margin: 0;
  font-size: 2rem;
  margin: 10px 0 0 10px;
}
.auth-wrapper .auth-footer-btn .btn {
  padding: 0.6rem !important; }

.auth-wrapper .auth-footer-btn .btn:not(:last-child) {
  margin-right: 1rem; }


.auth-wrapper .auth-bg {
  background-color: #fff; }

.dark-layout .auth-wrapper .auth-bg {
  background-color: #283046; }

  @media (min-width: 1200px) {
    .auth-wrapper.auth-v2 .auth-card {
      width: 400px;
    }
  }
  @media (max-width: 379px) {
    .auth-wrapper .brand-logo img{
      width: 150px;
    }
    .auth-wrapper .brand-logo .brand-text {
      font-size: 1.5rem;
    }
  }