<template>
  <masterLayout>
    <section class="page-content">
      <div class="container">
        <div class="full-page checkout-page">
          <CartHead :step="headStep" />
          <div class="form-container">
            <slot></slot>
          </div>
        </div>
      </div>
    </section>
  </masterLayout>
</template>
<script>
import CartHead from './slot/cartHead'
export default {
  components: {
    CartHead
  },
  props: {
    headStep: {
      type: String,
      default: '1'
    }
  }
}
</script>