<template>
  <CartLayout headStep="1">
    <form role="form">
      <div class="form-block delivery-block" v-for="(item, key) in cartData.data">
        <h4 class="hidden-xs">{{item.supplier}}<span class="amount">({{item.count}})</span>
        </h4>
        <h4 class="display-phone">
          <label>
            <input name="form-field-radio" type="checkbox" class="ace input-lg">
            <span class="lbl">{{item.supplier}}<span class="amount">({{item.count}})</span>
            </span>
          </label>
        </h4>
        <div class="table-responsive">
          <!-- <div class="alert alert-danger alert-dismissible fade show" role="alert">
            錯誤訊息 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div> -->
          <table class="shop-cart-table cart-table-m">
            <thead>
              <tr class="cart_table_title">
                <th class="product-name">
                  <label>
                    <input v-model="item.isSelect" @change="selectCheckbox(item)" name="form-field-radio" type="checkbox" class="ace input-lg">
                    <span class="lbl">商品名稱</span>
                  </label>
                </th>
                <th class="product-spec">規格</th>
                <th class="product-price">價格</th>
                <th class="product-quantity">數量</th>
                <th class="product-subtotal">總計</th>
                <th class="product-remove">刪除</th>
                </tr>
            </thead>
            <tbody>
              <tr class="cart_table_item" v-for="(row, rK) in item.items">
                <td class="product-name">
                  <div class="pro-item">
                    <label>
                      <input v-model="row.selected" name="form-field-radio" type="checkbox" class="ace input-lg">
                      <span class="lbl">
                        <Img :src="row.product.photo" class="item-thumbs"/>
                      </span>
                    </label>
                    <div class="item-info">
                      <InertiaLink :href="baseUrl + 'product/' + row.identity" v-rHtml="row.product.name">
                        手工訂製美甲 優惠現貨特價款 不退不換
                      </InertiaLink>
                      <div class="spec display-phone" v-rHtml="row.model.name">
                        經典款 <small>/</small> XL
                      </div>
                     <div class="delivery"><i class="fa fa-truck"></i> 運送方式：全家店到店、宅配到府</div>
                     <div class="price display-phone">
                       <span class="prev-rate">${{row.model.price.original}}</span> $ {{row.model.price.special}}
                      </div>
                   </div>
                  </div>
                </td>
                <td class="product-spec" v-rHtml="row.model.name">黑色 / XL</td>
                <td class="product-price">
                  <span class="old-price">${{row.model.price.original}}</span>
                  <span class="new-price">${{row.model.price.special}}</span>
                </td>
                <td data-th="數量" class="product-quantity">
                  <numInput v-model="row.qty" :max="row.model.stockSurplus" @on-change="e => qtyChange(e, row)" />
                </td>
                <td data-th="總計" class="product-subtotal">${{row.subtotal}}</td>
                <td class="product-remove">
                  <a href="#" class="remove" @click.prevent="delProduct(row)"></a>
                </td>
              </tr>
            </tbody>
          </table>
          </div>
          <div class="total">
            總金額：
            <span class="price"><small>$</small>{{item.subtotal}}</span>
          </div>
      </div>
      <!-- <div class="form-block delivery-block">
        <h4 class="hidden-xs">好好買<span class="amount">(1)</span>
        </h4>
        <h4 class="display-phone">
          <label>
            <input name="form-field-radio" type="checkbox" class="ace input-lg">
            <span class="lbl">好好買<span class="amount">(1)</span>
            </span>
          </label>
        </h4>
        <table class="shop-cart-table cart-table-m">
          <thead>
            <tr class="cart_table_title">
              <th class="product-name"><label><input name="form-field-radio" type="checkbox" class="ace input-lg"><span class="lbl">商品名稱</span></label></th>
              <th class="product-spec">規格</th>
              <th class="product-price">價格</th>
              <th class="product-quantity">數量</th>
              <th class="product-subtotal">總計</th>
              <th class="product-remove">刪除</th>
              </tr>
          </thead>
          <tbody>
            <tr class="cart_table_item">
              <td class="product-name">
                <div class="pro-item">
                  <label>
                    <input name="form-field-radio" type="checkbox" class="ace input-lg">
                    <span class="lbl">
                      <Img src="/frontend/images/style3/products/p1.jpg" class="item-thumbs" />
                    </span>
                  </label>
                 <div class="item-info">
                   <a href="#">手工訂製美甲 優惠現貨特價款 不退不換</a>
                   <div class="spec display-phone">經典款 <small>/</small> XL</div>
                   <div class="delivery"><i class="fa fa-truck"></i> 運送方式：全家店到店、宅配到府</div>
                  <div class="price display-phone"><span class="prev-rate">$1080</span> $ 1,690</div>
                </div>
                </div>
              </td>
              <td class="product-spec">黑色 / XL</td>
              <td class="product-price"><span class="old-price">$2,400</span><span class="new-price">$590</span></td>
              <td data-th="數量" class="product-quantity">
                <div class="quantity">
                  <span class="sub">
                      <i class="fa fa-angle-down"></i>
                  </span>
                  <input type="number" class="form-control" value="2">
                  <span class="add">
                      <i class="fa fa-angle-up"></i>
                  </span>
              </div>
              </td>
              <td data-th="總計" class="product-subtotal">$1,980</td>
              <td class="product-remove"><a href="#" class="remove"></a></td>
              </tr>
          </tbody>
        </table>
        <div class="total">
          總金額：
          <span class="price"><small>$</small>9,100</span>
        </div>
      </div>
      <div class="form-block delivery-block">
        <h4 class="hidden-xs">手工乳酪蛋糕<span class="amount">(1)</span>
        </h4>
        <h4 class="display-phone">
          <label>
            <input name="form-field-radio" type="checkbox" class="ace input-lg">
            <span class="lbl">手工乳酪蛋糕<span class="amount">(1)</span>
            </span>
          </label>
        </h4>
        <table class="shop-cart-table cart-table-m">
          <thead>
            <tr class="cart_table_title">
              <th class="product-name"><label><input name="form-field-radio" type="checkbox" class="ace input-lg"><span class="lbl">商品名稱</span></label></th>
              <th class="product-spec">規格</th>
              <th class="product-price">價格</th>
              <th class="product-quantity">數量</th>
              <th class="product-subtotal">總計</th>
              <th class="product-remove">刪除</th>
              </tr>
          </thead>
          <tbody>
            <tr class="cart_table_item">
              <td class="product-name">
                <div class="pro-item">
                  <label>
                    <input name="form-field-radio" type="checkbox" class="ace input-lg">
                    <span class="lbl">
                      <Img src="/frontend/images/style3/products/p1.jpg" class="item-thumbs" />
                    </span>
                  </label>
                 <div class="item-info">
                   <a href="#">手工訂製美甲 優惠現貨特價款 不退不換</a>
                   <div class="spec display-phone">經典款 <small>/</small> XL</div>
                   <div class="delivery"><i class="fa fa-truck"></i> 運送方式：宅配到府</div>
                  <div class="price display-phone"><span class="prev-rate">$1080</span> $ 1,690</div>
                </div>
                </div>
              </td>
              <td class="product-spec">黑色 / XL</td>
              <td class="product-price"><span class="old-price">$2,400</span><span class="new-price">$590</span></td>
              <td data-th="數量" class="product-quantity">
                <div class="quantity">
                  <span class="sub">
                      <i class="fa fa-angle-down"></i>
                  </span>
                  <input type="number" class="form-control" value="2">
                  <span class="add">
                      <i class="fa fa-angle-up"></i>
                  </span>
              </div>
              </td>
              <td data-th="總計" class="product-subtotal">$1,980</td>
              <td class="product-remove"><a href="#" class="remove"></a></td>
              </tr>
          </tbody>
        </table>
        <div class="total">
          總金額：
          <span class="price"><small>$</small>9,100</span>
        </div>
      </div> -->
      <div class="total-cash hidden-xs">
        結帳總金額：
        <span class="price"><small>$</small>{{cartData.total}}</span>
      </div>
      <div class="clearfix form-actions hidden-xs">
        <a href="#" class="order-btn">繼續購物</a>
        <!-- <a href="#" class="order-btn buy-now" data-toggle="modal" data-target="#myModal">前往結帳</a> -->
        <a href="#" class="order-btn buy-now" @click.prevent="checkIsLogin">前往結帳</a>
      </div>
    </form>
    <div class="form-block mt-5">
      <h4>購物說明</h4>
      <div class="form-group">
        <ol class="note">
          <li>商品送達門市時，系統會以簡訊及E-mail通知您取貨。</li>
          <li> 您可以隨時到本網站「訂單查詢」，查詢目前訂單處理進度。</li>
          <li>取貨時請告訴門市人員您的姓名，並於當場支付現金即可。</li>
          <li>如訂購之商品無法順利出貨或缺貨，我們將主動通知您並取消該訂購品項。</li>
          <li class="red">如您未前往門市取貨，累積2次退貨記錄後，將無法再使用超商取貨付款服務，請務必注意！</li>
        </ol>
      </div>
    </div>
  </CartLayout>
  <!-- Modal -->
  <memberModal :data="cartData"></memberModal>
</template>
<script>
import { computed, getCurrentInstance } from 'vue'
import { getCartListData, updataCartQty, delCartData2, checkout } from '@/Web/Config/api/cart'
import CartLayout from './CartLayout'
import memberModal from './slot/memberModal'
export default {
  setup() {
    const app = getCurrentInstance()
    const $this = app.appContext.config.globalProperties
    const mixin = app.proxy

    // 取得資料
    const cartData = computed(() => getCartListData())

    // 刪除商品
    const delProduct = (data) => {
      $this.$swal({
        title: "",
        text: "確定要刪除此商品嗎?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: '確定刪除',
        showCancelButton: true,
        cancelButtonText: '取消',
        buttons: true,
        dangerMode: true,
      }).then(r => {
        if (r.isDismissed) return false
        delCartData2(data)
      })
    }

    // 數量變動
    const qtyChange = (e, data) => {
      console.log({qc: e, t: $this})
      if (e <= 0) {
        return delProduct(data)
      }
      updataCartQty(data)
    }
    
    // 全選或不全選
    const selectCheckbox = (data) => data.items.map(item => item.selected = data.isSelect)

    const checkIsLogin = () => {
      const data = cartData.value
      if (!data.isLogin) return $('#myModal').modal('show')
      let rf = []
      data.data.forEach(row => {
        row.items.forEach(item => item.selected ? rf.push(item.identity) : false)
      })
      if (rf.length <= 0) return $this.$swal('最少要選取一個', '', 'warning')
      location.href = mixin.baseUrl + 'shopping/checkout'
      // checkout(rf, () => {})
    }

    return {
      cartData, delProduct, qtyChange,
      selectCheckbox, checkIsLogin
    }
  },
  components: {
    CartLayout, memberModal
  }
}
</script>
