<template>
  <CartLayout headStep="2">
    <form role="form">
      <div class="form-block" v-if="listData.user == null">
        <h4>訂購人資訊</h4>
        <div class="row">
          <div class="col-lg-12 col-xl-8">
            <div class="form-row">
              <label class="col-sm-3 col-form-label"><small>*</small>訂購人：</label>
              <div class="col-sm-9 controls">
                <input v-model="listData.consumer.name" type="text" class="form-control" placeholder="請輸入真實姓名">
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-xl-8">
            <div class="form-row">
              <label class="col-sm-3 col-form-label"><small>*</small>手機號碼：</label>
              <div class="col-sm-9 controls">
                <input v-model="listData.consumer.phone" type="text" class="form-control" placeholder="請輸入真實的手機號碼">
                <p class="form-txt red">手機號碼將註冊為會員帳號</p>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-xl-8">
            <div class="form-row">
              <label class="col-sm-3 col-form-label"><small>*</small>E-mail：</label>
              <div class="col-sm-9 controls">
                <input v-model="listData.consumer.email" type="email" class="form-control" id="colFormLabel"
                  placeholder="請輸入E-mail">
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-xl-8">
            <div class="form-row">
              <label class="col-sm-3 col-form-label" for="colFormLabel"><small>*</small>密碼：</label>
              <div class="col-sm-9 controls">
                <input v-model="listData.consumer.password" type="password" class="form-control" placeholder="請輸入密碼">
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-xl-8">
            <div class="form-row">
              <label class="col-sm-3 col-form-label" for="colFormLabel"><small>*</small>確認密碼：</label>
              <div class="col-sm-9 controls">
                <input v-model="listData.consumer.password_confirmation" type="password" class="form-control"
                  placeholder="請再次輸入密碼">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-block delivery-block" v-for='(row, key) in listData.items.data'>
        <h4>{{row.supplier}}<span class="amount">({{row.count}})</span></h4>
        <table class="shop-cart-table cart-table-m">
          <thead>
            <tr class="cart_table_title">
              <th class="product-name">商品名稱</th>
              <th class="product-spec">規格</th>
              <th class="product-price">價格</th>
              <th class="product-quantity">數量</th>
              <th class="product-subtotal">總計</th>
            </tr>
          </thead>
          <tbody>
            <tr class="cart_table_item" v-for="(item, iK) in row.items">
              <td class="product-name">
                <div class="pro-item">
                  <Img :src="item.product.photo" class="item-thumbs" />
                  <div class="item-info">
                    <strong v-rHtml='item.product.name'>手工訂製美甲 優惠現貨特價款 不退不換</strong>
                    <div class="spec display-phone" v-rHtml="item.model.name">經典款 <small>/</small> XL</div>
                    <div class="price display-phone">
                      <span class="prev-rate">${{item.model.price.original}}</span> $ {{item.model.price.special}}
                    </div>
                  </div>
                </div>
              </td>
              <td class="product-spec" v-rHtml="item.model.name">黑色 / XL</td>
              <td class="product-price">
                <span class="old-price" v-rHtml="'$' + item.model.price.original">$2,400</span>
                <span class="new-price" v-rHtml="'$' + item.model.price.special">$590</span>
              </td>
              <td data-th="數量" class="product-quantity" v-rHtml="item.qty">2</td>
              <td data-th="總計" class="product-subtotal" v-rHtml="'$' + item.subtotal">$1,980</td>
            </tr>
          </tbody>
        </table>
        <div class="swap-md">
          <div class="total">
            <table border="0">
              <tbody>
                <tr>
                  <th>商品小計 : </th>
                  <td>${{row.payable.subtotal}}</td>
                </tr>
                <tr>
                  <th>+ 運費 : </th>
                  <td>${{row.payable.fee}}</td>
                </tr>
                <tr class="total-cash">
                  <th>金額總計 : </th>
                  <td>${{row.payable.total}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-12">
              <h4>配送方式</h4>
            </div>
            <div class="col-lg-6">
              <div class="payment-select1">
                <ul class="shipping-method">
                  <li>
                    <label>
                      <input v-model="row.shippingMethods" value="1" :name="'form-field-radio-' + key" type="radio"
                        class="ace input-lg">
                      <span class="lbl bigger-120 title">
                        <Img src="/frontend/images/icon_family.svg" class="ship-icon" />全家店到店
                        <small>未滿 NT$1,000 運費 NT$49</small>
                      </span>
                      <div class="ship-price">$49</div>
                    </label>
                  </li>
                  <li>
                    <label>
                      <input v-model="row.shippingMethods" value="2" :name="'form-field-radio-' + key" type="radio"
                        class="ace input-lg">
                      <span class="lbl bigger-120 title">
                        宅配到府
                        <small>未滿 NT$1,000 運費 NT$80</small>
                      </span>
                      <div class="ship-price">$80</div>
                    </label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="addresse-info">
                <div class="form-row">
                  <label class="col-sm-3 col-form-label"><small>*</small>收件資訊：</label>
                  <div class="col-sm-9 controls">
                    <button type="button" class="btn" v-if="row.recipient.name == ''" @click.prevent="showModalCart($event, row)" data-target="#addressee-add">
                      新增店舖
                    </button>
                    <p class="value" v-if="row.recipient.name !== ''">
                      收件人：{{row.recipient.name}}<br>
                      手機號碼：{{row.recipient.phone}}<br>
                      取貨{{row.shippingMethods == 1 ? '店舖' : '地址'}}：{{row.recipient.address}}<br>
                      <!-- <span class="red"><i class="fa fa-exclamation-circle"></i> 取件店舖已關閉請重新設定</span> -->
                      <a href="#" v-if="listData.user == null" @click.prevent="showModalCart($event, row)" data-target="#addressee-add" class="btn btn-outline btn-xs">
                        <i class="fa fa-pencil-alt"></i> <strong>變更</strong>
                      </a>
                      <a href="#" v-else @click.prevent="showModalCart($event, {user: listData.user, data: row})" data-target="#addressee-select" class="btn btn-outline btn-xs">
                        <i class="fa fa-pencil-alt"></i> <strong>變更</strong>
                      </a>
                    </p>
                  </div>
                </div>
                <div class="form-row">
                  <label class="col-sm-3 col-form-label">備註：</label>
                  <div class="col-sm-9 controls">
                    <textarea class="form-control" v-model="row.note" rows="4" placeholder="請輸入備註"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-block">
        <h4>發票資料</h4>
        <div class="row">
          <div class="col-lg-12 col-xl-8">
            <div class="form-row">
              <label class="col-sm-3 col-form-label"><small>*</small>發票類別：</label>
              <div class="col-sm-9 controls">
                <select id="inputState" v-model="listData.invoice.type" class="form-control">
                  <option value="member">會員載具</option>
                  <option value="company">公司戶電子發票</option>
                  <option value="donation">捐贈</option>
                  <option value="barcode">手機載具條碼</option>
                  <option value="citizen">自然人憑證載具</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-xl-8" v-if="listData.invoice.type == 'member'">
            <div class="form-row">
              <label class="col-sm-3 col-form-label"><small>*</small>會員手機載具：</label>
              <div class="col-sm-9 controls">
                <input type="text" class="form-control" v-model="listData.invoice.ext.code" placeholder="請填手機號碼">
                <p class="form-txt">
                  <label class="form-txt red">
                    <input name="form-field-radio" v-model="listData.invoice.ext.is_agree" type="checkbox" class="ace input-lg">
                    <span class="lbl">
                      我同意辦理退貨時，由平台代為處理發票及銷貨退回證明單，以加速退貨退款作業。
                      依統一發票使用辦法規定，個人發票一經開立，不得更改或改開公司戶發票。
                      <a href="#" class="txt-link" target="_blank">財政部電子發票流程說明</a>
                    </span>
                  </label>
                </p>
              </div>
            </div>
          </div><!-- row end -->
          <div class="col-lg-12 col-xl-8" v-if="listData.invoice.type == 'company'">
            <div class="form-row">
              <label class="col-sm-3 col-form-label"><small>*</small>抬頭：</label>
              <div class="col-sm-9 controls">
                <input type="text" class="form-control" v-model="listData.invoice.ext.title" placeholder="公司抬頭">
              </div>
            </div>
          </div><!-- row end -->
          <div class="col-lg-12 col-xl-8"  v-if="listData.invoice.type == 'company'">
            <div class="form-row">
              <label class="col-sm-3 col-form-label"><small>*</small>統編：</label>
              <div class="col-sm-9 controls">
                <input type="text" class="form-control" v-model="listData.invoice.ext.tex_number" placeholder="公司統編">
              </div>
            </div>
          </div><!-- row end -->
          <div class="col-lg-12 col-xl-8"  v-if="listData.invoice.type == 'donation'">
            <div class="form-row">
              <label class="col-sm-3 col-form-label"><small>*</small>愛心碼：</label>
              <div class="col-sm-9 controls">
                <input type="text" class="form-control" v-model="listData.invoice.ext.code" placeholder="愛心碼">
                <p class="form-txt">
                  <a href="#" class="txt-link" target="_blank"><i class="fa fa-question-circle"></i> 代碼查詢</a>
                </p>
              </div>
            </div>
          </div><!-- row end -->
          <div class="col-lg-12 col-xl-8" v-if="listData.invoice.type == 'barcode'">
            <div class="form-row">
              <label class="col-sm-3 col-form-label"><small>*</small>手機載具條碼：</label>
              <div class="col-sm-9 controls">
                <input type="text" class="form-control" v-model="listData.invoice.ext.code" placeholder="手機載具條碼">
              </div>
            </div>
          </div><!-- row end -->
          <div class="col-lg-12 col-xl-8" v-if="listData.invoice.type == 'citizen'">
            <div class="form-row">
              <label class="col-sm-3 col-form-label"><small>*</small>16碼大寫英數字：</label>
              <div class="col-sm-9 controls">
                <input type="text" class="form-control" v-model="listData.invoice.ext.code" placeholder="16碼大寫英數字">
              </div>
            </div>
          </div><!-- row end -->
        </div>
      </div>
      <div class="form-block payment-select1">
        <h4>付款方式</h4>
        <ul class="payment-method">
          <li v-for="(item, key) in listData.paymentMehods.data">
            <label>
              <input v-model="listData.paymentMethod" :value="item.id" name="form-field-radio1" type="radio"
                class="ace input-lg">
              <span class="lbl bigger-120 title">
                {{item.title}} - <span class="txt" v-rHtml="item.notice">若結帳總金額超過2萬元無法選擇此付款方式</span>
                <a href="#" data-toggle="modal" data-target="#tips">
                  <i class="fa fa-question-circle"></i>
                </a>
              </span>
            </label>
          </li>
        </ul>
      </div>
      <div class="total-cash hidden-xs">
        結帳總金額：
        <span class="price"><small>$</small>{{listData.total}}</span>
      </div>
      <div class="clearfix form-actions hidden-xs">
        <label>
          <input v-model="listData.isRead" name="form-field-radio" type="checkbox" class="ace input-lg">
          <span class="lbl bigger-120">我已經閱讀並同意
            <a href="#" target="_blank" data-toggle="modal" data-target="#policy">隱私權/服務條款</a>
          </span>
        </label>
        <InertiaLink :href="baseUrl + 'shopping/cart'" class="order-btn">回上一步</InertiaLink>
        <a href="javascript:;" class="order-btn buy-now" @click.prevent="sendData">確認訂購</a>
      </div>
    </form>
  </CartLayout>
  <modal></modal>
</template>
<script>
  import { computed, getCurrentInstance } from 'vue'
  import CartLayout from './CartLayout'
  import modal from './slot/modal'
  import { getCheckoutData, sendOrderData } from '@/Web/Config/api/cart'
  export default {
    setup(props, context) {
      const app = getCurrentInstance()
      const $this = app.appContext.config.globalProperties
      const listData = computed(() => getCheckoutData())

      const sendData = () => {
        let datas = listData.value
        if (!datas.isRead) return $this.$swal('請閱讀並同意 隱私權/服務條款', '', 'warning')
        let forms = { uuid: datas.uuid }
        if (datas.user == null) {
          forms.consumer = datas.consumer
        }
        forms.paymentMethod = datas.paymentMethod
        forms.invoice = {
          type: datas.invoice,
          ext: {}
        }
        if (datas.invoice == 'company') {
          forms.invoice.ext.title = datas.invoice.ext.title
          forms.invoice.ext.tex_number = datas.invoice.ext.tex_number
        } else {
          forms.invoice.ext.code = datas.invoice.ext.code
        }
        forms.shipments = []
        datas.items.data.forEach(item => {
          forms.shipments.push({
            identity: item.identity,
            shippingMethods: item.shippingMethods,
            recipient: {
              name: item.recipient.name,
              phone: item.recipient.phone,
              address: item.recipient.address,
            },
            notes: item.note
          })
        })
        // baseUrl + 'shopping/done'
        console.log({sendData: datas, form: forms})
        sendOrderData(forms)
      }

      return {
        listData, sendData
      }
    },
    components: {
      CartLayout,
      modal
    }
  }

</script>
