<template>
  <CartLayout headStep="3">
    <form role="form">
      <div class="complete-block">
        <p class="lead">親愛的 XXX 您好，感謝您的訂購 ，您的訂單編號為：<strong
            class="red">0123456789</strong>，結帳總金額為<strong>$1,200</strong>，總共購買3項商品。</p>
      </div>
      <div class="form-block delivery-block">
        <h4>富群生活</h4>
        <table class="shop-cart-table cart-table-m">
          <thead>
            <tr class="cart_table_title">
              <th class="product-name">商品名稱</th>
              <th class="product-spec">規格</th>
              <th class="product-price">價格</th>
              <th class="product-quantity">數量</th>
              <th class="product-subtotal">總計</th>
            </tr>
          </thead>
          <tbody>
            <tr class="cart_table_item">
              <td class="product-name">
                <div class="pro-item">
                  <Img src="/frontend/images/style3/products/p1.jpg" class="item-thumbs" />
                  <div class="item-info">
                    <strong>手工訂製美甲 優惠現貨特價款 不退不換</strong>
                    <div class="spec display-phone">經典款 <small>/</small> XL</div>
                    <div class="price display-phone"><span class="prev-rate">$1080</span> $ 1,690</div>
                  </div>
                </div>
              </td>
              <td class="product-spec">黑色 / XL</td>
              <td class="product-price"><span class="old-price">$2,400</span><span class="new-price">$590</span></td>
              <td data-th="數量" class="product-quantity">2</td>
              <td data-th="總計" class="product-subtotal">$1,980</td>
            </tr>
            <tr class="cart_table_item">
              <td class="product-name">
                <div class="pro-item">
                  <Img src="/frontend/images/style3/products/p1.jpg" class="item-thumbs" />
                  <div class="item-info">
                    <strong>手工訂製美甲 優惠現貨特價款 不退不換</strong>
                    <div class="spec display-phone">經典款 <small>/</small> XL</div>
                    <div class="price display-phone"><span class="prev-rate">$1080</span> $ 1,690</div>
                  </div>
                </div>
              </td>
              <td class="product-spec">黑色 / XL</td>
              <td class="product-price"><span class="old-price">$2,400</span><span class="new-price">$590</span></td>
              <td data-th="數量" class="product-quantity">2</td>
              <td data-th="總計" class="product-subtotal">$1,980</td>
            </tr>
          </tbody>
        </table>
        <div class="d-md-flex swap-sm">
          <div class="addresse-info">
            <div class="form-row">
              <label class="col-sm-3 col-form-label">運送方式：</label>
              <div class="col-sm-9 controls">
                <p class="value d-flex">
                  <Img src="/frontend/images/icon_family.svg" class="ship-icon"  />全家店到店
                </p>
              </div>
            </div>
            <div class="form-row">
              <label class="col-sm-3 col-form-label">收件資訊：</label>
              <div class="col-sm-9 controls">
                <p class="value">
                  收件人：陳小美<br>
                  手機號碼：0911123456<br>
                  取貨店舖：(018015)全家台中和順店
                </p>
              </div>
            </div>
            <div class="form-row">
              <label class="col-sm-3 col-form-label">備註：</label>
              <div class="col-sm-9 controls">
                <p class="value">請盡快出貨</p>
              </div>
            </div>
          </div>
          <div class="total">
            <table border="0">
              <tbody>
                <tr>
                  <th>商品小計 : </th>
                  <td>$9,000</td>
                </tr>
                <tr>
                  <th>+ 運費 : </th>
                  <td>$49</td>
                </tr>
                <tr class="total-cash">
                  <th>金額總計 : </th>
                  <td>$9,100</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="form-block delivery-block">
        <h4>富群購物</h4>
        <table class="shop-cart-table cart-table-m">
          <thead>
            <tr class="cart_table_title">
              <th class="product-name">商品名稱</th>
              <th class="product-spec">規格</th>
              <th class="product-price">價格</th>
              <th class="product-quantity">數量</th>
              <th class="product-subtotal">總計</th>
            </tr>
          </thead>
          <tbody>
            <tr class="cart_table_item">
              <td class="product-name">
                <div class="pro-item">
                  <Img src="/frontend/images/style3/products/p1.jpg" class="item-thumbs" />
                  <div class="item-info">
                    <strong>手工訂製美甲 優惠現貨特價款 不退不換</strong>
                    <div class="spec display-phone">經典款 <small>/</small> XL</div>
                    <div class="price display-phone"><span class="prev-rate">$1080</span> $ 1,690</div>
                  </div>
                </div>
              </td>
              <td class="product-spec">黑色 / XL</td>
              <td class="product-price"><span class="old-price">$2,400</span><span class="new-price">$590</span></td>
              <td data-th="數量" class="product-quantity">2</td>
              <td data-th="總計" class="product-subtotal">$1,980</td>
            </tr>
          </tbody>
        </table>
        <div class="d-md-flex swap-sm">
          <div class="addresse-info">
            <div class="form-row">
              <label class="col-sm-3 col-form-label">運送方式：</label>
              <div class="col-sm-9 controls">
                <p class="value d-flex">
                  宅配到府
                </p>
              </div>
            </div>
            <div class="form-row">
              <label class="col-sm-3 col-form-label">收件資訊：</label>
              <div class="col-sm-9 controls">
                <p class="value">
                  收件人：陳小美<br>
                  手機號碼：0911123456<br>
                  取貨店舖：(018015)全家台中和順店
                </p>
              </div>
            </div>
            <div class="form-row">
              <label class="col-sm-3 col-form-label">備註：</label>
              <div class="col-sm-9 controls">
                <p class="value">請盡快出貨</p>
              </div>
            </div>
          </div>
          <div class="total">
            <table border="0">
              <tbody>
                <tr>
                  <th>商品小計 : </th>
                  <td>$9,000</td>
                </tr>
                <tr>
                  <th>+ 運費 : </th>
                  <td>$49</td>
                </tr>
                <tr class="total-cash">
                  <th>金額總計 : </th>
                  <td>$9,100</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="form-block delivery-block">
        <h4>富群手工限量</h4>
        <table class="shop-cart-table cart-table-m">
          <thead>
            <tr class="cart_table_title">
              <th class="product-name">商品名稱</th>
              <th class="product-spec">規格</th>
              <th class="product-price">價格</th>
              <th class="product-quantity">數量</th>
              <th class="product-subtotal">總計</th>
            </tr>
          </thead>
          <tbody>
            <tr class="cart_table_item">
              <td class="product-name">
                <div class="pro-item">
                  <Img src="/frontend/images/style3/products/p1.jpg" class="item-thumbs" />
                  <div class="item-info">
                    <strong>手工訂製美甲 優惠現貨特價款 不退不換</strong>
                    <div class="spec display-phone">經典款 <small>/</small> XL</div>
                    <div class="price display-phone"><span class="prev-rate">$1080</span> $ 1,690</div>
                  </div>
                </div>
              </td>
              <td class="product-spec">黑色 / XL</td>
              <td class="product-price"><span class="old-price">$2,400</span><span class="new-price">$590</span></td>
              <td data-th="數量" class="product-quantity">2</td>
              <td data-th="總計" class="product-subtotal">$1,980</td>
            </tr>
          </tbody>
        </table>
        <div class="d-md-flex swap-sm">
          <div class="addresse-info">
            <div class="form-row">
              <label class="col-sm-3 col-form-label">運送方式：</label>
              <div class="col-sm-9 controls">
                <p class="value d-flex">
                  <Img src="/frontend/images/icon_family.svg" class="ship-icon"  />全家店到店
                </p>
              </div>
            </div>
            <div class="form-row">
              <label class="col-sm-3 col-form-label">收件資訊：</label>
              <div class="col-sm-9 controls">
                <p class="value">
                  收件人：陳小美<br>
                  手機號碼：0911123456<br>
                  取貨店舖：(018015)全家台中和順店
                </p>
              </div>
            </div>
            <div class="form-row">
              <label class="col-sm-3 col-form-label">備註：</label>
              <div class="col-sm-9 controls">
                <p class="value">請盡快出貨</p>
              </div>
            </div>
          </div>
          <div class="total">
            <table border="0">
              <tbody>
                <tr>
                  <th>商品小計 : </th>
                  <td>$9,000</td>
                </tr>
                <tr>
                  <th>+ 運費 : </th>
                  <td>$49</td>
                </tr>
                <tr class="total-cash">
                  <th>金額總計 : </th>
                  <td>$9,100</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="form-block form-complete">
        <h4>發票資料</h4>
        <div class="row">
          <div class="col-lg-12 col-xl-8">
            <div class="form-row">
              <label class="col-sm-3 col-form-label">發票類別：</label>
              <div class="col-sm-9 controls">
                <p class="value">會員載具</p>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-xl-8">
            <div class="form-row">
              <label class="col-sm-3 col-form-label">會員手機載具：</label>
              <div class="col-sm-9 controls">
                <p class="value">0911123456</p>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-xl-8">
            <div class="form-row">
              <label class="col-sm-3 col-form-label">付款方式：</label>
              <div class="col-sm-9 controls">
                <p class="value">取貨付款</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-block mt-5">
        <h4>購物說明</h4>
        <div class="form-group">
          <ol class="note">
            <li>商品送達門市時，系統會以簡訊及E-mail通知您取貨。</li>
            <li> 您可以隨時到本網站「訂單查詢」，查詢目前訂單處理進度。</li>
            <li>取貨時請告訴門市人員您的姓名，並於當場支付現金即可。</li>
            <li>如訂購之商品無法順利出貨或缺貨，我們將主動通知您並取消該訂購品項。</li>
            <li class="red">如您未前往門市取貨，累積2次退貨記錄後，將無法再使用超商取貨付款服務，請務必注意！</li>
          </ol>
        </div>
      </div>
    </form>
  </CartLayout>
</template>
<script>
  import CartLayout from './CartLayout'
  export default {
    components: {
      CartLayout
    }
  }

</script>
