<template>
  <div class="breadcrumb">
    <ul>
      <li v-for="(item, key) in dataList" :class="key == (dataList.length - 1) ? 'active' : ''" >
        <InertiaLink :href="item.src !== '' ? baseUrl + item.src : '#'" v-rHtml:text="item.title">
          首頁
        </InertiaLink>
      </li>
    </ul>
  </div>
</template>
<script>
import { reactive, ref, computed } from 'vue'
export default {
  setup(props) {
    const dataList = computed(() => {
      const firstData = [{'title': '首頁', 'src': 'home'}]
      let data = Object.assign([], props.data)
      if (data.length <= 0) return firstData
      data = firstData.concat(data)
      return data
    })
    
    return {dataList}
  },
  props: {
    data: {
      type: Array,
      default() {
        return []
      }
    }
  }
}
</script>