<template>
  <div class="panigation">
    <ul class="au-panigation">
      <li class="panigation-item" v-if="current_page > 1">
        <a href="#" class="panigation-link" @click.prevent="changePage(current_page-1)">
          <i class="fa fa-angle-left"></i>
        </a>
      </li>
      <li v-for="(item, key) in pageData" class="panigation-item" :class="current_page == item ? 'active' : ''">
        <a href="#" @click.prevent="changePage(item)" class="panigation-link" v-rHtml:text="item">
          01
        </a>
      </li>
      <template v-if="current_page <= (total - per_page)">
        <li v-if="total > per_page" class="panigation-item">
          <a herf="#" @click.prevent="changePage(current_page + per_page)">...</a>
        </li>
        <li class="panigation-item" @click.prevent="changePage(current_page+1)">
          <a href="#" class="panigation-link">
            <i class="fa fa-angle-right"></i>
          </a>
        </li>
      </template>
    </ul>
  </div>
</template>
<script>
import { reactive, ref, computed } from 'vue'
export default {
  data() {
    const params = this.getParams()
    return {
      params,
      current_page: typeof params.page == 'undefined' ? 1 : parseInt(params.page)
    }
  },
  methods: {
    changePage(page) {
      const pageUrl = (this.$page.url).replace(/(^.*?)\?.*$/, '$1')
      const queryString = '?page=' + page
      const perPage = this.per_page
      // if (this.$page.url.indexOf(queryString) > 0) return false;
      // if (page % perPage == 1 || page % perPage == 0) {
      //   this.current_page = this.numPages(page, perPage)
      // }
      this.$inertia.visit(pageUrl + queryString, { preserveScroll: true })
    },
    numPages(total = 0, perPage = 5) {
      return Math.ceil(total / perPage);
    }
  },
  computed: {
    pageData() {
      let total = this.total,
          perPage = this.per_page,
          currentPage = this.current_page;
      let numPages = this.numPages(total, perPage)
      let newData = []
      
      if (currentPage < 1) currentPage = 1;

      const s = Math.ceil((currentPage / perPage))
      const s2 = s - 1
      for (var i = (s2 * perPage); i < (s * perPage) && i < total; i++) {
        newData.push(i+1)
      }
      
      // console.log({
      //   total: total,
      //   perPage: perPage,
      //   currentPage: currentPage,
      //   numPages: numPages,
      //   data: newData,
      //   s: s
      // })
      return newData
    },
  },
  props: {
    total: {
      type: Number,
      default() {
        return 0
      }
    },
    per_page: {
      type: Number,
      default() {
        return 5
      }
    }
  }
}
</script>