<template>
  <layout showPage="orders">
    <div class="page-title">
      <h2>訂單查詢</h2>
    </div>
    <div id="contact-form-container" class="form-container">
      <div class="form-block form-complete">
        <h4 class="order-num">訂單編號：
          <span class="number" v-rHtml:text="info.no">11023028075</span>
          <small v-rHtml:text="info.createdAt">2020-06-14 14:37</small>
        </h4>
        <div class="form-row">
          <label class="col-sm-3 col-form-label" for="label">付款方式：</label>
          <div class="col-sm-9 controls">
            <p class="value" v-rHtml:text="info.paymentMethod">取貨付款</p>
          </div>
        </div>
        <div class="form-row">
          <label class="col-sm-3 col-form-label" for="label">結帳總金額：</label>
          <div class="col-sm-9 controls">
            <p class="value" v-rHtml:text="info.total">$9,900</p>
          </div>
        </div>
        <div class="form-row">
          <label class="col-sm-3 col-form-label" for="label">發票資訊：</label>
          <div class="col-sm-9 controls">
            <p class="value" v-rHtml:text="info.invoice">會員載具, 0911123456</p>
          </div>
        </div>
        <div class="form-row form-action">
          <label for="colFormLabel" class="col-sm-3 col-form-label"></label>
          <div class="col-sm-9 controls">
            <button type="button" class="btn" data-toggle="modal" data-target="#order-cancel">訂單取消</button>
          </div>
        </div>
      </div>
      <h4>運送資訊</h4>

      <div v-for="(item, key) in dataList" class="form-block delivery-block form-complete">
        <h4 v-rHtml:text="item.info.shippingMethod">全家店到店-常溫</h4>
        <div class="addresse-info">
          <div class="form-row">
            <label class="col-sm-3 col-form-label">收件資訊：</label>
            <div class="col-sm-9 controls">
              <p class="value" v-rHtml="address(item.info.recipient)">
                陳小美 0911123456<br>
                (018015)全家台中和順店
              </p>
            </div>
          </div>
          <div class="form-row">
            <label class="col-sm-3 col-form-label">備註：</label>
            <div class="col-sm-9 controls" v-rHtml="item.info.notes == null ? '' : item.info.notes">
              <p class="value">請盡快出貨</p>
            </div>
          </div>
        </div>
        <table class="data-table rwd-table" v-if="item.unshipped.length > 0">
          <thead>
            <tr class="cart_table_title">
              <th class="product-num"></th>
              <th class="product-name">商品</th>
              <th class="product-price">單價</th>
              <th>貨態</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(row, rK) in item.unshipped" class="cart_table_item">
              <td data-th="序號" class="product-num">1</td>
              <td class="product-name">
                <div class="pro-item">
                  <Img :src="row.photo" />
                  <div class="item-info">
                    <strong v-rHtml:text="row.name">手工訂製美甲 優惠現貨特價款 不退不換</strong>
                    <div class="spec" v-rHtml:text="row.spec">經典款 <small>/</small> XL</div>
                    <div class="qty">x {{row.amount}}</div>
                  </div>
                </div>
              </td>
              <td data-th="單價" class="product-price">
                <span class="new-price" v-rHtml:text="'$' + row.price">$590</span>
              </td>
              <td data-th="貨態" v-rHtml:text="row.status">訂單成立</td>
            </tr>
          </tbody>
        </table>

        <template v-for="(row, rK) in item.shipments" v-if="item.shipments.length > 0">
          <div class="delivery-schedule">
            <h4 class="d-flex">
              配送包裹 {{rK + 1}}
              <template v-if="!row.canReturn && !row.appliedReturn">
                <span>包裹查詢編號 : {{row.number}}</span>
              </template>
              <div class="action" v-else>
                <button class="btn btn-xs" data-toggle="modal" data-target="#return-instruction" data-dismiss="modal">
                  <i class="fa fa-question-circle"></i>退貨說明
                </button>
                <button v-if="!row.appliedReturn" class="btn btn-xs" @click.prevent="openModal('#order-return', row)">
                  <i class="fa fa-edit"></i>退貨申請
                </button>
              </div>
            </h4>
            <div class="d-md-none mb-2">
              <p class="lead">
                配送進度：
                <span v-rHtml="mobileRender(row.stage)"></span>
                <a class="btn btn-sm" @click.prevent="openModal('#delivery-schedule', row)" >
                  <i class="fa fa-truck"></i>詳細貨態
                </a>
              </p>
            </div>
            <flowChart :data="row.stage" class="d-none d-md-flex" />
            <table class="data-table rwd-table">
              <thead>
                <tr class="cart_table_title">
                  <th class="product-num"></th>
                  <th class="product-name">商品</th>
                  <th class="product-price">單價</th>
                  <th>貨態</th>
                </tr>
              </thead>
              <tbody>
                <tr class="cart_table_item" v-for="(sItem, sKey) in row.items">
                  <td data-th="序號" class="product-num" v-rHtml:text="sKey + 1">2</td>
                  <td class="product-name">
                    <div class="pro-item">
                      <Img :src="sItem.photo" />
                      <div class="item-info">
                        <strong v-rHtml:text="sItem.name">手工訂製美甲 優惠現貨特價款 不退不換</strong>
                        <div class="spec" v-rHtml:text="sItem.spec">經典款 <small>/</small> XL</div>
                        <div class="qty" v-rHtml:text="'x' + sItem.amount">x 10</div>
                      </div>
                    </div>
                  </td>
                  <td data-th="單價" class="product-price">
                    <span class="new-price" v-rHtml:text="'$' + sItem.price">$590</span>
                  </td>
                  <td data-th="貨態" v-rHtml:text="sItem.status">取件店關閉</td>
                </tr>
              </tbody>
            </table>
            <div class="total red">
              總金額：
              <span class="price" v-rHtml:text="subTotal(row.items)"><small>$</small>9,100</span>
            </div>
          </div>
        </template>

        <div class="total red">
          總金額：
          <span class="price"><small>$</small>{{item.info.total}}</span>
        </div>
      </div>

      <div class="form-block">
        <h4>購物說明</h4>
        <div class="form-group">
          <ol class="note">
            <li>商品送達門市時，系統會以簡訊及E-mail通知您取貨。</li>
            <li> 您可以隨時到本網站「訂單查詢」，查詢目前訂單處理進度。</li>
            <li>取貨時請告訴門市人員您的姓名，並於當場支付現金即可。</li>
            <li>如訂購之商品無法順利出貨或缺貨，我們將主動通知您並取消該訂購品項。</li>
            <li class="red">如您未前往門市取貨，累積2次退貨記錄後，將無法再使用超商取貨付款服務，請務必注意！</li>
          </ol>
        </div>
      </div>
    </div>

    <div id="return-instruction" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
         <div class="modal-header">
           <a class="close" data-dismiss="modal">×</a>
           <h4 class="modal-title" id="myModalLabel">退貨說明</h4>
         </div>
         <div class="modal-body">
          <div class="edit-block">
              <p style="text-align: center;">
                <Img src="/frontend/images/order-cancel.jpg" style="width: 500px"/>
              </p>
              <p>退貨是一種合約條款，是顧客在產品在保修期內將產品退還給商家並獲得退款。退貨是對產品質量的信心保證，是供應商給顧客的商業承諾。接受次品退貨是體現合約精神和商業信用。為保證少退貨或者零退貨，生產商必須在物料採購、生產加工、包裝、倉儲、物流等各個大小環節把關和全面品質管理。2017年3月15日起，中華人民共和國規定，該國的網絡商品銷售者必須履行7日無理由退貨義務。</p>
          </div>    
         </div>
         <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal">我知道了</button>
        </div>
       </div>
     </div>
    </div>

    <div id="order-return" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h4 class="modal-title" id="myModalLabel">退貨申請</h4>
          </div>
          <div class="modal-body">
            <div class="form-block return-block">
              <h4 class="d-flex">
                包裹 1
                <button class="btn btn-xs" data-toggle="modal" data-target="#return-instruction" data-dismiss="modal">
                  <i class="fa fa-question-circle"></i>退貨說明
                </button>
              </h4>
              <table class="shop-cart-table cart-table-m">
                <thead>
                  <tr class="cart_table_title">
                    <th class="product-name">商品</th>
                    <th class="product-price">數量</th>
                    <th>單價</th>
                  </tr>
                </thead>
                <tbody>
                  <formList @val="e => setVal(e, item)" :data="item" v-for="(item, key) in form.items" />
                </tbody>
              </table>
              <div class="total red">
                <ul v-rHtml="setInfo">
                  <li><strong>退貨數量：</strong><span class="price">1</span></li>
                  <li><strong>退貨總金額：</strong><span class="price"><small>$</small>9,100</span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-gry" data-dismiss="modal">取消</button>
            <button type="button" class="btn" @click.prevent="setRefundData(form)">確認退貨</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal end-->

    <!-- Modal end-->
    <div id="order-return-ok" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h4 class="modal-title" id="myModalLabel">退貨申請</h4>
          </div>
          <div class="modal-body">
            <div class="complete-block text-center">
              <p><Img src="/frontend/images/return-family.png" /></p>
              <p class="lead">請將商品妥善包裝並於 <strong class="red">7天內</strong> 至全家便利商店完成退貨寄件</p>
              <div class="action">
                <a href="#" class="btn btn-family" data-toggle="modal" data-target="#return-instruction"
                  data-dismiss="modal"><i class="fa fa-question-circle"></i>退貨說明</a>
                <a href="#" class="btn btn-family" data-toggle="modal" data-target="#how-to-return" data-dismiss="modal"><i
                    class="fa fa-question-circle"></i>如何寄件</a>
              </div>
    
            </div>
            <div class="form-block return-block">
              <h4 class="order-num">退貨寄件編號： <span class="number">11023028075</span></h4>
              <table class="shop-cart-table cart-table-m">
                <tbody>
                  <thead>
                    <tr class="cart_table_title">
                      <th class="product-name">商品</th>
                      <th class="product-price">數量</th>
                    </tr>
                  </thead>
                  <tr class="cart_table_item">
                    <td class="product-name">
                      <div class="pro-item">
                        <Img src="/frontend/images/style3/products/p1.jpg" class="item-thumbs" />
                        <div class="item-info">
                          <strong>手工訂製美甲 優惠現貨特價款 不退不換</strong>
                          <div class="spec">經典款 <small>/</small> XL</div>
                        </div>
                      </div>
                    </td>
                    <td data-th="數量" class="product-quantity">
                      <div class="quantity">
                        x 10
                      </div>
                    </td>
                  </tr>
                  <tr class="cart_table_item">
                    <td class="product-name">
                      <div class="pro-item">
                        <Img src="/frontend/images/style3/products/p1.jpg" class="item-thumbs" />
                        <div class="item-info">
                          <strong>手工訂製美甲 優惠現貨特價款 不退不換</strong>
                          <div class="spec">經典款 <small>/</small> XL</div>
                        </div>
                      </div>
                    </td>
                    <td data-th="數量" class="product-quantity">
                      <div class="quantity">
                        x 10
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
    
          </div>
          <div class="modal-footer">
            <button type="button" class="btn buy-now" data-dismiss="modal"><i class="fa fa-print"></i>列印畫面</button>
            <button type="button" class="btn" data-dismiss="modal">完成</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal end-->

    <div id="how-to-return" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
         <div class="modal-header">
           <a class="close" data-dismiss="modal">×</a>
           <h4 class="modal-title" id="myModalLabel">如何寄件</h4>
         </div>
         <div class="modal-body">
          <div class="edit-block">
              <p>1.於首頁點選『服務/寄件』</p>
              <p><Img src="/frontend/images/how-to-return.jpg" /></p>
              <p>2.點選『店到店寄件』</p>
              <p><Img src="/frontend/images/how-to-return.jpg" /></p>
          </div>    
         </div>
         <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal">我知道了</button>
        </div>
       </div>
     </div>
    </div><!-- Modal end-->

    <!-- 手機版進度查詢 -->
    <div id="delivery-schedule" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h4 class="modal-title" id="myModalLabel">配送包裹 1</h4>
          </div>
          <div class="modal-body">
            <p class="lead">包裹查詢編號 : {{form.number}}
              <button class="btn btn-outline btn-xs mt-0" @click.prevent="copyText">複製</button>
            </p>
            <div class="delivery-schedule p-0">
              <flowChart :data="stageData" />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal">關閉</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal end-->

    <!-- Modal -->
    <div id="order-cancel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h4 class="modal-title" id="myModalLabel">訂單取消</h4>
          </div>
          <div class="modal-body">
            <form role="form">
              <div class="row">
                <div class="col-lg-12 col-xl-10">
                  <div class="form-row">
                    <label class="col-sm-3 col-form-label"><small>*</small>取消原因：</label>
                    <div class="col-sm-9 controls">
                      <select class="form-control" v-model="form.reason">
                        <option value="">請選擇取消原因</option>
                        <option value="想要或已購買類似商品">想要或已購買類似商品</option>
                        <option value="尺寸版型不合/顏色不喜歡">尺寸版型不合/顏色不喜歡</option>
                        <option value="比價後價格偏高">比價後價格偏高</option>
                        <option value="對商品有疑慮">對商品有疑慮</option>
                        <option value="操作錯誤">操作錯誤</option>
                        <option value="其他">其他</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 col-xl-10">
                  <div class="form-row">
                    <label class="col-sm-3 col-form-label"><small>*</small>備註：</label>
                    <div class="col-sm-9 controls">
                      <textarea class="form-control" rows="10" placeholder="請輸入備註" v-model="form.note"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-gry" data-dismiss="modal">取消</button>
            <button type="button" class="btn" @click.prevent="cancelOrder">確認取消</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal end-->
    

  </layout>
</template>
<script>
import { watch, reactive, computed, getCurrentInstance } from 'vue'
import layout from '../Account/slot/accountLayout'
import formList from './slot/formList'
import { getOrderDetail, reFunds, orderCancel } from '@/Web/Config/api/account'
export default {
  setup(props, context) {
    const app = getCurrentInstance()
    const $this = app.appContext.config.globalProperties
    const data = getOrderDetail()

    const info = computed(() => {
      return typeof data.info == 'undefined' ? {} : data.info
    })

    const dataList = computed(() => {
      return typeof data.items == 'undefined' ? [] : data.items
    })

    const address = (r) => {
      return r.name + ' ' + r.phone + '<br/>' + Object.values(r.address).join(' ')
    }

    const subTotal = (r) => {
      let total = 0;
      r.forEach(item => total += parseInt(item.price))
      return '$' + total
    }

    const mobileRender = (r) => {
      let dataFilter = r.filter(s => s.status == 'last')
      if (dataFilter.length <= 0) return ''
      dataFilter = dataFilter[0]
      return `
        <span class="second-color">${dataFilter.name}</span> 
        <span class="date">${dataFilter.date}</span>
      `
    }

    let form = reactive({
      appliedReturn: false,
      canReturn: false,
      items: [],
      no: '',
      number: '',
      stage: [],
      reason: '',
      note: ''
    })

    const openModal = (bind, r) => {
      console.log({modal: r, v: form})
      let items = r.items
      items.forEach((row, key) => items[key]['order'] = {})
      form.appliedReturn = r.appliedReturn
      form.canReturn = r.canReturn
      form.items = items
      form.no = r.no
      form.number = r.number
      form.stage = r.stage
      $(bind).modal('show')
    }

    const stageData = computed(() => form.stage.reverse())

    const setInfo = computed(() => {
      const newForm = Object.assign({}, form)
      let items = []
      let subTotal = 0
      let subTotalPrice = 0
      newForm.items.forEach(item => {
        if(typeof item.order == 'undefined') return false
        if (!item.order.isSelect) return
        items.push(item)
        let price = parseInt(item.price)
        subTotal += item.order.amount
        subTotalPrice += (price / item.amount) * item.order.amount
      })
      console.log({setInfoComputed: form, checkItem: items})
      return `
        <li><strong>退貨數量：</strong><span class="price">${subTotal}</span></li>
        <li><strong>退貨總金額：</strong><span class="price"><small>$</small>${subTotalPrice}</span></li>
      `
    })

    // 復製文字
    const copyText = (el) => {
      el = el.currentTarget
      let parentEl = $(el).parent()
      const elText = $(el).parent().text().replace(/(包裹查詢編號|\s|:|複製)/g, '')
      console.log({copy: elText})
      var textarea = document.createElement('textarea');
      document.body.appendChild(textarea);
      textarea.style.position = 'absolute';
      textarea.style.clip = 'rect(0 0 0 0)';
      textarea.value = elText;
      var range = document.createRange();
      range.selectNode(textarea);
      var selection = window.getSelection();
      selection.removeAllRanges();
      selection.addRange(range);
      document.execCommand('copy');
      $(textarea).remove()
    }

    // 設定Val
    let sff = []
    const setVal = (data, row) => {
      row.order.reason = typeof data.reason !== 'undefined' ? data.reason : ''
      row.order.note = typeof data.note !== 'undefined' ? data.note : ''
      row.order.amount = typeof data.amount !== 'undefined' ? data.amount : ''
      row.order.maxAmount = data.maxAmount
      row.order.files = data.files
      row.order.id = data.id
      row.order.isSelect = data.isSelect
    }
    
    // 去全家
    const gotoFamialyMap = (el) => {
      console.log({gofm: el})
    }

    // 退貨送出
    const setRefundData = (data) => {
      const oldForm = Object.assign({}, data)
      let setData = { shipmentNo: oldForm.no, items: [] }
      oldForm.items.forEach(item => {
        if (typeof item.order == 'undefined') return false
        if (!item.order.isSelect || item.order.amount <= 0) return false
        setData.items.push(item.order)
      })
      console.log({sendForm: oldForm, sData: setData, c: $this})
      if (setData.items.length == 0) return $this.$swal('至少要選取一樣')
      reFunds(setData)
    }

    // 取消訂單
    const cancelOrder = () => {
      const orderInfo = info.value
      const oldForm = Object.assign({}, form)
      if (oldForm.reason == '' || oldForm.note == '') return $this.$swal('原因與備註不可空白')
      orderCancel(orderInfo.no, {
        reason: oldForm.reason, note: oldForm.note
      })
    }

    return {
      info, dataList, form,
      address,
      subTotal, mobileRender,
      openModal, copyText,
      gotoFamialyMap, setRefundData,
      setInfo, stageData, setVal,
      cancelOrder
    }
  },
  components: {
    layout, formList
  }
}
</script>
