<template>
  <layout showPage="orders">
    <div class="page-title">
      <h2>訂單查詢</h2>
    </div>
    <div id="contact-form-container" class="form-container">
      <div class="input-group filter order-filter mb-3">
        <input class="flatpickr flatpickr-input form-control" type="text" placeholder="訂購日期-起">
        <input class="flatpickr flatpickr-input form-control" type="text" placeholder="訂購日期-訖">
        <select class="form-control">
          <option value="">訂單編號</option>
          <option value="1">產品名稱</option>
        </select>
        <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="">
        <div class="input-group-append">
          <button class="btn" type="button"><i class="fa fa-search mr-0"></i></button>
        </div>
      </div>
      <table class="data-table rwd-table" id="my-orders-table">
        <thead>
          <tr class="cart_table_title">
            <th>序號</th>
            <th>訂單日期</th>
            <th>訂單編號</th>
            <th>數量</th>
            <th>訂單總額</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, key) in list">
            <td data-th="序號" v-rHtml:text="key + 1">1</td>
            <td data-th="訂單日期" v-rHtml:text="item.createdAt">2020-4-16 22:30:10</td>
            <td data-th="訂單編號" class="cart-detail">
              <InertiaLink :href="baseUrl + 'orders/'+item.no+'/edit'">
                <Img :src="item.photo" class="item-thumbs" />
                <strong v-rHtml:text="item.no">100000053</strong>
              </InertiaLink>
            </td>
            <td data-th="數量" v-rHtml:text="item.amount">5</td>
            <td data-th="訂單總額" v-rHtml:text="'$' + item.total"> $9,100</td>
          </tr>
        </tbody>
      </table>
      <div class="text-left mt-2">總共 {{list.length}}筆資料</div>
    </div>
  </layout>
</template>
<script>
import { computed } from 'vue'
import layout from '../Account/slot/accountLayout'
import { getOrder } from '@/Web/Config/api/account'
export default {
  setup() {
    const data = getOrder()

    const list = computed(() => {
      let item = typeof data.data == 'undefined' ? [] : data.data
      return item
    })
    return {
      list
    }
  },
  components: {
    layout
  }
}
</script>
