<template>
  <footer>
    <div class="footer footer-1">
      <div class="main-footer">
        <div class="container">
          <div class="main-footer-container row">
            <div class="footer-item col-lg-4 col-12">
              <div class="footer-item-content">
                <p>富群資訊，將客戶的問題視為自己的問題，將會提出不同的解決方案，我們不只是將事情做到更要做對做好。</p>
                <div class="footer-infopage">
                  <ul>
                    <li>
                      <i class="fa fa-map-marker"></i> 
                      <span v-rHtml:text="shopData.addressCombine">
                        台中市西屯區市政路500號24F-8號
                      </span>
                    </li>
                    <li>
                      <i class="fa fa-phone"></i>
                      <span v-rHtml:text="shopData.phone">04-22583569</span>
                    </li>
                    <li>
                      <i class="fa fa-envelope-o"></i>
                      <span>
                        <a :href="'mailto:' + shopData.emaail" v-rHtml:text="shopData.email">
                          service@fortune-inc.com
                        </a>
                      </span>
                    </li>
                  </ul>
                </div>
                <div class="footer-social">
                  <div class="social-item" v-for="(item, key) in shopData.socialMedias.links">
                    <a :href="item.uri" target="new">
                      <i class="fa" :class="'fa-' + item.type"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-item col-lg-2 col-md-3 col-sm-3 col-6">
              <h6 class="footer-item-heading">
                客戶服務
              </h6>
              <div class="footer-item-content">
                <ul class="footer-list">
                  <li>
                    <InertiaLink :href="baseUrl + 'orders'">
                      訂單查詢
                    </InertiaLink>
                  </li>
                  <li>
                    <InertiaLink :href="baseUrl + 'register'">
                      會員註冊
                    </InertiaLink>
                  </li>
                </ul>
              </div>
            </div>
            <div class="footer-item col-lg-2 col-md-3 col-sm-3 col-6">
              <h6 class="footer-item-heading">
                購物說明
              </h6>
              <div class="footer-item-content">
                <ul class="footer-list">
                  <!-- <li><a href="faq.html">常見問題</a></li> -->
                  <li>
                    <InertiaLink :href="baseUrl + 'contact'">
                      隱私權/服務條款
                    </InertiaLink>
                  </li>
                </ul>
              </div>
            </div>
            <div class="footer-item col-lg-4 col-md-6 col-sm-6 col-12">
              <div class="footer-item-content">
                <!-- <Facebook :src="shopData.socialMedias.plugin.uri" /> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sub-footer">
        <div class="container">
          <div class="copy-right">
            2021 © <a href="#">好匯賣</a>
            <span>All Rights Reserved.</span>
          </div>
        </div>
      </div>
    </div>
    <div class="fixed-button">
      <ul class="button-menu">
        <li>
          <InertiaLink :href="baseUrl + 'login'"><i class="fa fa-user"></i>登入/註冊</InertiaLink>
        </li>
        <li>
          <InertiaLink :href="baseUrl + 'shopping/cart'">
            <i class="fa fa-shopping-bag"></i>購物車 
            <span class="badge c-bg-red" v-rHtml:text="cartData.data.length">5</span>
          </InertiaLink>
        </li>
        <li>
          <InertiaLink :href="baseUrl + 'orders'"><i class="fa fa-file-text-o"></i>
            訂單查詢
          </InertiaLink>
        </li>
      </ul>
    </div>

    <!-- back to top -->
    <transition name="fade">
    <a href="javascript:;" class="to-top" v-show="isShow" @click.prevent="goTop()">
      <span class="bounce">
        <Img src="/frontend/images/icon/to_top.png" alt="To top" />
      </span>
    </a>
    </transition>
    <!-- End back to top -->
  </footer>
</template>
<script>
import {ref, getCurrentInstance, computed} from 'vue'
import { getShop } from '@/Web/Config/api/global'
import { getCartData } from '@/Web/Config/api/cart'
export default {
  setup() {
    const app = getCurrentInstance()
    const $this = app.appContext.config.globalProperties

    let isShow = ref(false)
    const handleScroll = (event) => {
      if (window.scrollY > 600) {
        isShow.value = true
      } else {
        isShow.value = false
      }
    }

    const cartData = computed(() => getCartData())

    const goTop = () => {
      $('html, body').stop().animate({ scrollTop: 0 }, 800)
    }

    const shopData = computed(() => getShop())

    return {
      cartData, goTop,
      isShow, handleScroll,
      shopData
    }
  },
  created () {
    window.addEventListener('scroll', this.handleScroll);
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll);
  },
}
</script>
<style scoped>
  .to-top {
    display: block;
  }
</style>