<template>
  <ul>
    <li v-for="(sItem, sKey) in data" :class="checkStatusClass(sItem.status)">
      <span class="step"></span>
      <div class="title">
        <span class="status" v-rHtml:text="sItem.name">訂單成立</span>
        <span class="date" v-rHtml:text="sItem.date">
          02/25<small>12:00</small>
        </span>
        <button @click.prevent="gotoFamialyMap" class="btn btn-xs" v-if="typeof sItem.button !== 'undefined'">
          {{sItem.button.label}}
        </button>
        <span v-if="typeof sItem.message !== 'undefined'" class="info" :class="sItem.message.color" v-rHtml="sItem.message.text">
          修改取件店:<br>(019210)<br>全家台中水景店
        </span>
      </div>
    </li>
  </ul>
</template>
<script>
export default {
  setup() {
    const checkStatusClass = (r) => {
      if (r == 'done') return 'active'
      if (r == 'last') return 'active current'
      else return ''
    }
    return {
      checkStatusClass
    }
  },
  props: {
    data: {
      type: Array,
      default: []
    }
  }
}
</script>