<template>
  <div :class="fbType == 'group' ? 'fb-group' : 'fb-page'" :data-href="src" data-tabs="timeline" data-width=""
    data-height="250" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
    data-show-facepile="true" data-show-metadata="false" data-lazy="true">
    <blockquote :cite="src" class="fb-xfbml-parse-ignore">
      <a :href="src">Facebook</a>
    </blockquote>
  </div>
  <!-- <div class="fb-group" 
    data-href="https://www.facebook.com/groups/ayearofrunning/" data-width="280"
    data-show-metadata="false">
    <blockquote cite="https://www.facebook.com/groups/ayearofrunning/" 
      class="fb-xfbml-parse-ignore">A Year of Running
    </blockquote>
  </div> -->
  <div id="fb-root"></div>
</template>
<script>
import {ref, computed} from 'vue'
export default {
  setup(props) {
    const jsID = 'facebook-jssdk'
    let js = document.getElementById(jsID)
    if (js !== null) {
      window.FB = null
      js.remove()
    }
    if (!window.FB && props.src !== '') {
      window.fbAsyncInit = function() {
        FB.init({
          appId: "", // 填入自己 app 的 id
          cookie: true,
          xfbml: true,
          async: true,
          autoLogAppEvents: true,
          version: "v2.11" // 目前版本
        });
        window.dispatchEvent(new Event('fb-sdk-ready'))
      };
      js = document.createElement('script')
      js.setAttribute('id', jsID)
      js.setAttribute('src', 'https://connect.facebook.net/zh_TW/sdk.js')
      document.body.appendChild(js)
    }

    const fbType = computed(() => {
      if (props.src.indexOf('/groups/') > 0) {
        return 'group'
      } else {
        return 'facebook'
      }
    })

    return {
      fbType
    }
  },
  props: {
    src: {
      type: String,
      default() {
        return 'https://www.facebook.com/facebook'
      }
    },
  }
}
</script>