<template>
  <div class="quantity">
    <span class="sub" @click.prevent="inputVal--">
      <i class="fa fa-angle-down"></i>
    </span>
    <input type="number" v-model="inputVal">
    <span class="add" @click.prevent="inputVal++">
      <i class="fa fa-angle-up"></i>
    </span>
  </div>
</template>
<script>
import { ref, computed } from 'vue' 
export default {
  setup(props, {emit}) {
    let inputVal = computed({
      get: () => props.modelValue,
      set: val => {
        let maxVal = props.max;
        maxVal = typeof maxVal == 'string' ? parseInt(maxVal) : maxVal
        if (val < 0) val = 0
        else if (val > maxVal) val = maxVal
        console.log({com: val})
        emit('onChange', val)
        emit('update:modelValue', val)
      }
    })
    return {inputVal}
  },
  emits: ['update:modelValue', 'onChange'],
  props: {
    modelValue: {
      type: [Number, String],
      default: 0
    },
    max: {
      type: [Number, String],
      default: '1'
    }
  }
}
</script>